<apex:page controller="AA_HolidayScheduleControllerv1" Id="mainPage" showHeader="true" sidebar="false">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>  
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>  
   
    
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />   
    <apex:stylesheet value="{!$Resource.RM_Style}"/>    
    <apex:form id="Holidayfrm">     
        <script type="text/javascript">
             var j$ = jQuery.noConflict(); 
              jtable(); 
                 
            function jtable(){
               // alert("test")
                j$(document).ready(function(){
                    j$("Table[id$=displayTable]").dataTable({                             
                        "sPaginationType": "full_numbers",
                        "bFilter": true,                
                        "iDisplayLength": 25,
                        "aaSorting": [ [4,'asc'] ],
                        "oLanguage": {    "sSearch": "Find  " }
                    } );
                });  
            } 
            function jDatePicker(){
                j$(document).ready(function(){
                   j$("[id$=date_1]").datepicker({                        
                       changeMonth: true,
                       changeYear: true});             
                  
                });
             }  
        </script>
  
   
        <apex:pageBlock title="Location">
            <table width = "80%">
                <td class="label">Country</td>
                <td><apex:selectList size="1" value="{!SelectedCountry}" multiselect="false" > 
                        <apex:selectOptions value="{!CountryList}"/>
                        <apex:actionSupport event="onchange"   reRender="State"/>        
                    </apex:selectList></td>
                <td class="label">Year</td>
                <td> <apex:selectList size="1" value="{!SelectedYear}"  > 
                        <apex:selectOptions value="{!YearList}"/>
                    </apex:selectList></td>
                <td><apex:commandButton value="Search" action="{!displayCountryHoliday}"  rerender="HolidayTableID" oncomplete="javascript:jtable(); return false;"/>
                 
                    <apex:commandButton value="Clear" action="{!resetCountryHoliday}" rerender="HolidayTableID" oncomplete="javascript:jtable(); return false;" />    
               </td>        
            </table>
                    
       </apex:pageBlock>     
        <apex:outputPanel id="outerPanelID">
        
        <apex:pageBlock id="inpBlock" title="Holiday Information" rendered="{!isSaveEdit}" >
            <apex:pageMessages id="msgSaveID"></apex:pageMessages> 
             <apex:pageBlockSection columns="1" id="pbs"> 
                 <apex:pageBlockSectionItem > 
                    <apex:outputLabel >State/Province</apex:outputLabel>                  
                    <apex:selectList style="width:150px" size="5" multiselect="true" id="State" value="{!selectedState}" >
                        <apex:selectOptions value="{!StateList}">           
                        </apex:selectOptions> 
                    </apex:selectList> 
                </apex:pageBlockSectionItem> 
                 <apex:pageBlockSectionItem >     
                     Holiday Name <apex:inputText value="{!holidayName}" id="holidayNameID"/>
                 </apex:pageBlockSectionItem> 
                 <apex:pageBlockSectionItem >           
                     <apex:outputLabel value="Date" /> <apex:inputText value="{!holidayDate}" id="date_1" />
                 </apex:pageBlockSectionItem> 
                 <apex:pageBlockSectionItem > 
                    <apex:outputLabel > Holiday Duration</apex:outputLabel>                  
                    <apex:selectList size="1" id="duration" value="{!holidayDuration}" >
                        <apex:selectOptions value="{!DurationList}">           
                        </apex:selectOptions> 
                    </apex:selectList> 
                </apex:pageBlockSectionItem> 
               </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">         
                <apex:commandButton value="Save" action="{!saveOrEditFunc}" reRender="HolidayTableID, outerPanelID" id="SaveId" oncomplete="javascript:jtable(); return false;"/>
                <apex:commandButton value="Save and New"  action="{!saveAndNewFunc}" reRender="displayTable, outerPanelID" oncomplete="javascript:jDatePicker(); return false;"/>
                <apex:commandButton value="Cancel" action="{!cancelFunc}" reRender="outerPanelID, HolidayTableID" oncomplete="javascript:jtable(); return false;"/>  
            </apex:pageBlockButtons>  
        </apex:pageBlock>
      </apex:outputPanel>
     
    <apex:pageBlock title="View Holidays" id="HolidayTableID"  >  
        
        <apex:commandButton value="Approve" style="float:right"  action="{!ApproveAll}" onclick="if(!confirm('Are you sure?')){return};" reRender="displayTable" /> 
        <apex:commandButton value="Clone All" style="float:right" action="{!cloneAll}" reRender="holidayTableID" oncomplete="javascript:jtable(); return false;"/>
        <apex:commandButton value="Add New" style="float:right" action="{!AllowAdd}" id="addWindow" reRender="outerPanelID" oncomplete="javascript:jDatePicker(); return false;"/>
        
        <apex:pageBlockTable value="{!holidaysDisplay}"  var="holSch" id="displayTable">
           
            <apex:column headerValue="Action">
                 <apex:commandLink value="Edit " action="{!Edit}"  oncomplete="javascript:jDatePicker(); return false;" reRender="outerPanelID" >
                     <apex:param name="paramEdit" value="{!holSch.id}" assignTo="{!paramEdit}"/>                   
                 </apex:commandLink> &nbsp;          
                 <apex:commandLink value="Delete" action="{!Del}" onclick="if(!confirm('Are you sure?')){return};" reRender="HolidayTableID" oncomplete="javascript:jtable(); return false;" >  
                    <apex:param name="paramDel" value="{!holSch.id}" assignTo="{!paramDel}"/>     
                 </apex:commandLink> &nbsp; 
                 <!--<apex:commandLink value="Clone" action="{!cloneEntry}" reRender="pbTid,pnlgrd,outerPanelID" >
                    <apex:param name="paramClone" value="{!holSch.id}" assignTo="{!paramClone}" />
                 </apex:commandLink>   -->
            </apex:column>
            <apex:column value="{!holSch.Holiday_Country_State__r.Country__r.name}" >                 
                 <apex:facet name="header">Country</apex:facet> 
            </apex:column>         
            <apex:column value="{!holSch.Holiday_Country_State__r.State_Province__r.name}">                 
                 <apex:facet name="header">State</apex:facet> 
            </apex:column>
            <apex:column value="{!holSch.Holiday_Name__c}">                
                      
                 <apex:facet name="header">Holiday Name</apex:facet> 
            </apex:column> 
            <apex:column value="{!holSch.Holiday_Date__c}">                
                 <apex:facet name="header">Date</apex:facet> 
            </apex:column>                   
            <apex:column value="{!holSch.Duration_of_Day__c}">                 
                 <apex:facet name="header">Duration</apex:facet> 
            </apex:column>  
            <apex:column value="{!holSch.Status__c}">                 
                 <apex:facet name="header">Status</apex:facet> 
            </apex:column>   
          </apex:pageBlockTable>             
        
        </apex:pageBlock>
              
  </apex:form>
</apex:page>