<apex:page controller="BDT_NewEditSponsor" showHeader="false">
  	<apex:composition template="BDT_GeneralTemplate">
	    <apex:define name="MainContent">
			<apex:form rendered="{!securitiesA.ReadPriv}">
				<div class="BDT_Container">
	        		<c:BDT_PageBlockHeader sectionHeading="New Sponsor" rendered="{!ISNULL(sponsor.id)}"/>
	        		<c:BDT_PageBlockHeader sectionHeading="Edit Sponsor" rendered="{!NOT(ISNULL(sponsor.id))}"/>
			        	<div class="cPbBody">
			        		<apex:panelGrid columns="2" styleClass="BDT_EditTable">
					    		<apex:outputText value="Name" />
					             <apex:inputText value="{!sponsor.name}" style="Width:300px"/>
					             <apex:outputText value="Abbreviation"/>
					             <apex:inputText value="{!sponsor.Abbreviation__c}" style="Width:100px"/>
					    	</apex:panelGrid>
				  		</div>
			    		<div class="BDT_PageBlockFooter">
			    			<table cellspacing="0" cellpadding="0" border="0" >
			        			<tr >
					        		<td class="cPbButton" >
					        			<apex:commandLink styleClass="BDT_BlueButton" value="Cancel" action="{!cancel}">
			        					  <apex:image value="{!URLFOR($Resource.BDT_nav_files, '/img/button_icons_15x15/cancel-icon.png')}"/>
			        					</apex:commandLink>
					        		</td>
					        		<td class="cPbButton" >
					        			<apex:commandLink styleClass="BDT_BlueButton" value="Save" action="{!save}" rendered="{!securitiesA.CreatePriv||securitiesA.UpdatePriv}">
			        						<apex:image value="{!URLFOR($Resource.BDT_nav_files, '/img/button_icons_15x15/save.png')}"/>
			        					</apex:commandLink>
					        		</td>
					        		<td class="cPbButton" >
					        			<apex:commandLink styleClass="BDT_RedButton" value="Delete" action="{!deleteSoft}" rendered="{!NOT(ISNULL(sponsor.id))&&securitiesA.DeletePriv}">
			        					  <apex:image value="{!URLFOR($Resource.BDT_nav_files, '/img/button_icons_15x15/delete-icon.png')}"/>
			        					</apex:commandLink>
					        		</td>
					        	</tr>
			        		</table>
			    		</div>
			 	</div>
			</apex:form>
		</apex:define>
	</apex:composition>	
</apex:page>