<apex:page controller="BDT_FinancialDocDownloadController" showHeader="false" renderAs="pdf">
	
	<head>
		<style type="text/css">
		
		@page { 
			/*The A4 paper size is 210 mm wide by 297 mm long*/
			/*The Letter paper size is 215.9 mm wide by 279.4 mm long */
			size: {!paperSize}; 
			margin: 15mm;
			margin-top:20mm;
		
			@top-right { content: "{!financialDocument.DocumentType__c} for '{!financialDocument.Name}'";
						 font-size: 8pt;
						 /*font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;*/
						 font-family: Sans-serif;
						 color:#808080;
						/* border-bottom:0.4pt solid #000000;*/
						}
						
		/*	
			@top-left { content: "url({!URLFOR($Resource.BDT_nav_files,'img/check_on_progress.png')})";
						 font-size: 8pt;
						 font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
						 color:#808080;
						 border-bottom:0.4pt solid #000000; 
						} */
		
			@bottom-left {  content: "{!currentDateString}";
							font-size: 8pt;
							/*font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;*/
							font-family: Sans-serif;
							color:#808080;
							} 	
			
			@bottom-center { content:"{!financialDocument.DocumentType__c} {!IF(financialDocument.ApprovalStatus__c=='Accepted', '', '(not approved)')}";
							font-size: 8pt;
							/*font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;*/
							font-family: Sans-serif;
							color:{!IF(financialDocument.ApprovalStatus__c=='Accepted','#808080','red')};
							}
		
			@bottom-right { content: "Page " counter(page) "/" counter(pages);
							font-size: 8pt;
							/*font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;*/
							font-family: Sans-serif;
							color:#808080;
							}
		}
		
		
		@page :first {
			/*The A4 paper size is 210 mm wide by 297 mm long*/
			/*The Letter paper size is 215.9 mm wide by 279.4 mm long */
			size: {!paperSize}; 
			margin: 0mm;
			/*margin-bottom:15mm;*/
			
			@top-right {content: ""; border-bottom:none;}
			@bottom-left {content: "This proposal and its contents are confidental and proprietary to PRA. This proposal may contain privileged, confidential, or trade secret information that is protected from disclosure by law.";
						font-size: 8pt;
						padding-left:44pt;
						padding-right:40pt;
						/*font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;*/
						font-family: Sans-serif;
						color:rgb(190,190,190);	
			} 	
			@bottom-center {content:"";}
			@bottom-right {content: "";}
		}
		
		@page rotated {
			size:{!paperSize} landscape;
			margin:20mm 15mm 15mm 15mm;
		}
		
		div.rotatedDiv
		{
			page:rotated;
			width:920px;
		}
		
		.pageBreakBefore {page-break-before: always;}
		.pageAutoBreakBefore {page-break-before: auto;}
		
		body {/*font-family: "Arial",Sans-Serif;*/font-family: Sans-serif; font-size: 14px; }
				
		/*
		@font-face 	{font-family:Cambria;
					panose-1:2 4 5 3 5 4 6 3 2 4;} */
		
		/*div{max-width:665px}*/
		
		div.warningTitleText {color:red;
							margin-top:0px;
							text-align:center;
							max-width:665px;}
		
		div.reportTitle {/*font-family: "Calibri",Serif;*/
						font-family: Sans-serif;
						font-size:36pt;
						font-weight:bold;
						color:rgb(46,89,150);
						text-align:center;
						margin-bottom:10px;
						padding:5px;
						margin-left:auto;
						margin-right:auto;
						max-width:665px;}
		
		div.reportSubTitle {/*font-family: "Calibri",Serif;*/
						font-family: Sans-serif;
						font-size:10pt;
						font-weight:bold;
						color:rgb(46,89,150);
						padding-left:4.0pt;
						margin-left:40pt;
						margin-right:40pt;
						margin-top:20px;
						margin-bottom:2px;
						max-width:665px;}
						
		div.reportParagraph {/*font-family: "Calibri", Serif;*/
						font-family: Sans-serif;
						font-size:10pt;
						color:rgb(46,89,150);
						padding-left:4.0pt;
						margin-left:40pt;
						margin-right:40pt;
						max-width:665px;}
					
		div.sectionTitle {font-size:24pt;
						color:rgb(0,51,102);
						/*font-family: "Calibri", Serif;*/
						font-family: Sans-serif;
						border-bottom:1.5pt solid #DF7A1C;
						padding:0in 4.0pt 1.0pt 4.0pt;
						letter-spacing:1pt;
						margin-bottom:15pt;
						/*margin-top:25pt;*/
						max-width:665px;}
		
		div.sectionSubTitle {font-size:16pt;
						color:rgb(0,51,102);
						/*font-family:"Cambria", Serif;*/
						font-family: Sans-serif;
						padding-left:4.0pt;
						margin-bottom:15px;
						max-width:665px;}
						
		div.sectionSubTitleHeader {font-size:12pt; 
							color:rgb(0,51,102);
							/*font-family:"Calibri",Serif;*/
							font-family: Sans-serif;
							padding-left:4.0pt;
							margin-bottom:6px;
							max-width:665px;}
						
		div.sectionParagraph {font-size:10pt;
						//text-align: justify;
						color:rgd(0,0,0);
						/*font-family:"Calibri", Serif;*/
						font-family: Sans-serif;
						padding-left:4.0pt;
						margin-bottom:30pt;
						max-width:665px;}
						
		div.flowChartDiv {border:1px solid #E0E0E0;
				font-size:12px;
				min-height:30px;
				text-align:center;
				vertical-align:middle;
				padding:4px 2px;
				overflow:hidden;
				max-width:665px;}
		
		div.titleDiv {border:none;
				color:rgb(46,89,150);
				font-size: 12px;
				font-weight: bold;
				padding: 4px;
				text-align:center;
				overflow:hidden;
				background-color:#E3E8F2;
				max-width:665px;}
		
		.underlinedText{text-decoration:underline;}
		
		.verticalTopAlign{vertical-align:text-top;}
		
		table {
		    border-collapse: collapse;
		    /*font-family: "Calibri", Serif;*/
		    font-family: Sans-serif;
		    font-size: 10pt;
		    margin: 20px 0pt 30pt 0pt;
		    text-align: left;
		    max-width:665px;
		    min-width:350px;
		}
		
		table th {
		    background: none repeat scroll 0 0 #E3E8F2;
		    border-top: 1px solid #E3E8F2;
		    border-left:0.5px solid #E0E0E0;
		    color:rgb(46,89,150);
		    font-size: 10pt;
		    font-weight: bold;
		    padding: 4px;
		}
		
		table th.sideTitleTh {
			width:120px;
			border-left:none;
			vertical-align:text-top;
			padding-top:2px;
			padding-bottom:2px;
		}
		
		table th.borderLeftNoneTh {
			border-left:none;
		}
		
		table th.borderLeftDoubleTh {
			border-left:4px double #E0E0E0;
		}
		
		table th.upperRowHeader { 
		    border-bottom: none;
		    padding-bottom: 0px;
		}
		
		table th.downRowHeader {
		    border-top: none;
		    padding-top: 0px;
		}
		
		table td.evenRowCell {
			background-color:#F6F6F6;
			color:#000000;
			font-size:10pt;
			padding:2px 4px 2px 4px;
			vertical-align:text-top;
			border-left:0.5px solid #E0E0E0;
		}
		
		table td.oddRowCell {
			background-color:#FFFFFF;
			color:#000000;
			font-size:10pt;
			padding:2px 4px 2px 4px;
			vertical-align:text-top;
			border-left:0.5px solid #E0E0E0;
		} 
		
		table td.sumResultCell {
			color:rgb(46,89,150);
			text-align:right;
		}
		
		table td.servicesCell {
			font-size:9pt;
			padding:1px 4px 1px 4px;
		}
		
		table td.sideTitleTd {
			width:150px;
			border-left:none;
		}
		
		.textAlignRightClass {
			text-align:right;
		}
		
		.textAlignCenterClass {
			text-align:center;
		}
		
		table td.borderLeftNoneCell {
			border-left:none;
		}
		
		table td.borderLeftDoubleCell {
			border-left:4px double #E0E0E0;
		}
		
		table td.valueCurrencyCell {
			border:none;
			padding-top:0px;
			padding-bottom:0px;
		}
		
		table td.flowChartCell {
			background-color:#FFFFFF;
			padding:0.5px;
			vertical-align:text-top;
			border:0.5px solid #E0E0E0;
		}
		
		table td.armEpochCell{
			background-color:#E3E8F2;
			color:rgb(46,89,150);
		    font-weight: bold;
			border-bottom:0.5px solid #E0E0E0;
			text-align:center;
			padding:0.5px;
		}
		
		table td.srvCatCell {
			background-color:#CCCCCC;
			color:#000000;
			font-size:10pt;
			padding:2px 4px 2px 4px;
			vertical-align:text-top;
			border-left:0.5px solid #E0E0E0;
		}
		
		table td.uppestSrvCatCell {
			background-color:#6699CC;
			color:#FFFFFF;
			font-size:10pt;
			padding:2px 4px 2px 4px;
			vertical-align:text-top;
			border-left:0.5px solid #E0E0E0;
		}
		
		
		.boldClass {font-weight:bold;}
		
		.rightTextAling{text-align:right;}
		
		table td.infoCell {
			background-color:#FFFFFF;
			color:#000000;
			font-size:12px;
			padding-top: 4px;
			padding-bottom: 4px;
			vertical-align:text-top;
			border:none;
		}
		
		table td.titleCell {
			background-color:#FFFFFF;
			color:#808080;
			font-size:14px;
			padding-top: 4px;
			padding-bottom: 4px;
			width: 250px;
			text-align: right;
			vertical-align:text-top;
			border:none;
		}
		
		table td.titleResultCell {
			background-color:#FFFFFF;
			color:#808080;
			font-size:14px;
			padding-top: 4px;
			padding-bottom: 4px;
			padding-left:10px;
			border:none;
		}
		
		table.grayStyleTable {width:670px}
		
		table.interiorTable {margin:0px;
						min-width:0px;
		}
		
		table td.grayColorCell {
			background-color:#D0D8E8;
		}
		
		table td.grayStyleCell {
			background-color:#D0D8E8;
			color:#000000;
			font-size:10;
			padding:4px;
			vertical-align:text-top;
			border:0.5pt solid rgb(128,128,128); 
		}	
		table td.lightGrayStyleCell {
			background-color:#E9EDF4;
			font-weight:bold;
		}	
		
		ul {
			list-style-type:none;
			padding: 0px;
			margin: 0px;
		}	
				
		ul.discClass{
			list-style-type:disc;
			padding-left:8px;
			padding-right:4px;
		}
		
		ul li {
			padding-bottom:2px;
		}
		
		.lastOfSection {
			margin-bottom:0px;
		}
		
		/* Design styling */
		div.BDT_DesignDiv {max-width:920px;}
		table.BDT_DesignTable {min-width:0;max-width:none;margin-bottom:0px;}
		table.BDT_DesignTable tr {height: 17px;}
		table.BDT_DesignTable tr td {padding:1.5px;border:0px;border-right:1px solid #d3d3d3;font-size:12px;text-align:center;vertical-align:middle;width:14px;max-width:14px;}
		table.BDT_DesignTable .newday {border-left:2px solid #6699CC;}
		table.BDT_DesignTable tr td:first-child {text-align:left;width:200px}
		
		table.BDT_DesignTable th {padding:0px 1.5px;font-size:12px;text-align:center;width:14px;max-width:14px;font-weight:normal;}
		table.BDT_DesignTable .repeatNumber {color:#d3d3d3;}
		table.BDT_DesignTable th:first-child {padding:0px 4px;border:none;text-align:right;background-color:#FFFFFF;font-weight:bold;width:200px}
		
		table.BDT_DesignTable tr th {border-bottom:1px solid #d3d3d3;}
	
		span.assesments {color:#6699cc; font-size:12px; float:right; margin-right:1.5px}
		span.selectedTP {color:#6699cc; font-size:12px; font-weight:bold;}
		</style>

	</head>

	<body>
		<!-- ----------------------------- Cover page ----------------------------- -->
		<apex:outputPanel id="titlePage">
			<apex:image value="{!URLFOR($Resource.BDT_nav_files, '/img/PRA_CoverPage.png')}" style="margin-top:-10px;margin-left:-10px;text-align:left"/>
			<apex:outputPanel rendered="{!showWarningTextFlag}">
				<div class="warningTitleText">WARNING: {!financialDocument.DocumentType__c} created while some sections where not completed/approved!!!</div>
			</apex:outputPanel>
			<div class="reportTitle">{!financialDocument.DocumentType__c}</div>
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['FrontPageChk'].checkFlag, true)}">
				<div class="reportSubTitle">{!financialDocument.DocumentType__c} for '{!financialDocument.Name}':</div>
				<div class="reportParagraph">{!UPPER(singleProject.Project_Description__c)}</div>
				<div class="reportSubTitle">Project:</div>
				<div class="reportParagraph">{!singleProject.Code__c}</div>
				<div class="reportSubTitle">Studies:</div>
				<div class="reportParagraph">
					<ul>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<li>{!RIGHT(stl.proposalStudy.Code__c,2)} - {!stl.proposalStudy.Title__c}</li>
						</apex:repeat>
					</ul>
				</div>
				<div class="reportSubTitle">Sponsor:</div>
				<div class="reportParagraph">
					{!IF(singleProject.Client__c != null && singleProject.Client__c != '', singleProject.Client__r.Name, '')}
				</div>
				<div class="reportParagraph lastOfSection" style="margin-top:50px">
					{!currentDateCoverPageString}
				</div>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- START: --------------------------------------- Introduction --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['GeneralChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Introduction</div>
<!-- START: Strategic Information --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['StrategicInfoChk'].checkFlag, false)}">
				<div class="sectionSubTitle" style="margin-bottom:0px;">Strategic Information</div>
				<div class="sectionParagraph">
					<apex:outputField value="{!findocContent.StrategicInformation__c}"/>
				</div>
			</apex:outputPanel>
<!-- END: Strategic Information --------------------------------------- -->
<!-- START: Contact Details --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['ContactDetailsChk'].checkFlag, false)}">
				<div class="sectionSubTitle" style="margin-bottom:0px;">Contact Details</div>
				<div class="sectionParagraph lastOfSection">
					<apex:outputField value="{!findocContent.ContactDetails__c}"/>
				</div>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- END: Contact Details --------------------------------------- -->
<!-- END: --------------------------------------- Introduction --------------------------------------- -->
<!-- START: --------------------------------------- Summary --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['SummaryChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Summary</div>
<!-- START: Project Description --------------------------------------- -->
			<div class="sectionSubTitle">Project Description</div>
			<div class="sectionParagraph">
				 {!singleProject.Project_Description__c}
			</div>
<!-- END: Project Description --------------------------------------- -->
<!-- START: Sites --------------------------------------- -->
			<div class="sectionSubTitle">Sites</div>
			<table>
				<tr>
					<th class="borderLeftNoneTh">Studies</th> 
					<th>Site(s)</th>
				</tr>
				<apex:variable var="RowIndex" value="{!0}"/>
				<apex:repeat value="{!studiesListWr}" var="stl">
					<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
					<tr>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
							{!stl.proposalStudy.Title__c}
						</td>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}" style="padding-left:10px">
							<ul class="discClass"> 
								<apex:repeat value="{!stl.siteToStudyList}" var="site">
									 <li>{!site.Site__r.Name}</li> 
								</apex:repeat>
							</ul>
						</td>
					</tr>
					<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
				</apex:repeat>
			</table>
<!-- END: Sites --------------------------------------- -->
<!-- START: Populations --------------------------------------- -->
			<div class="sectionSubTitle">Populations</div>
			<table>
				<tr>
					<th class="borderLeftNoneTh">Studies</th> 
					<th>Population(s)</th>
				</tr>
				<apex:variable var="RowIndex" value="{!0}"/>
				<apex:repeat value="{!studiesListWr}" var="stl">
					<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
					<tr>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
							{!stl.proposalStudy.Title__c}
						</td>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}" style="padding-left:10px">
							<ul class="discClass"> 
								<apex:repeat value="{!stl.popToStudyNumList}" var="pop">
									 <li>{!pop}</li> 
								</apex:repeat>
							</ul>
						</td>
					</tr>
					<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
				</apex:repeat>
			</table>
<!-- END: Populations --------------------------------------- -->
<!-- START: Timelines --------------------------------------- -->
			<div class="sectionSubTitle">Timelines</div>	
			<table> 
				<tr>
					<th class="borderLeftNoneTh">Milestones</th> 
					<apex:repeat value="{!studiesListWr}" var="stl">
						<th>{!stl.proposalStudy.Title__c}</th>
					</apex:repeat>
				</tr>
				<apex:variable var="RowIndex" value="{!0}"/>
				<apex:repeat value="{!mileStoneToStudiesList}" var="mst"> 
					<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
					<tr>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!mst.mileStoneName}</td>
						<apex:repeat value="{!mst.mileStoneDueDateList}" var="mstDate"> 
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">{!mstDate}</td>
						</apex:repeat>
					</tr>
					<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
				</apex:repeat>
			</table>
<!-- END: Timelines --------------------------------------- -->
<!-- START: Costs --------------------------------------- -->
			<div class="sectionSubTitle">Costs</div>
			<table class="lastOfSection">
				<tr>
					<th class="borderLeftNoneTh">Studies</th>
					<apex:repeat value="{!studiesListWr}" var="stl">
						<th class="textAlignCenterClass">{!stl.proposalStudy.Title__c}</th>
					</apex:repeat>
					<th class="borderLeftDoubleTh textAlignCenterClass">Project</th>
				</tr>
				<tr>
					<td class="oddRowCell borderLeftNoneCell">Costs PRA services</td>
					<apex:repeat value="{!serviceCategoryPriceTotalsWrapperList}" var="tsp">
						<td class="oddRowCell rightTextAling">
							<ul class="discClass" style="list-style-type:none">
								<apex:repeat value="{!tsp.priceWrapperList}" var="p">
									<li>{!p.PriceValue} {!p.amountCurrency}</li>
								</apex:repeat>
							</ul>
						</td>
					</apex:repeat>
					<td class="oddRowCell sumResultCell borderLeftDoubleCell">
						<ul class="discClass" style="list-style-type:none">
							<apex:repeat value="{!projectServiceCategoryPriceTotalsList}" var="p">
								<li style="color:#000000">
									<apex:variable var="priceVar" value="{!p.PriceValue} {!p.amountCurrency}"/>
									{!IF(p.amount==0,'-',priceVar)}
								</li>
							</apex:repeat>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="evenRowCell borderLeftNoneCell">Costs pass-through</td>
					<apex:repeat value="{!passThroughServiceTotalsList}" var="ptsTotal">
						<td class="evenRowCell rightTextAling" style="padding-right:8px">
							<apex:variable var="priceVar" value="{!ptsTotal.PriceValue} {!ptsTotal.amountCurrency}"/>
							{!IF(ptsTotal.amount==0,'',priceVar)}
						</td>
					</apex:repeat>
					<td class="evenRowCell sumResultCell borderLeftDoubleCell">
						<ul class="discClass" style="list-style-type:none">
							<apex:repeat value="{!projectPassThroughServiceTotalsList}" var="p">
								<li style="color:#000000">
									<apex:variable var="priceVar" value="{!p.PriceValue} {!p.amountCurrency}"/>
									{!IF(p.amount==0,'-',priceVar)}
								</li>
							</apex:repeat>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="oddRowCell boldClass borderLeftNoneCell">Total costs</td>
					<apex:repeat value="{!TotalCostsWrapperList}" var="tsp">
						<td class="oddRowCell rightTextAling">
							<ul class="discClass" style="list-style-type:none">
								<apex:repeat value="{!tsp.priceWrapperList}" var="p">
									<li>{!p.PriceValue} {!p.amountCurrency}</li>
								</apex:repeat>
							</ul>
						</td>
					</apex:repeat>
					<td class="oddRowCell sumResultCell borderLeftDoubleCell">
						<ul class="discClass" style="list-style-type:none">
							<apex:repeat value="{!projectTotalsList}" var="p">
								<li style="color:#000000">
									<apex:variable var="priceVar" value="{!p.PriceValue} {!p.amountCurrency}"/>
									{!IF(p.amount==0,'-',priceVar)}
								</li>
							</apex:repeat>
						</ul>
					</td>
				</tr>
			</table>
<!-- END: Costs --------------------------------------- -->
		</apex:outputPanel>
<!-- END: --------------------------------------- Summary --------------------------------------- -->
<!-- START: --------------------------------------- Project Description --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['ProjectInfoChk'].checkFlag || contentEntriesMap['StudiesChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Project Description</div>
<!-- START: Project Information --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['ProjectInfoChk'].checkFlag, true)}">
				<div class="sectionSubTitle">Project Information</div> 
				<table>
					<tr>
						<th class="sideTitleTh">Project ID:</th>
						<td class="oddRowCell">{!singleProject.Code__c}</td>
					</tr>
					<tr>
						<th class="sideTitleTh">Project Description:</th>
						<td class="evenRowCell">{!singleProject.Project_Description__c}</td>
					</tr>
					<tr>
						<th class="sideTitleTh">Sponsor:</th>
						<td class="oddRowCell">
							{!IF(singleProject.Client__c != null && singleProject.Client__c != '' && singleProject.Client__r.Sponsor__c != null && singleProject.Client__r.Sponsor__c != '', '['+singleProject.Client__r.Sponsor__r.Name+'] ', '')}
							{!IF(singleProject.Client__c != null && singleProject.Client__c != '', singleProject.Client__r.Name, '')}
						</td>
					</tr>	
					<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['TherAreaChk'].checkFlag, false)}">
						<tr>
							<th class="sideTitleTh">Therapeutic Area:</th>
							<td class="evenRowCell">
								{!singleProject.Therapeutic_Area__c} [{!singleProject.Therapeutic_Indication__c}]
							</td>
						</tr>
					</apex:outputPanel>	
					<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['InvestProdChk'].checkFlag, false)}">
						<tr>
							<th class="sideTitleTh">Investigational Product:</th>
							<td class="oddRowCell">{!singleProject.Drug_Administered__c}</td>
						</tr>
					</apex:outputPanel>
				</table>
			</apex:outputPanel>
<!-- END: Project Information --------------------------------------- -->
<!-- START: Studies --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['StudiesChk'].checkFlag, true)}">
				<div class="sectionSubTitle">Studies</div> 
				<table class="lastOfSection">
					<tr>
						<th class="borderLeftNoneTh"></th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<th>{!stl.proposalStudy.Title__c}</th>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Legacy Code:</th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<td class="oddRowCell">{!stl.proposalStudy.Legacy_Code__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Sponsor Code:</th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<td class="evenRowCell">{!stl.proposalStudy.Sponsor_Code__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Short Title:</th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<td class="oddRowCell">{!stl.proposalStudy.Title__c}</td>
						</apex:repeat>
					</tr>
					<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['PopulChk'].checkFlag, false)}">
						<tr>
							<th class="sideTitleTh">Population(s):</th>
							<apex:repeat value="{!studiesListWr}" var="stl">
								<td class="evenRowCell" style="padding-left:8px">
									<ul class="discClass"> 
										<apex:repeat value="{!stl.popToStudyNumList}" var="pop">
											<li>{!pop}</li> 
										</apex:repeat>
									</ul>
								</td>
							</apex:repeat>
						</tr>
					</apex:outputPanel>
					<tr>
						<th class="sideTitleTh">Site(s):</th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<td class="oddRowCell" style="padding-left:8px">
								<ul class="discClass"> 
									<apex:repeat value="{!stl.siteToStudyList}" var="site">
										 <li>{!site.Site__r.Name}</li> 
									</apex:repeat>
								</ul>
							</td>
						</apex:repeat>
					</tr>
					<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['SubContrChk'].checkFlag, false)}">
						<tr>
							<th class="sideTitleTh">Subcontractor(s):<br/>activity</th>
							<apex:repeat value="{!studiesListWr}" var="stl">
								<td class="evenRowCell" style="padding-left:8px">
									<ul class="discClass"> 
										<apex:repeat value="{!stl.subContrActToStudyList}" var="subContr">
										 	<li>
										 		{!subContr.SubcontractorActivity__r.Subcontractor__r.Name}:<br/>
										 		{!subContr.SubcontractorActivity__r.Name}
										 	</li> 
										</apex:repeat>
									</ul>
								</td>
							</apex:repeat>
						</tr>
					</apex:outputPanel>
					<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['MethCompChk'].checkFlag, false)}">
						<tr>
							<th class="sideTitleTh">Study type</th>
							<apex:repeat value="{!studiesListWr}" var="stl">
								<td class="oddRowCell" style="padding-left:8px">
									{!stl.StudyType}
								</td>
							</apex:repeat>
						</tr>
					</apex:outputPanel>
				</table>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- END: Studies --------------------------------------- -->
<!-- END: --------------------------------------- Project Description --------------------------------------- -->
<!-- START: --------------------------------------- Project Details --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['PopulationChk'].checkFlag || contentEntriesMap['DesignFlowChk'].checkFlag || contentEntriesMap['SrvMilesChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Project Details</div>
<!-- START: Population Details --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['PopulationChk'].checkFlag, false)}">
				<div class="sectionSubTitle">Population Details</div>
				<table style="min-width:10px">
					<tr>
						<th class="sideTitleTh">Population ID</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<th>{!pst.projectPopulation.name}</th>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Gender</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="oddRowCell">
								{!IF(pst.projectPopulation.Male__c,'Male ','')}
								{!IF(pst.projectPopulation.Male__c && pst.projectPopulation.Female__c,'and ','')}
								{!IF(pst.projectPopulation.Female__c,'Female','')}
							</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Age (years)</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="evenRowCell">{!pst.projectPopulation.Age_Min__c} - {!pst.projectPopulation.Age_Max__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Smoking (max/day)</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="oddRowCell">
								{!IF(pst.projectPopulation.Smoking__c, 'Yes (', 'No')} <!-- Doesn't let the '+' with number -->
								{!IF(pst.projectPopulation.Smoking__c, pst.projectPopulation.Smoking_Max__c, '')}
								{!IF(pst.projectPopulation.Smoking__c, ')', '')}
							</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">BMI</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="evenRowCell">{!pst.projectPopulation.BMI_Min__c} - {!pst.projectPopulation.BMI_Max__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Blood pressure (sys)</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="oddRowCell">{!pst.projectPopulation.BloodPS_Min__c} - {!pst.projectPopulation.BloodPS_Max__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Blood pressure (dia)</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="evenRowCell">{!pst.projectPopulation.BloodPD_Min__c} - {!pst.projectPopulation.BloodPD_Max__c}</td>
						</apex:repeat>
					</tr>
					<tr>
						<th class="sideTitleTh">Assigned to study</th>
						<apex:repeat value="{!popToStudiesWr}" var="pst">
							<td class="oddRowCell" style="padding-left:8px">
								<ul class="discClass"> 
									<apex:repeat value="{!pst.StudyTitleList}" var="stTitle">
										 <li>{!stTitle}</li> 
									</apex:repeat>
								</ul> 
							</td>
						</apex:repeat>
					</tr>
				</table>
<!-- END: Population Details --------------------------------------- -->
<!-- START: Inclusion/Exclusion Criteria --------------------------------------- -->
				<div class="sectionSubTitle">Inclusion/Exclusion Criteria</div>
				<apex:repeat value="{!popToStudiesWr}" var="pst">
					<div class="sectionSubTitleHeader">{!pst.projectPopulation.name}</div>
					<table style="margin-top:0px">
						<tr>
							<th class="borderLeftNoneTh">Inclusion Criteria:</th>
						</tr>
						<apex:variable var="RowIndex" value="{!0}"/>
						<apex:repeat value="{!pst.inclCriteria}" var="inclCrit">
						 	<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						 	<tr>
						 		<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!inclCrit}</td>
						 	</tr> 
						 	<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
						</apex:repeat>
						<tr>
							<th class="borderLeftNoneTh">Exclusion Criteria:</th>
						</tr>
						<apex:variable var="RowIndex" value="{!0}"/>
						<apex:repeat value="{!pst.exclCriteria}" var="exclCrit">
							<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
							<tr>
								<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!exclCrit}</td>
							</tr>
							<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
						</apex:repeat>
					</table>
				</apex:repeat>
			</apex:outputPanel>
<!-- END: Inclusion/Exclusion Criteria --------------------------------------- -->
<!-- START: Design and flowchart details clinic --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['DesignFlowChk'].checkFlag, false)}">
				<!-- Design and flowchart details -->
				<apex:outputPanel rendered="{!IF(existingContentFlag,
												contentEntriesMap['DesHeaderChk'].checkFlag || contentEntriesMap['FlowchartChk'].checkFlag,
												false)}">
					<div class="pageBreakBefore BDT_DesignDiv rotatedDiv">
						<div class="sectionSubTitle">Design and flowchart details clinic</div>
						<apex:repeat value="{!clinicalDesignWr}" var="clDes">
							<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['DesHeaderChk'].checkFlag, false)}">
								<!-- Design: Studies - Populations assignments -->
								<table style="margin-top:0px;margin-bottom:10px">
									<tr>
										<th class="borderLeftNoneTh" colspan="2">Design: {!clDes.designDisplayItem.design.Name}</th>
									</tr>
									<tr>
										<th class="borderLeftNoneTh">Studies</th>
										<th>Population(s)</th>
									</tr>
									<apex:variable var="RowIndex" value="{!0}"/>
									<apex:repeat value="{!clDes.assignmentWrapperList}" var="st">
										<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
										<tr>
											<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell verticalTopAlign">
												{!st.studyOfDesign.Title__c}
											</td>
											<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}" style="padding-left:8px">
												<ul class="discClass"> 
													<apex:repeat value="{!st.assignmentList}" var="pop">
														<li>{!pop.AgregateNumberOfSubjects__c} {!pop.PopulationStudyAssignment__r.Population__r.Name}</li> 
													</apex:repeat>
												</ul>
											</td>
										 </tr>
										 <apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
									</apex:repeat>
								</table>
								<!-- Desing table -->
								<table class="lastOfSection" style="margin-top:0px;">
									<apex:variable var="colWidth" value="{!FLOOR(860 / (clDes.designDisplayItem.epochList.size + 1))}"/>
									<apex:variable var="divWidth" value="{!colWidth - 3}"/>
									<tr>
										<td class="armEpochCell"></td>
										<apex:repeat value="{!clDes.designDisplayItem.epochList}" var="ep">
											<td class="armEpochCell">
												<div class="titleDiv" style="width:{!divWidth}px;">
													{!ep.Description__c}
												</div>
											</td>
										</apex:repeat>
									</tr>
									<apex:repeat value="{!clDes.designDisplayItem.armRowDisplayList}" var="armWrapper">
										<tr>
											<td class="armEpochCell">
												<div class="titleDiv" style="width:{!divWidth}px;">
													{!armWrapper.arm.Description__c}
												</div>
											</td>
											<apex:repeat value="{!armWrapper.flowchartlist}" var="flowchartWrapper"> 
												<td class="flowChartCell">
													<apex:outputpanel rendered="{!Not(isnull(flowchartWrapper.flowchart.Description__c))}">
														<div class="flowChartDiv" style="width:{!divWidth}px;background-color:{!flowchartWrapper.colorCode};">
															{!flowchartWrapper.flowchart.Description__c}
														</div>
													</apex:outputpanel>
												</td>
											</apex:repeat>
										</tr>
									</apex:repeat>
								</table>
							</apex:outputPanel>
							<!-- Flowcharts details -->
							<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['FlowchartChk'].checkFlag, false)}">
								<apex:variable var="flowchartsCounter" value="{!-1}"/>
								<!-- Repeat for each flowchart -->
								<apex:repeat value="{!clDes.flowchartDisplayList}" var="fl">
									<apex:variable var="flowchartsCounter" value="{!flowchartsCounter+1}"/>
									<apex:variable var="firstElementIndex" value="{!0}"/>
									<!-- Repeat for all the timepoints parts of table -->
									<apex:repeat value="{!clDes.repeatedTablesInFlDisplay[flowchartsCounter]}" var="rep">
										<div class="sectionSubTitleHeader pageBreakBefore BDT_DesignDiv">
											<span class="underlinedText">FlowChart:</span> {!fl.flowchart.Description__c}
											<apex:outputPanel rendered="{!fl.TimePointsInFlowchart.SIZE > maxTimePointsPerPage}">
												<br/>{!rep}
											</apex:outputPanel>
											<div class="BDT_DesignDiv">
												<table Class="BDT_DesignTable">
													<apex:variable var="RowIndex" value="{!0}"/>
													<apex:variable var="assessmentsCount" value="{!1}"/>
													<apex:variable var="firstVisitFlag" value="{!1}"/>
													<apex:repeat value="{!fl.FlowchartServices}" var="services">
														<apex:outputPanel rendered="{!(assessmentsCount==1)}" layout="none">
															<tr class="{!IF(firstVisitFlag==1,'','pageBreakBefore')}">
																<th>
																	Day
																</th>
																<apex:repeat value="{!fl.TimePointsInFlowchart}" var="timepoint" first="{!firstElementIndex}" rows="{!maxTimePointsPerPage}">
																	<th class="{!IF(timepoint.newDayNumber,'newday','repeatNumber')}" >
																		{!timepoint.dayNumber}
																	</th>
																</apex:repeat>
															</tr>
															<tr>
																<th>Hour</th>
																<apex:repeat value="{!fl.TimePointsInFlowchart}" var="timepoint" first="{!firstElementIndex}" rows="{!maxTimePointsPerPage}">
																	<th class="{!IF(timepoint.newDayNumber,'newday','')} {!IF(timepoint.newHourNumberInDay,'','repeatNumber')}">
																		{!timepoint.hourNumberInDay}
																	</th>
																</apex:repeat>
															</tr>
															<tr>
																<th>Minute</th>
																<apex:repeat value="{!fl.TimePointsInFlowchart}" var="timepoint" first="{!firstElementIndex}" rows="{!maxTimePointsPerPage}">
																	<th class="{!IF(timepoint.newDayNumber,'newday','')}">
																		{!timepoint.minuteNumberInHour}
																	</th>
																</apex:repeat>
															</tr>
														</apex:outputPanel>
														<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
														<tr>
															<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
																{!services.PrettyCategoryCode} - {!services.ServiceShortName}
																<span class="assesments">
																	({!IF(ISNULL(services.projectServiceTimePoint.TimePointCount__c), '0', services.projectServiceTimePoint.TimePointCount__c)})
																</span>
															</td>
															<apex:repeat value="{!services.timepoints}" var="servicetimepoint" first="{!firstElementIndex}" rows="{!maxTimePointsPerPage}">
																<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} {!IF(servicetimepoint.newDay,'newday','')}">
																	<apex:outputPanel rendered="{!servicetimepoint.selected}" layout="none">
																		<apex:image value="{!URLFOR($Resource.BDT_nav_files, '/img/save_icon_blue_noborder.png')}"/>
																	</apex:outputPanel>
																</td>
															</apex:repeat>
														</tr>
														<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
														<apex:variable var="assessmentsCount" value="{!IF(assessmentsCount==maxAssessmentsPerPage, 1, assessmentsCount+1)}"/>
														<apex:variable var="firstVisitFlag" value="{!0}"/>
													</apex:repeat>
												</table>
											</div>
										</div>
										<apex:variable var="firstElementIndex" value="{!firstElementIndex + maxTimePointsPerPage}"/>
									</apex:repeat> <!-- Repeat per TP part -->
								</apex:repeat> <!-- Repeat per flowchart -->
							</apex:outputPanel>
						</apex:repeat> <!-- Repeat per design -->
					</div>
				</apex:outputPanel>
				<!-- Method and design details laboratory -->
				<apex:outputPanel layout="none" rendered="{!IF(existingContentFlag, contentEntriesMap['DesLabChk'].checkFlag, false)}">
					<div class="sectionSubTitle pageBreakBefore">Method and design details laboratory</div>
					<apex:repeat value="{!methodDetailsList}" var="mDet">
						<div class="sectionSubTitleHeader">
							<span class="underlinedText">Method:</span> {!mDet.labMethod.Name}
						</div>
						<!-- Method-Compound to Study -->
						<table style="margin-bottom:20px">
							<thead>
								<tr>
									<th class="borderLeftNoneTh">Compounds</th>
									<apex:repeat value="{!studiesListWr}" var="stl">
										<th class="textAlignCenterClass">{!stl.proposalStudy.Title__c}</th>
									</apex:repeat>
								</tr>
							</thead>
							<tbody>
								<apex:variable var="RowIndex" value="{!0}"/>
								<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
									<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
									<tr>
										<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!assigns.methodCompound.Name}</td>
										<apex:repeat value="{!assigns.StudyAnalysisInput}" var="lbl">
											<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignCenterClass">{!lbl}</td>
										</apex:repeat>
									</tr>
								</apex:repeat>
							</tbody>
						</table>
						<!-- Basic Information -->
						<table style="margin-top:0px;margin-bottom:20px;">
							<thead>
								<tr>
									<th colspan="2" class="borderLeftNoneTh">Basic Information</th>
								</tr>
							</thead>
							<tbody>
								<apex:variable var="RowIndex" value="{!0}"/>
								<tr>
									<th class="sideTitleTh">Method No</th>
									<td class="oddRowCell">{!mDet.labMethod.Name}</td>
								</tr>
								<tr>
									<th class="sideTitleTh">Compound(s)</th>
									<td class="evenRowCell" style="padding-left:8px">
										<ul class="discClass"> 
											<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										 		<li>{!assigns.methodCompound.Name}</li> 
											</apex:repeat>
										</ul>
									</td>
								</tr>
								<tr>
									<th class="sideTitleTh">Species</th>
									<td class="oddRowCell">{!mDet.labMethod.Species__c}</td>
								</tr>
								<tr>
									<th class="sideTitleTh">Matrix</th>
									<td class="evenRowCell">{!mDet.labMethod.Matrix__c}</td>
								</tr>
								<tr>
									<th class="sideTitleTh">Anti-coagulant</th>
									<td class="oddRowCell">{!mDet.labMethod.AntiCoagulant__c}</td>
								</tr>
								<tr>
									<th class="sideTitleTh" style="width:140px">Analytical Technique</th>
									<td class="evenRowCell">{!mDet.labMethod.AnalyticalTechnique__c}</td>
								</tr>
								<tr>
									<th class="sideTitleTh">Detection</th>
									<td class="oddRowCell">{!mDet.labMethod.Detection__c}</td>
								</tr>
							</tbody>
						</table>
						<!-- Additional compound information -->
						<table style="margin-top:0px;margin-bottom:20px;">
							<thead>
								<tr>
									<th class="verticalTopAlign borderLeftNoneTh" style="width:150px">Additional compound information</th>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<th>{!assigns.methodCompound.Name}</th> 
									</apex:repeat>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="oddRowCell sideTitleTd">Other name</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="oddRowCell">{!assigns.methodCompound.OtherName__c}</td>
									</apex:repeat>
								</tr>
								<tr>
									<td class="evenRowCell sideTitleTd">Internal standard</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="evenRowCell">{!assigns.methodCompound.InternalStandard__c}</td>
									</apex:repeat>
								</tr>
								<tr>
									<td class="oddRowCell sideTitleTd">Miscellaneous</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="oddRowCell">{!assigns.methodCompound.MiscellaneousCompound__c}</td>
									</apex:repeat>
								</tr>
							</tbody>
						</table>
						<!-- Additional method information -->
						<table style="margin-top:0px">
							<thead>
								<tr>
									<th colspan="{!mDet.assignemtsToStudy.size+1}" class="verticalTopAlign borderLeftNoneTh" style="width:150px">
										Additional method information
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="oddRowCell sideTitleTd">Stabilizing agent / Special Conditions</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="oddRowCell">
										{!mDet.labMethod.StabilAgent_SpecialCond__c}
									</td>
								</tr>
								<tr>
									<td class="evenRowCell sideTitleTd">Storage temperature (matrix)</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="evenRowCell">
										{!mDet.labMethod.StorageTemperature__c}
									</td>
								</tr>
								<tr>
									<td class="oddRowCell sideTitleTd">Sample amount</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="oddRowCell">
										{!mDet.labMethod.SampleAmountValue__c} {!mDet.labMethod.SampleAmount__c}
									</td>
								</tr>
								<tr>
									<td class="evenRowCell sideTitleTd">Sample preparation</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="evenRowCell">
										{!mDet.labMethod.SamplePreparation__c}
									</td>
								</tr>
								<tr>
									<td class="oddRowCell sideTitleTd">Detection type</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="oddRowCell">
										{!mDet.labMethod.DetectionType__c}
									</td>
								</tr>
								<tr>
									<td class="evenRowCell sideTitleTd">Validation study ID(s)</td>
									<td colspan="{!mDet.assignemtsToStudy.size}" class="evenRowCell">
										{!mDet.labMethod.ValidationStudyIDs__c}
									</td>
								</tr>
								<tr>
									<th></th>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<th>{!assigns.methodCompound.Name}</th>
									</apex:repeat>
								</tr>
								<tr>
									<td class="oddRowCell sideTitleTd">Validated range</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="oddRowCell">
											{!assigns.methodCompound.ValidatedRangeMinValue__c} - {!assigns.methodCompound.ValidatedRangeMaxValue__c} {!assigns.methodCompound.ValidatedRange__c}
										</td>
									</apex:repeat>
								</tr>
								<tr>
									<td class="evenRowCell sideTitleTd">Work range</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="evenRowCell">
											{!assigns.methodCompound.WorkRangeMinValue__c} - {!assigns.methodCompound.WorkRangeMaxValue__c} {!assigns.methodCompound.WorkRange__c}
										</td>
									</apex:repeat>
								</tr>
								<tr>
									<td class="oddRowCell sideTitleTd">Miscellaneous</td>
									<apex:repeat value="{!mDet.assignemtsToStudy}" var="assigns">
										<td class="oddRowCell">
											{!assigns.methodCompound.MiscellaneousMethod__c}
										</td>
									</apex:repeat>
								</tr>
							</tbody>
						</table>
					</apex:repeat>
					<!-- Information about anticipated shipments-->
					<div class="sectionSubTitleHeader" >
						Information about anticipated shipments:
					</div>
					<table style="margin-top:0px">
						<thead>
							<tr>
								<th rowspan="2" class="borderLeftNoneTh">Shipment</th>
								<th rowspan="2">Biohazard</th>
								<th rowspan="2">Study</th>
								<th colspan="5"># Samples</th>
							</tr>
							<tr>
								<th>Active</th>
								<th>Placebo</th>
								<th>Back-up</th>
								<th>Other</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<apex:variable var="previousShipment" value="{!-1}"/>
							<apex:variable var="RowIndex" value="{!0}"/>
							<apex:repeat value="{!labSamplesWrapperList}" var="sm">
								<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
								<tr>
									<td style="text-align:center;" class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
										<apex:outputPanel layout="none" rendered="{!NOT(sm.labSample.ShipmentNumber__c==previousShipment)}">
											Ship-{!sm.shipmentNumber}
										</apex:outputPanel>
									</td>
									<td style="text-align:center;" class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">
										{!IF(sm.labSample.BioHazardIndication__c,'Y','N')}
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">
										{!sm.StudySelection}
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!sm.labSample.ActiveNumberOfSamples__c}"/>
										</apex:outputText>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!sm.labSample.PlaceboNumberOfSamples__c}"/>
										</apex:outputText>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!sm.labSample.BackupNumberOfSamples__c}"/>
										</apex:outputText>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!sm.labSample.OtherNumberOfSamples__c}"/>
										</apex:outputText>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass boldClass">
										{!sm.LabSampleTotalNumber}
									</td>
								</tr>
								<apex:variable var="previousShipment" value="{!sm.labSample.ShipmentNumber__c}"/>
								<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
							</apex:repeat>
						</tbody>
					</table>
					<!-- Information about anticipated slots for Analysis -->
					<div class="sectionSubTitleHeader" >
						Information about anticipated slots for Analysis:
					</div>
					<table style="margin-top:0px">
						<thead>
							<tr>
								<th class="borderLeftNoneTh">Study/Method</th>
								<th>Slots</th>
								<th>Samples From</th>
								<th># Samples Total</th>
								<th>Repeat</th>
							</tr>
						</thead>
						<tbody>
							<apex:variable var="previousCombAn" value="NULL"/>
							<apex:variable var="RowIndex" value="{!0}"/>
							<apex:repeat value="{!labSlotsAnWrapperList}" var="lslAn">
								<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
								<tr>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
										<apex:outputPanel layout="none" rendered="{!NOT(lslAn.studyMethodCombination==previousCombAn)}">
											{!lslAn.studyMethodCombination}
										</apex:outputPanel>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">AN-{!lslAn.slotNumber}</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">
										<apex:variable var="firstIteration" value="{!0}"/>
										<apex:repeat value="{!lslAn.LabSlotListOfShipments}" var="shipNum">
											<apex:outputText value=" / " rendered="{!NOT(firstIteration==0)}"/>
											<apex:outputText value="{!shipNum}"/>
											<apex:variable var="firstIteration" value="{!firstIteration+1}"/>
										</apex:repeat>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{!lslAn.LabSlotTotalNumber}"/>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!lslAn.labSlot.Repeat__c}"/>
										</apex:outputText>
									</td>
								</tr>
								<apex:variable var="previousCombAn" value="{!lslAn.studyMethodCombination}"/>
								<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
							</apex:repeat>
						</tbody>
					</table>
					<!-- Information about anticipated slots for Method Development and Validation -->
					<div class="sectionSubTitleHeader" >
						Information about anticipated slots for Method Development and Validation:
					</div>
					<table class="lastOfSection" style="margin-top:0px">
						<thead>
							<tr>
								<th class="borderLeftNoneTh">Study/Method</th>
								<th>Slots</th>
								<th>Type</th>
								<th># Days</th>
							</tr>
						</thead>
						<tbody>
							<apex:variable var="previousComb" value="NULL"/>
							<apex:variable var="RowIndex" value="{!0}"/>
							<apex:repeat value="{!labSlotsMdValWrapperList}" var="lsl">
								<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
								<tr>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">
										<apex:outputPanel layout="none" rendered="{!NOT(lsl.studyMethodCombination==previousComb)}">
											{!lsl.studyMethodCombination}
										</apex:outputPanel>
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">MD/VAL-{!lsl.slotNumber}</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">{!lsl.LabSlot.SlotType__c}</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass">
										<apex:outputText value="{0, number, ###,###}" style="padding-right:4px">
											<apex:param value="{!lsl.labSlot.DaysMdOrVal__c}"/>
										</apex:outputText>
									</td>
								</tr>
								<apex:variable var="previousComb" value="{!lsl.studyMethodCombination}"/>
								<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
							</apex:repeat>
						</tbody>
					</table>
				</apex:outputPanel>
			</apex:outputPanel>
<!-- END: Design and flowchart details clinic --------------------------------------- -->
<!-- START: Services and Costs --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['SrvMilesChk'].checkFlag, false)}">
				<div class="pageBreakBefore sectionSubTitle"> 
					Services and Costs
				</div>
				<apex:repeat value="{!servicesAndCostsStudiesReportList}" var="reportItem">
					<div class="sectionSubTitleHeader underlinedText">Study {!reportItem.study.Title__c}</div>
					<table style="margin-top:0px;">
						<tr>
							<th class="verticalTopAlign borderLeftNoneTh rightTextAling">#</th>
							<th class="verticalTopAlign borderLeftNoneTh">Services</th>
							<th class="verticalTopAlign">Unit price</th>
							<apex:outputPanel layout="none" rendered="{!reportItem.showSponsorPriceFlag}"> 
								<th class="verticalTopAlign">Sponsor<br/>Unit price</th>
							</apex:outputPanel>
							<th class="verticalTopAlign">Total price</th>
						</tr>
						<apex:repeat value="{!reportItem.servicesAndCostsReportList}" var="srvCat">
							<tr>
								<td colspan="{!IF(reportItem.showSponsorPriceFlag,4,3)}" class="{!IF(srvCat.Level, 'uppestSrvCatCell', 'srvCatCell')} borderLeftNoneCell" style="padding-left:{!srvCat.Padding+4}px;">
									{!srvCat.ServiceCategoryCode + ' ' + srvCat.ServiceCategory.Name}
								</td>
								<td class="rightTextAling {!IF(srvCat.Level, 'uppestSrvCatCell', 'srvCatCell')}">
									<ul>
										<apex:repeat value="{!srvCat.catTotalValueList}" var="tot">
											<li>{!tot.PriceValue} {!tot.amountCurrency}</li>
										</apex:repeat>
									</ul>
								</td>
							</tr>
							<apex:variable var="RowIndex" value="{!0}"/>
							<apex:repeat value="{!srvCat.sspWrapperList}" var="stSrvPrice">
								<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
								<tr>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} rightTextAling servicesCell borderLeftNoneCell">
										{!stSrvPrice.NumOfUnits}   
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} servicesCell">
										{!stSrvPrice.studyServicePricing.Service__r.Name}
									</td>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} rightTextAling servicesCell">
											{!stSrvPrice.DisplayPrice}
									</td>
									<apex:outputPanel layout="none" rendered="{!reportItem.showSponsorPriceFlag}"> 
										<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} rightTextAling servicesCell">
											{!stSrvPrice.NegotiatedPrice}
										</td>
									</apex:outputPanel>
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} rightTextAling servicesCell">
										{!stSrvPrice.CalculatedTotalPrice}
									</td>
								</tr>
								<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
							</apex:repeat>
						</apex:repeat>
						<tr>
							<td colspan="{!IF(reportItem.showSponsorPriceFlag,4,3)}" class="oddRowCell sumResultCell rightTextAling borderLeftNoneCell">
								GRAND TOTAL
							</td>
							<td class="oddRowCell sumResultCell rightTextAling">
								<ul>
									<apex:repeat value="{!reportItem.GrandTotalValueList}" var="tots">
										<li>
											{!tots.PriceValue} {!tots.amountCurrency}
										</li>
									</apex:repeat>
								</ul>
							</td>
						</tr>
					</table>
				</apex:repeat>
<!-- END: Services and Costs --------------------------------------- -->
<!-- START: Pass-through Services --------------------------------------- -->
				<div class="sectionSubTitle">Pass-through Services</div>
				<table> 
					<tr>
						<th class="borderLeftNoneTh"># Service</th>
						<apex:repeat value="{!StudiesListWr}" var="stl">
							<th class="textAlignCenterClass">{!stl.proposalStudy.Title__c}</th>
						</apex:repeat>
					</tr>
					<apex:variable var="RowIndex" value="{!0}"/>
					<apex:repeat value="{!passThroughServiceWrapperList}" var="pts"> 
						<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						<tr>
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}  borderLeftNoneCell">{!pts.passThroughServiceName}</td> 
							<apex:repeat value="{!pts.passThroughServicePrice}" var="ptsValue"> 
								<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}" style="text-align:right">
									<apex:variable var="priceVar" value="{!ptsValue.PriceValue} {!ptsValue.amountCurrency}"/>
									{!IF(ptsValue.amount==0,'-',priceVar)}								
								</td>
							</apex:repeat>
						</tr>
						<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
					</apex:repeat>  
					<tr>
						<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell borderLeftNoneCell">
							GRAND TOTAL
						</td>
						<apex:repeat value="{!passThroughServiceTotalsList}" var="ptsTotal">
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell">
								<apex:variable var="priceVar" value="{!ptsTotal.PriceValue} {!ptsTotal.amountCurrency}"/>
								{!IF(ptsTotal.amount==0,'-',priceVar)}
							</td>
						</apex:repeat>
					</tr>
				</table>
<!-- END: Pass-through Services --------------------------------------- -->
<!-- START: Milestones --------------------------------------- -->
				<div class="sectionSubTitle">Milestones</div>
				<div class="sectionParagraph" style="margin-bottom:10px;">
					 The following milestones are identified for this project. Dates are tentative and subject to changes.
				</div>
				<table style="margin-top:0px;">
					<tr>
						<th class="borderLeftNoneTh">Milestones</th>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<th>{!stl.proposalStudy.Title__c}</th>
						</apex:repeat>
					</tr>
					<apex:variable var="RowIndex" value="{!0}"/>
					<apex:repeat value="{!mileStoneToStudiesList}" var="mst">
						<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						<tr>
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!mst.mileStoneName}</td>
							<apex:repeat value="{!mst.mileStoneDueDateList}" var="mstDate">
								<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')}">{!mstDate}</td>
							</apex:repeat>
						</tr>
						<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
					</apex:repeat>
				</table>
<!-- END: Milestones --------------------------------------- -->
<!-- START: Project Considerations --------------------------------------- -->
				<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['ConsiderChk'].checkFlag && contentEntriesMap['HeadConsiderChk'].checkFlag, false)}">
					<div class="sectionSubTitle" style="margin-bottom:0px;">Project Considerations</div>
					<div class="sectionParagraph lastOfSection">
						<apex:outputField value="{!findocContent.ProjectConsiderations__c}"/>
					</div>
				</apex:outputPanel>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- END: Project Considerations --------------------------------------- -->
<!-- END: --------------------------------------- Project Details --------------------------------------- -->
<!-- START: --------------------------------------- Financial Summary --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['FinancialChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Financial Summary</div>
<!-- START: Prices --------------------------------------- -->
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['DiscountChk'].checkFlag, false)}">
				<div class="sectionSubTitle">Prices</div>
				<table style="margin-top:0px;">
					<tr>
						<th class="upperRowHeader textAlignRightClass borderLeftNoneTh">Study</th> 
						<apex:variable var="ColIndex" value="{!-1}"/>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<apex:variable var="ColIndex" value="{!ColIndex+1}"/>
							<th colspan="{!IF(collapseDiscountColumnFlagList[ColIndex],1,2)}" class="upperRowHeader borderLeftDoubleTh">{!stl.proposalStudy.Title__c}</th>
						</apex:repeat>
					</tr>
					<tr>
						<th class="downRowHeader borderLeftNoneTh">Service Category</th>
						<apex:variable var="Col2Index" value="{!-1}"/>
						<apex:repeat value="{!studiesListWr}" var="stl">
							<apex:variable var="Col2Index" value="{!Col2Index+1}"/>
							<th class="downRowHeader borderLeftDoubleTh">Price</th>
							<apex:outputPanel rendered="{!NOT(collapseDiscountColumnFlagList[Col2Index])}" layout="none">
								<th class="downRowHeader textAlignCenterClass" style="font-family:'Arial Unicode MS'">Δ</th>
							</apex:outputPanel>
						</apex:repeat>
					</tr>
					<apex:variable var="RowIndex" value="{!0}"/>
					<apex:repeat value="{!serviceCategoryWr}" var="sc">
						<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						<tr>
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} servicesCell borderLeftNoneCell">
								{!sc.Code} {!sc.serviceCategory.Name}
							</td>
							<apex:variable var="Col3Index" value="{!-1}"/>
							<apex:repeat value="{!sc.financialCategoryTotalList}" var="fctl">
								<apex:variable var="Col3Index" value="{!Col3Index+1}"/>
								<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} servicesCell borderLeftDoubleCell rightTextAling">
									<ul class="discClass" style="list-style-type:none;" > 
										<apex:repeat value="{!fctl.financialCatTotPriceList}" var="fctp">
											<li style="padding-left:8px"> 
												{!fctp.FinalPrice} {!fctp.FinancialCatTotPrice.TargetCurrency__c}
												<apex:outputPanel rendered="{!(fctp.Delta!='0' && fctp.Delta!='')}" layout="none">
													<br/>
												</apex:outputPanel>
											</li>
										</apex:repeat>
									</ul>
								</td>
								<apex:outputPanel rendered="{!NOT(collapseDiscountColumnFlagList[Col3Index])}" layout="none">
									<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} servicesCell" style="text-align:right">
										<ul class="discClass" style="list-style-type:none"> 
											<apex:repeat value="{!fctl.financialCatTotPriceList}" var="fctp">
												<li style="padding-left:8px">
													{!IF(fctp.Delta='0','',fctp.Delta + ' %')}
													<apex:outputPanel rendered="{!(fctp.Delta!='0' && fctp.Delta!='')}" layout="none">
														<br/>({!fctp.DiscountPrice})
													</apex:outputPanel>
													<apex:outputPanel rendered="{!(fctp.Delta=='0' || fctp.Delta=='')}" layout="none">
														<br/>
													</apex:outputPanel>
												</li>
											</apex:repeat>
										</ul>
									</td>
								</apex:outputPanel>
							</apex:repeat>
						</tr>
						<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
					</apex:repeat>
					<tr>
						<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell borderLeftNoneCell">GRAND TOTAL</td>
						<apex:variable var="Col4Index" value="{!-1}"/>
						<apex:repeat value="{!serviceCategoryPriceTotalsWrapperList}" var="tsp">
							<apex:variable var="Col4Index" value="{!Col4Index+1}"/>
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell servicesCell borderLeftDoubleCell">
								<ul class="discClass" style="list-style-type:none">
									<apex:repeat value="{!tsp.priceWrapperList}" var="p">
										<li>
											{!p.PriceValue} {!p.amountCurrency}
											<apex:outputPanel rendered="{!(p.DeltaValue!='0' && p.DeltaValue!='')}" layout="none">
												<br/>
											</apex:outputPanel>
										</li>
									</apex:repeat>
								</ul>
							</td>
							<apex:outputPanel rendered="{!NOT(collapseDiscountColumnFlagList[Col4Index])}" layout="none">
								<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell servicesCell">
									<ul class="discClass" style="list-style-type:none">
									<apex:repeat value="{!tsp.priceWrapperList}" var="p">
										<li>
											<apex:outputPanel rendered="{!(p.DeltaValue!='0' && p.DeltaValue!='')}" layout="none">
												{!p.DeltaValue} % <br/>({!p.ActualDelta})
											</apex:outputPanel>
											<apex:outputPanel rendered="{!(p.DeltaValue=='0')}" layout="none">
												<br/>
											</apex:outputPanel>
										</li>
									</apex:repeat>
								</ul>
								</td>
							</apex:outputPanel>
						</apex:repeat>
					</tr>
				</table>
			</apex:outputPanel>
<!-- END: Prices --------------------------------------- -->
<!-- START: Payment Terms and Conditions --------------------------------------- -->
			<div class="sectionSubTitle">Payment Terms and Conditions</div>
			<div class="sectionParagraph" style="margin-bottom:10px;">
				 The payment terms and conditions for this project are specified below.
			</div>
			<table style="margin-top:0px;">
				<tr>
					<th class="borderLeftNoneTh">Payment Terms</th>
					<apex:repeat value="{!studiesListWr}" var="stl">
						<th class="rightTextAling">{!stl.proposalStudy.Title__c}  (%)</th>
					</apex:repeat>
				</tr>
				<apex:variable var="RowIndex" value="{!0}"/>
				<apex:repeat value="{!paymentTermsWrapperList}" var="pts">
					<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
					<tr>
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} borderLeftNoneCell">{!pts.paymentTerm.Description__c}</td>
						<apex:repeat value="{!pts.studyPercentList}" var="studyPercent">
							<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} textAlignRightClass ">
								{!studyPercent.percentage}
							</td>
						</apex:repeat>
					</tr>
					<apex:variable var="RowIndex" value="{!IF(RowIndex==2, 0, RowIndex)}"/>
				</apex:repeat> 
				<tr>
					<apex:variable var="RowIndex" value="{!RowIndex+1}"/>
					<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell borderLeftNoneCell">
						SUM
					</td>
					<apex:repeat value="{!paymentTermTotalsList}" var="ptl">
						<td class="{!IF(RowIndex==1, 'oddRowCell', 'evenRowCell')} sumResultCell">{!ptl}</td>
					</apex:repeat>
				</tr>
			</table>
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['PaymentCondChk'].checkFlag, true)}">
				<div class="sectionSubTitleHeader">Payment Conditions</div>
				<div class="sectionParagraph lastOfSection">
					{!IF(existingContentFlag,contentEntriesMap['PaymentCondChk'].inputValue,'')}
				</div>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- END: Payment Terms and Conditions --------------------------------------- -->
<!-- END: --------------------------------------- Financial Summary --------------------------------------- -->
<!-- START: --------------------------------------- Appendix --------------------------------------- -->
		<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['MiscellaneousChk'].checkFlag, true)}">
			<div class="pageBreakBefore sectionTitle">Appendix</div>
			<apex:outputPanel rendered="{!IF(existingContentFlag, contentEntriesMap['CondAndDisclChk'].checkFlag, false)}">
				<div class="sectionSubTitle">General Conditions and Disclaimer</div> 
				<div class="sectionParagraph">
					 {!IF(existingContentFlag,contentEntriesMap['CondAndDisclChk'].inputValue,'')}
				</div>
			</apex:outputPanel>
		</apex:outputPanel>
<!-- END: --------------------------------------- Appendix --------------------------------------- -->
	</body>
</apex:page>