<apex:page controller="Bhargav_testpageContlr" tabStyle="Bid_Project__c">
<script type="text/javascript" src="{!URLFOR($Resource.BDT_Unescape)}"></script>
<apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />  
            
        <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"    />
        <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}" />
        <apex:stylesheet value="{!URLFOR($Resource.jQueryGraph, '/jqui/css/start/jquery-ui-1.8.17.custom.css')}"    /> 
        <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}" />    
<style>
   table.BDT_Table{min-width:40%;width:40%}
        table.BDT_Table thead th.study{width:100px;}
        table.BDT_Table tbody td input{width:60px;text-align:right;height:16px;}
        table.BDT_Table thead th{border-right:1px solid lightgray;}
        a.buttondown{margin-top:1px;margin-right:5px;text-decoration:none;float:left;width:18px;height:18px;background:url({!URLFOR($Resource.BDT_nav_files,'/img/buttondown.png')});}
        a.buttondown:hover{margin-top:1px;margin-right:5px;text-decoration:none;float:left;width:18px;height:18px;background:url({!URLFOR($Resource.BDT_nav_files,'/img/buttondownhover.png')});}
        a.buttonup{margin-top:1px;margin-right:5px;text-decoration:none;float:left;width:18px;height:18px;background:url({!URLFOR($Resource.BDT_nav_files,'/img/buttonup.png')});}
        a.buttonup:hover{margin-top:1px;margin-right:5px;text-decoration:none;float:left;width:18px;height:18px;background:url({!URLFOR($Resource.BDT_nav_files,'/img/buttonuphover.png')});}
        Table.BDT_Table input[type=text] {width:57px;} 
        
        .info {
    width: 50px;
    height: 50px;
    background: red;
}
.caption-background {
    height: 200px;
    background: blue;
}</style>
      
         <script>
          CategoryHandler = {  
          
            CollapseCategory: function(CategoryElement){
                //alert('ll'+$(CategoryElement));
                $(CategoryElement).find('a').removeClass('buttonup');
                // alert('ll');
                $(CategoryElement).find('a').addClass('buttondown');
                
                this.HideSubs(CategoryElement);
                
                this.ColorTable();
            },
            HideSubs: function(CategoryElement){
                this.ServicesInCategory(CategoryElement).hide(); 
                
            },
            ShowSubs: function(CategoryElement){
                $(CategoryElement).show();
                if ($($(CategoryElement).find('a')[0]).hasClass('buttonup')){
                this.ServicesInCategory(CategoryElement).show();
                
                }
                
            
           },
          
            ServicesInCategory: function (CategoryElement) {
                alert(CategoryElement.id);
                alert(('.BDT_Table TBODY TR[id^="'+'CatIndexFun'+CategoryElement.id+'"].SerFunctions'));
                return $('.BDT_Table TBODY TR[id^="'+'CatIndexFun'+CategoryElement.id+'"].SerFunctions');
                
            },
            ColorTable: function() {
                //primary categories
                //alert('ll');
                $('.BDT_Table .Category').not(':contains(".")').each(
                    function(i,e){
                        $(e).css('background-color','#0099CC');
                        $(e).find('td').css('color','#FFFFFF');
                    }
                );
                $('.BDT_Table .Category:contains(".")').each(
                    function(i,e){
                        $(e).css('background-color','#B3B3B3');
                        $(e).find('td').css('color','#FFFFFF');
                    }
                );
            },
            ExpandCategory: function(CategoryElement){
                $(CategoryElement).find('a').removeClass('buttondown');
                $(CategoryElement).find('a').addClass('buttonup');
                this.ShowSubs(CategoryElement);
                CategoryHandler.ColorTable();
            },
            CollapseExpandListener: function() {
            //alert($('.BDT_Table TBODY TR.Category'));
                $('.BDT_Table TBODY TR.Category').click(function(){CategoryHandler.CollapseExpandHandler(this);});
            },
            CollapseExpandHandler: function(Element){
            //alert('Element'+this);
                if ($($(Element).find('a')[0]).hasClass('buttonup')) {
               // alert('loool');            
                    this.CollapseCategory(Element);                
                } else {
                    this.ExpandCategory(Element);                
                }
            }   
            
        };
         </script>
        <script>
                function toggle() {
                alert(hidethis);
                 if( document.getElementById("hidethis").style.display=='none' ){
                   document.getElementById("hidethis").style.display = 'table-row';
                 }else{
                   document.getElementById("hidethis").style.display = 'none';
                 }
                }
                </script>
        
    <apex:form >
 <!------DISPLAY THE PAGEBLOCK SERVICE SELECTION FOR COUNTRIES---------------------------------------->
  <apex:pageBlock >
            
                 <TABLE class="BDT_Table" border="0">  
                     <tr > 
                         <apex:variable value="{!1}" var="CatIndex"/>
                         <apex:repeat value="{!SALIst1}" var="pbb"> 
                             <tr> </tr>                            
                             <tr id="{!pbb.said}{!CatIndex}" class="Category">
                                 
                                  <td colspan="2" >
                                  <a class="buttonup"></a>
                                  
                                  <apex:outputText value="{!pbb.sa}+{!CatIndex}" />
                                  <apex:inputcheckbox value="{!pbb.selected}" />
                                        
                                  </td>   
                                                
                             </tr>                             
                             <tr id="CatIndexFun{!pbb.said}{!CatIndex}" class="SerFunctions">
                                 <apex:variable value="{!1}" var="FuncIndex"/>
                                 
                                 <apex:repeat value="{!pbb.SFLIst}" var="pb">
                                      <tr id="SerFun{!pb.sfid}" class="SerFunctions">
                                          <td style="padding-left: 30px;"><a class="buttonup"></a>
                                              <apex:outputText value="{!pb.sf}+{!FuncIndex}" />
                                              <apex:inputcheckbox value="{!pb.selected}" />
                                          </td>
                                      </tr>
                                      <tr id="FuncIndexTasks{!pb.sfid}{!FuncIndex}">
                                          <td style="padding-left:60px;">
                                              <apex:pageBlockTable value="{!pb.STLIst}" var="p" >
                                                  <apex:column >
                                                     <apex:facet name="header">Select All <input id="confAllId" type="checkbox" data-type="confAll" disabled="enable"/></apex:facet>
                                                      <apex:inputcheckbox value="{!p.selected}" />
                                                  </apex:column>
                                                  
                                                  <apex:column value="{!p.st}" headerValue="Service Task"/>
                                                  <apex:column value="{!p.stid}" headerValue="Service Task ID"/> 
                                                  
                                              </apex:pageBlockTable> 
                                          </td>
                                      </tr>  
                                      <apex:variable var="FuncIndex" value="{!FuncIndex+ 1}"/>                                    
                                 </apex:repeat>
                             </tr>
                             <apex:variable var="CatIndex" value="{!CatIndex+ 1}"/>
                         </apex:repeat>     
                     </tr>  
                 </TABLE>
                
        </apex:pageBlock>
         
        <script>
          // alert('ll');
           CategoryHandler.CollapseExpandListener(); 
           CategoryHandler.ColorTable();        
                                       
          </script> 
    </apex:form>
</apex:page>