<apex:page showHeader="true" sidebar="false" cache="false" standardStylesheets="true" standardController="Critical_Chain__c" extensions="CCController,CCApi">
    <apex:variable var="unused" value="{!Critical_Chain__c.Flow__c & Critical_Chain__c.Milestone__c}"/>
    <apex:detail subject="{!Critical_Chain__c.Id}" relatedlist="false"/>
    
    <apex:variable var="rootFolder" value="{!IF($CurrentPage.parameters.dev == 'true', 'http://localhost/flowbase/PAWS_ccview', $Resource.PAWS_ccview)}" />
    
            <script type="text/javascript">
                window.WorkRelay = window.WorkRelay || {};
                WorkRelay.constants = WorkRelay.constants || {};
                WorkRelay.constants.resourcesURL = '{!URLFOR($Resource.STSWR1__workrelay_resources)}';
                
                window.chainID = "{!JSENCODE(chain.Id)}";
            </script>    
            
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
<!-- APP CSS-->
            
            <apex:stylesheet value="{!rootFolder}/common_resources/css/common.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/css/grid.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/css/media.css"/>                        
            <apex:stylesheet value="{!rootFolder}/css/main.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/jquery-layout/jquery.layout.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/jquery-ui/jquery-ui-1.8.16.custom.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/gritter/jquery.gritter.css"/>
            
            <apex:stylesheet value="{!rootFolder}/common_resources/components/toolbar/css/style.css"/>                                                

            <!-- Main lib Scripts-->
            <apex:includeScript value="{!rootFolder}/common_resources/js/jquery-1.7.2.min.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/js/Class.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/jquery-ui/jquery-ui-1.8.16.custom.min.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/js/knockout-latest.debug.js"/>             
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/gritter/jquery.gritter.min.js"/>                                                       
            <apex:includeScript value="{!rootFolder}/common_resources/js/user-notification-manager.js"/>    
            <apex:includeScript value="{!rootFolder}/common_resources/components/toolbar/js/Toolbar.js"/>                                                                                                                                                                                  
                        
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/jquery-layout/jquery.layout.js"/>            
            
            
        <!-- Main lib Scripts-->
            <apex:includeScript value="{!rootFolder}/common_resources/js/raphael-debug.js"/>
            
            <!-- APP LIB Scripts-->
            <apex:includeScript value="{!rootFolder}/js/lib/moment.min.js"/>
            <apex:includeScript value="{!rootFolder}/js/lib/moment.twix.js"/>
            <apex:includeScript value="{!rootFolder}/js/lib/jquery.pickmeup.min.js"/>
            <apex:includeScript value="{!rootFolder}/js/lib/xml2json.js"/>
           
            <!-- APP Scripts-->
            <apex:includeScript value="{!rootFolder}/js/ApplicationConst.js"/>
            <apex:includeScript value="{!rootFolder}/js/Services.js"/>            
            <apex:includeScript value="{!rootFolder}/js/ko.additional.js"/>
            
            <apex:includeScript value="{!rootFolder}/js/ViewModel/WRChartViewModel.js"/>
            <apex:includeScript value="{!rootFolder}/js/ViewModel/WRTaskViewModel.js"/>
            <apex:includeScript value="{!rootFolder}/js/Draw/WRDiagramElement.js"/>
            <apex:includeScript value="{!rootFolder}/js/Application.js"/>

            <apex:includeScript value="{!rootFolder}/js/DialogController.js"/>

           

        <script type="text/javascript">

                
                String.format = function () {
                    var s = arguments[0];
                    for (var i = 0; i < arguments.length - 1; i++) {
                        var reg = new RegExp("\\{" + i + "\\}", "gm");
                        s = s.replace(reg, arguments[i + 1]);
                    }
                    return s;
                }
        
                var app;
                WorkRelay.constants.appFolder = '{!rootFolder}';            
            
            (function(window,document) {
             
                var prefix = "", _addEventListener, onwheel, support;
             
                // detect event model
                if ( window.addEventListener ) {
                    _addEventListener = "addEventListener";
                } else {
                    _addEventListener = "attachEvent";
                    prefix = "on";
                }
             
                // detect available wheel event
                if ( document.onmousewheel !== undefined ) {
                    // Webkit and IE support at least "mousewheel"
                    support = "mousewheel"
                }
                try {
                    // Modern browsers support "wheel"
                    WheelEvent("wheel");
                    support = "wheel";
                } catch (e) {}
                if ( !support ) {
                    // let's assume that remaining browsers are older Firefox
                    support = "DOMMouseScroll";
                }
                window.addWheelListener = function( elem, callback, useCapture ) {
                    _addWheelListener( elem, support, callback, useCapture );
             
                    // handle MozMousePixelScroll in older Firefox
                    if( support == "DOMMouseScroll" ) {
                        _addWheelListener( elem, "MozMousePixelScroll", callback, useCapture );
                    }
                };
             
                function _addWheelListener( elem, eventName, callback, useCapture ) {
                    elem[ _addEventListener ]( prefix + eventName, support == "wheel" ? callback : function( originalEvent ) {
                        !originalEvent && ( originalEvent = window.event );
             
                        // create a normalized event object
                        var event = {
                            // keep a ref to the original event object
                            originalEvent: originalEvent,
                            target: originalEvent.target || originalEvent.srcElement,
                            type: "wheel",
                            deltaMode: originalEvent.type == "MozMousePixelScroll" ? 0 : 1,
                            deltaX: 0,
                            delatZ: 0,
                            preventDefault: function() {
                                originalEvent.preventDefault ?
                                    originalEvent.preventDefault() :
                                    originalEvent.returnValue = false;
                            }
                        };
             
                        // calculate deltaY (and deltaX) according to the event
                        if ( support == "mousewheel" ) {
                            event.deltaY = - 1/40 * originalEvent.wheelDelta;
                            // Webkit also support wheelDeltaX
                            originalEvent.wheelDeltaX && ( event.deltaX = - 1/40 * originalEvent.wheelDeltaX );
                        } else {
                            event.deltaY = originalEvent.detail;
                        }
             
                        // it's time to fire the callback
                        return callback( event );
             
                    }, useCapture || false );
                }
             
            })(window,document);

            
            (function (window, document, $, undefined) {
                  var app,
                    sidebar,
                    canvasHolder,
                    headerHeight,    
                    jCanvas,
                    jSidebar;
                
                  $(document).ready(function () {
                    $.get('{!rootFolder}/app.html',function(r){
                     $("#app_main_holder").replaceWith(r);

                      app = new CriticalViewApp.Application();
                      window.$__app = app;
                      jCanvas = $("#canvas");
                      jSidebar = $("#sidebar");                
                      
                    app.load(function () {
                      sidebar = $("#sidebar_grid");
                      canvasHolder = $("<div id='sidebar_grid_svg'></div>").appendTo(sidebar);
                
                      jSidebar.on('scroll', function (e) {
                        jCanvas.scrollTop(e.target.scrollTop);
                      });
                
                      jCanvas.on("synchronizeColumns", function (e) {
                        jSidebar.scrollTop(e.target.scrollTop);
                      });
                      
                      $(window).bind('resize',function () {
                        app.layout();
                      });
                                    
                      var elem = document.getElementById('canvas');
                      
                      addWheelListener( elem, function(e){
                        var delta = e.deltaY;
                        jCanvas.scrollTop(jCanvas.scrollTop() + delta * 10);
                        jSidebar.scrollTop(jCanvas.scrollTop());
                        e.preventDefault ? e.preventDefault() : (e.returnValue = false);
                      });
                                        
                      function onWheel(e) {
                        e = e || window.event;                                       
                      }
                    }, function(){
                      headerHeight = sidebar.find('thead').outerHeight();
                      canvasHolder.css({
                        position:'absolute',
                        left:0,
                        top:headerHeight
                      });
                        if(window.postLoadAdditional){
                            postLoadAdditional(window, document, $, undefined, app);
                        }
                    });
                  });
                  
                  });

                
                })(window, document, jQuery, undefined);

            </script>    

        <apex:insert name="mini_header_container">
            <div id="miniheader">
                <apex:insert name="header_container">
          
                </apex:insert>
                <apex:insert name="toolbar_container">
                <div id="wr_toolbar">
                    
                </div>
                </apex:insert>
            </div>
        </apex:insert>
                
        <div id="content" >
            <div id ="app_main_holder" />
    </div>
    
</apex:page>