<apex:page showHeader="true" sidebar="false" cache="false" standardStylesheets="true" standardController="Critical_Chain__c" extensions="CCApi">
    <apex:variable var="rootFolder" value="{!IF($CurrentPage.parameters.dev == 'true', 'http://localhost/flowbase/PAWS_cctree', $Resource.PAWS_cctree)}" />
    
            <script type="text/javascript">
                window.WorkRelay = window.WorkRelay || {};
                WorkRelay.constants = WorkRelay.constants || {};
                WorkRelay.constants.resourcesURL = '{!URLFOR($Resource.STSWR1__workrelay_resources)}';
                
                window.chainID = "{!JSENCODE(chain.Id)}";
            </script>    
            
            <meta name="apple-mobile-web-app-capable" content="yes"/>
            <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
<!-- APP CSS-->
            
            <apex:stylesheet value="{!rootFolder}/common_resources/css/common.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/css/grid.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/css/media.css"/>                        
            <apex:stylesheet value="{!rootFolder}/css/main.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/jquery-layout/jquery.layout.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/jquery-ui/jquery-ui-1.8.16.custom.css"/>
            <apex:stylesheet value="{!rootFolder}/common_resources/plugin/gritter/jquery.gritter.css"/>
            
            <apex:stylesheet value="{!rootFolder}/common_resources/components/toolbar/css/style.css"/>                                                

            <!-- Main lib Scripts-->
            <apex:includeScript value="{!rootFolder}/common_resources/js/jquery-1.7.2.min.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/js/Class.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/jquery-ui/jquery-ui-1.8.16.custom.min.js"/>       
            <apex:includeScript value="{!rootFolder}/common_resources/js/knockout-latest.debug.js"/>             
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/gritter/jquery.gritter.min.js"/>                                                       
            <apex:includeScript value="{!rootFolder}/common_resources/js/user-notification-manager.js"/>    
            <apex:includeScript value="{!rootFolder}/common_resources/components/toolbar/js/Toolbar.js"/>                                                                                                                                                                                  
                        
            <apex:includeScript value="{!rootFolder}/common_resources/plugin/jquery-layout/jquery.layout.js"/>            
            
            
        
            <!-- APP Scripts-->
            <apex:includeScript value="{!rootFolder}/gui/ServerModel.js"/>
            <apex:includeScript value="{!rootFolder}/gui/Application.js"/>
            <apex:includeScript value="{!rootFolder}/gui/ViewModel/EditorViewModel.js"/>

           

        <script type="text/javascript">

                
                String.format = function () {
                    var s = arguments[0];
                    for (var i = 0; i < arguments.length - 1; i++) {
                        var reg = new RegExp("\\{" + i + "\\}", "gm");
                        s = s.replace(reg, arguments[i + 1]);
                    }
                    return s;
                }
        
                var app;
                $(document).ready(function () {
                    $.get('{!rootFolder}/' + "app.html",function(r){
                        $("#content").append(r);
                        $("#canvas").css("visibility", "hidden");
                        setTimeout(function(){
                            app = new CriticalTreeApp.Application();
                        },0);
                     })
                });

            </script>    

        <apex:insert name="mini_header_container">
            <div id="miniheader">
                <apex:insert name="header_container">
                    <apex:insert name="header"/>          
                </apex:insert>
                <apex:insert name="toolbar_container">
                <div id="wr_toolbar">
                    
                </div>
                </apex:insert>
            </div>
        </apex:insert>
                
        <div id="content" >
    </div>
</apex:page>