<apex:page StandardController="Help_Record__c" extensions="CV_PreviewHelpRecordCtrl" sidebar="false" showheader="false" >
    <apex:pageMessages id="idPageMessages"/>
    <apex:outputText value="{!record.Rich_Html_Content__c}" escape="false" />
</apex:page>