<!-- 
...................................................
Page: DC_DataCleanser
Author :Ramya Shree Edara
Created Date: AFeb 21,2014
Purpose: DC_DataCleanser to clean up all sensitive data after refresh 
....................................................
 -->
<apex:page sidebar="true" setup="false" showHeader="true" controller="DC_ScriptController">
    <script type="text/javascript">
        function popupWindow() {window.alert("Request has been submitted"
            );
        }
    </script>
    <apex:form >
        <apex:pageBlock >
            <style>
                .pbSubheader {background-color: black !important;border-color: none !important;
                }
            </style>
            <apex:pageBlockSection collapsible="false"
            title="SANDBOX DATA CLEANSER">
                <apex:inputCheckbox style=" text-align:left;" label="HR Exit Interview" value="{!HRExitInterview}" title="HRExitInterview"/>
                <br>
                <apex:inputCheckbox label="PRAFIT" value="{!PRAFIT}" title="PRAFIT"/>
                </br>
                <br>
                <apex:inputCheckbox label="Chatter" value="{!Chatter}" title="Chatter"/>
                </br>
                <br>
                <apex:inputCheckbox label="Files" value="{!Files}" title="Files"/>
                </br>
                <br>
                <apex:inputCheckbox label="Reinstate Images" value="{!ReinstateImages}" title="ReinstateImages" />
                </br>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
 <!-- Diables button when it excutes in production environment -->
                <apex:commandButton action="{!submit}" value="Submit" style="width:120px" onclick="popupWindow();" disabled="{!IF(Contains(orgId ,'00D80000000Kwgb'),true,false)}"  />  "VERY IMPORTANT NOTE : PLEASE DON'T EXECUTE THIS CODE IN PRODUCTION"
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>