<!-- 
...................................................
Page: DC_StatusPgae
Author :Ramya Shree Edara
Created Date: AFeb 21,2014
Purpose: DC_StatusPgae status of operation performed  
....................................................
 -->
<apex:page sidebar="true" setup="false" showHeader="true" >
   <apex:pageBlock >
       <table width="100%" cellspacing="0" cellpadding="0"  align="center">
          <h1>OPERATION SUCCESSFUL </h1>
       </table>
     </apex:pageblock>
</apex:page>