<apex:page standardcontroller="Critical_Chain__c" extensions="EWChainEditController">
    <apex:sectionHeader title="{!IF(Critical_Chain__c.Id == NULL, 'New ', 'Edit ') & $ObjectType.Critical_Chain__c.Label}" subtitle="{!Critical_Chain__c.Name}"/>
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockButtons location="both">
                <apex:commandButton value="Cancel" action="{!cancel}"/>
                <apex:commandButton value="Save" action="{!save}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:inputField required="true" value="{!Critical_Chain__c.Name}"/>
                <apex:inputField required="true" value="{!Critical_Chain__c.Milestone__c}"/>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.Critical_Chain__c.Fields.Flow__c.Label}"/>
                    <apex:outputPanel id="panel">
                        <apex:actionRegion >
                            <apex:selectList value="{!selectedOption}" size="1" multiselect="false">
                                <apex:selectOptions value="{!folderOptions}"/>
                                <apex:actionSupport event="onchange" action="{!onFolderChange}" rerender="panel"/>
                            </apex:selectList>
                        </apex:actionRegion>
                        &nbsp;
                        <apex:selectList value="{!Critical_Chain__c.Flow__c}" size="1" multiselect="false">
                            <apex:selectOptions value="{!availableFlows}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>