<apex:page standardController="EW_Aggregated_Milestone__c" extensions="EWAggregatedMilestoneController" tabStyle="EW_Aggregated_Milestone__c">
	<apex:sectionHeader title="{!$ObjectType.EW_Aggregated_Milestone__c.Label}" subtitle="{!currentMilestone.Name}"/>
	<apex:pageMessages id="messages"/>
	<apex:form >
		<apex:pageBlock mode="edit">

			<apex:pageBlockButtons >
				<apex:commandButton value="Save" action="{!save}"/>
				<apex:commandButton value="Cancel" action="{!cancel}"/>
			</apex:pageBlockButtons>

			<apex:pageBlockSection title="{!$ObjectType.EW_Aggregated_Milestone__c.Label} Details">
				<apex:inputField value="{!currentMilestone.Name}"/>
				<apex:inputField value="{!currentMilestone.PAWS_Project_Flow__c}">
					<apex:actionSupport event="onchange" action="{!onPAWSProjectFlowChange}" rerender="early-warnings"/>
				</apex:inputField>
				<apex:inputField value="{!currentMilestone.Milestone_Target_Date__c}"/>
				<apex:inputField value="{!currentMilestone.Goal__c}"/>
			</apex:pageBlockSection>

			<apex:pageBlockSection title="Early Warnings" columns="1" id="early-warnings">
				<apex:pageBlockTable value="{!junctionWrappers}" var="junctionWrapper">
					<apex:column width="20px">
						<apex:inputCheckbox value="{!junctionWrapper.selected}"/>
					</apex:column>
					<apex:column headerValue="Early Warning" value="{!junctionWrapper.wrappee['Early_Warning__r']['Name']}"/>
					<apex:column headerValue="Flow" value="{!junctionWrapper.wrappee['Early_Warning__r']['Flow__c']}"/>
				</apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>