<apex:page id="articleTabPage" showHeader="true" title="InsidePRA Admin - Articles List" tabStyle="IPA_Articles__c">
    <apex:enhancedList type="IPA_Articles__c" height="725" rowsPerPage="25" id="INSIDEPRAADMINArticleList" />
</apex:page>