<apex:page controller="LMS_ViewCurrentImpactController" title="{!pageTitle}" showHeader="false" sidebar="false" tabStyle="LMS_Role_Course__c" readonly="true">
    <head><title>{!pageTitle}</title></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>  
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script> 
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />   
    <apex:stylesheet value="{!$Resource.PRAStyle}">
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        j$.fx.speeds._default = 400;
        function jtable(){
	        j$(document).ready(function(){        
	            j$("Table[id$=empTotal]").dataTable({            	        	    
	                "sPaginationType": "full_numbers",
	                "bFilter": false,                
	                "iDisplayLength": 25,
	                "aaSorting": [ [0,'asc'] ]
	            } );
	        });     	
     	}   
     	     
	  	j$.fn.dataTableExt.oSort['formatted-num-asc'] = function(a,b) {
		    /* Remove any formatting */
		    var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
		    var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
		    /* Parse and return */
		    return parseFloat(x) - parseFloat(y);
		};
		  
		j$.fn.dataTableExt.oSort['formatted-num-desc'] = function(a,b) {
		    var x = a.match(/\d/) ? a.replace( /[^\d\-\.]/g, "" ) : 0;
		    var y = b.match(/\d/) ? b.replace( /[^\d\-\.]/g, "" ) : 0;
		      
		    return parseFloat(y) - parseFloat(x);
		};
		
		window.onload = jtable();
    </script>
    <apex:pageBlock title="{!pageTitle}">
    	<apex:pageBlockButtons >
    		<apex:outputLink value="/apex/LMS_ExcelCourseAssignments?rEid={!roleId}" styleClass="btn">Export</apex:outputLink>
    	</apex:pageBlockButtons>
        <apex:pageBlockTable value="{!empList}" var="e" id="empTotal">
            <apex:column >
                <apex:facet name="header">Last Name</apex:facet>
                <apex:outputLabel value="{!e.lastName}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">First Name</apex:facet>
                <apex:outputLabel value="{!e.firstName}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Job Family</apex:facet>
                <apex:outputLabel value="{!e.jobClass}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Job Code</apex:facet>
                <apex:outputLabel value="{!e.jobCode}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Job Title</apex:facet>
                <apex:outputLabel value="{!e.jobTitle}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Business Unit</apex:facet>
                <apex:outputLabel value="{!e.businessUnit}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Department</apex:facet>
                <apex:outputLabel value="{!e.department}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Region</apex:facet>
                <apex:outputLabel value="{!e.region}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Country</apex:facet>
                <apex:outputLabel value="{!e.country}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Employee Status</apex:facet>
                <apex:outputLabel value="{!e.status}"/>
            </apex:column>
            <apex:column >
                <apex:facet name="header">Assigned On</apex:facet>
                <apex:outputLabel value="{!e.assignedOn}"/>
            </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
    </apex:stylesheet>
</apex:page>