<apex:page controller="LMS_ViewProjectController" sidebar="false" showheader="false" tabStyle="LMS_Role_Course__c">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>   
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <apex:stylesheet value="{!$Resource.PRAStyle}"/>
    <c:LMS_Scripts />
    <script>	    
	    var jq = jQuery.noConflict();
	    var text = '';
	    jq.fx.speeds._default = 400;
	    jq(function() {
	    	jq("#activatePopup").dialog({
	    		autoOpen: false,
                show: "blind",
                modal: true,
                width: 455,
                height: 255
	    	});
	    	jq("#disablePopup").dialog({
	    		autoOpen: false,
                show: "blind",
                modal: true,
                width: 450,
                height: 255
	    	});
	    });
	    function openActivatePopupwindow(){
        	if (isAnyChecked('checkCourse')) {
            	jq("#activatePopup").dialog("open");
        	} else {
        		alert('Please select a role to activate.');
        	}
        }
	    function openDisablePopupwindow(){	    
        	if (isAnyChecked('checkCourse')) {
            	jq("#disablePopup").dialog("open");
        	} else {
        		alert('Please select a role to disable.');
        	}
        }
	    function closeActivatePopup(){
            jq("#activatePopup").dialog("close");
        }
	    function closeDisablePopup(){
            jq("#disablePopup").dialog("close");
        }
        function activateRoleJS() {
        	closeActivatePopup();
        	activateRole();
        }
        function disableRoleJS() {
        	closeDisablePopup();
        	disableRole();
        }
	    function fnRText() {
	        role = document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").value;
	        if(role != '' && role == 'Enter Role Name') {
	            document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").value = '';
	            document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").className = 'AutoCompleteTextBox';
	        } else {
	            document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").className = 'AutoCompleteTextBox';
	        }
	    }
	    function fnSearch(){
	        var client = document.getElementById("{!$Component.frm.pb.pbs.clientTextId}");
	        var project = document.getElementById("{!$Component.frm.pb.pbs.projectTextId}");
	        var role = document.getElementById("{!$Component.frm.pb.pbs.slProjectRole}");
	        var name = document.getElementById("{!$Component.frm.pb.pbs.roleTextId}");
	        if((client.value == '' && project.value == '' && (role.selectedIndex == 0 || role.selectedIndex != 0) && (name.value == '' || name.value == 'Enter Role Name')) ||
	           (client.value != '' && project.value != '' && role.selectedIndex == 0 && (name.value == '' || name.value == 'Enter Role Name')) ||
	           (client.value != '' && project.value == '' && role.selectedIndex == 0 && (name.value == '' || name.value == 'Enter Role Name'))) {
	            alert('Project Role must contain a Client ID and/or Project Id and a Project Role');
	        } else {
	            if(name.value != '' && name.value != 'Enter Role Name'){
	                search();
	                hideCriteria();
	            } else {
	                if(client.value != '' && project.value != '') {
	                    LMS_ViewProjectController.isValidClientId(client.value, function(result,event){
	                        if(!result){
	                            alert("Sponsor does not exist");
	                        } else {
	                            LMS_ViewProjectController.isValidProjectId(project.value, function(result,event){
	                                if(!result){
	                                    alert("Project does not exist");
	                                } else {
	                                    LMS_ViewProjectController.isValidClientProjectPair(client.value, project.value, function(result,event){
	                                        if(!result) {
	                                            alert("Client/Project pair is invalid");
	                                        } else {
	                                            search();
	                                            hideCriteria();
	                                        }
	                                    });
	                                }
	                            });
	                        }
	                    });
	                } else if(client.value != '' && project.value == '') {
	                    LMS_ViewProjectController.isValidClientId(client.value, function(result,event){
	                        if(!result) {
	                            alert("Sponsor does not exist");
	                        } else {
	                            search();
	                            hideCriteria();
	                        }
	                    });
	                } else if(client.value == '' && project.value != '') {
	                    LMS_ViewProjectController.isValidProjectId(project.value, function(result,event){
	                        if(!result){
	                            alert("Project does not exist");
	                        } else {
	                            search();
	                            hideCriteria();
	                        }
	                    });
	                }
	            }
	        }    
	    }
	    function fnClientAC() {
	        document.getElementById("{!$Component.frm.pb.pbs.projectTextId}").value='';
	    }
	    function fnProjectAC() {
	        changeProject();
	    }
	    function fnReset(){
	        document.getElementById("{!$Component.frm.pb.pbs.clientTextId}").value = '';
	        document.getElementById("{!$Component.frm.pb.pbs.projectTextId}").value = '';
	        document.getElementById("{!$Component.frm.pb.pbs.slProjectRole}").selectedIndex = 0;
	        document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").value = 'Enter Role Name';
	        document.getElementById("{!$Component.frm.pb.pbs.roleTextId}").className = 'WaterMarkedTextBox';
	        rReset();
	    }
	    function hideCriteria(){
	        twistSection(document.getElementById('{!$Component.frm.pb.pbs}').getElementsByTagName('img')[0])      
	    }
	    function stopRKey(evt) {
	       var evt = (evt) ? evt : ((event) ? event : null);
	       var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
	       if ((evt.keyCode == 13) && (node.type == "text")) {return false;}
	    }
	    function checkAll(cb,cbid) {
	        var inputElem = document.getElementsByTagName("input");                    
	        for(var i=0; i<inputElem.length; i++)
	        {            
	             if(inputElem[i].id.indexOf(cbid)!=-1){                                       
	                inputElem[i].checked = cb.checked;
	            }
	        }
	    }
	    document.onkeypress = stopRKey; 
	    window.onload = setFocus();
    </script>
    <body style="background-color:transparent">
    <apex:form id="frm">   
        <apex:pageBlock title="Search Role Criteria" id="pb">
            <apex:outputPanel id="rop">
            <apex:actionStatus startText="Searching for Role..." id="searchRole">
                <apex:facet name="start">
                    <apex:image value="/img/loading.gif" title="Searching for Role..." />
                </apex:facet>
                <apex:facet name="stop"></apex:facet>
            </apex:actionStatus>
            <apex:pageBlockSection columns="1" id="pbs" title="Search Criteria">
                <apex:outputPanel id="roleCrit">
                <div id="criteria">
                    <span class="boldSpanLabel"><i>1. Enter Project ID:</i></span>
                    <apex:outputPanel id="projAC">
                    <apex:inputText value="{!projectText}" style="width:175px" id="projectTextId" >
                        <c:AutoCompleteComp id="acProj" objectname="WFM_Project__c" searchField="Name" additionalFilter="{!projectFilter}" autocomplete_textbox="{!$Component.projectTextId}" selectJSFunc="fnProjectAC()"/>
                        <apex:actionFunction action="{!projSearchType}" name="changeProject" reRender="roleCrit" />
                    </apex:inputText>
                    </apex:outputPanel>

                    <br/>
                    <span class="boldSpanLabel"><i>2. Wait for Sponsor to populate:</i></span>
                    <apex:outputPanel id="clientAC">
                    <apex:inputText value="{!clientText}" style="width:175px" id="clientTextId" onclick="javascript:fnClientAC();return false;">
                        <c:AutoCompleteComp id="acCleint" objectname="WFM_Client__c" searchField="Name" autocomplete_textbox="{!$Component.clientTextId}" selectJSFunc="fnProjectAC()"/>
                    </apex:inputText>
                    </apex:outputPanel>
  
                    <br/>
                    <span class="boldSpanLabel"><i>3. Select Project Role:</i></span>
                    <apex:selectList value="{!projectRole}" id="slProjectRole" size="1" multiselect="false">
                        <apex:selectOptions value="{!projectRoles}"/>
                    </apex:selectList>

                    <br/>
                    <span class="boldSpanLabel"><i>OR Enter Role name free text:</i></span>
                    <apex:inputText value="{!roleName}" styleClass="{!roleNameStyle}" style="width:300px" id="roleTextId" onclick="javascript:fnRText();return false;" onkeydown="javascript:if(event.keyCode==13)fnSearch();">
                        <c:AutoCompleteComp id="roleAC" objectname="LMS_Role__c" searchField="Role_Name__c" additionalFilter="{!roleFilter}" autocomplete_textbox="{!$Component.roleTextId}"/>
                    </apex:inputText>
                </div>
                <div class="buttonContainer">
                    <apex:commandButton value="Submit Search" id="commRSearch" onclick="javascript:fnSearch();return false;" rerender="pb" tabIndex="8"/>
                    <apex:commandButton value="Reset" id="commRReset" onclick="javascript:fnReset();return false;" reRender="view" tabIndex="9"/>
                    <apex:actionFunction action="{!search}" name="search" status="searchRole" rerender="roleOp,cop" />
                    <apex:actionFunction action="{!roleReset}" name="rReset" status="searchRole" rerender="rop,cop"/>
                </div>
                </apex:outputPanel>
            </apex:pageBlockSection> 
                       
            <apex:outputPanel id="roleOp">
            <apex:pageBlock rendered="{!renderBlock}" id="sr">
                <apex:outputLabel styleClass="lmsPbTitle" value="Project Specific Role Results"></apex:outputLabel>
                &nbsp;&nbsp;
                <apex:pageBlockTable id="crTable" value="{!roleList}" var="r" style="width:100%" border="2" columns="11">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:inputCheckbox id="checkAll" value="{!allChecked}" onclick="javascript:checkAll(this,'checkCourse');">
                            </apex:inputCheckbox>
                        </apex:facet>
                        <apex:inputCheckbox id="checkCourse" value="{!r.checked}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Role Name"/>
                        </apex:facet>
                        <apex:outputLink value="/apex/LMS_CourseToRole?id=pst&roleId={!r.roleId}&sfdc.tabName={!courseToRoleId}" title="view" target="_blank">
                            {!r.roleName}
                        </apex:outputLink>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Employee Count"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.employeeCount}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Sync Status"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.sync}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Status"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.status}"/>
                    </apex:column>                    
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Created By"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.CreatedBy}"/>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Created Date"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.CreatedDate}"/>
                    </apex:column>
                    
                     <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Last Modified By"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.LastModifiedBy}"/>
                    </apex:column>
                     
                    <apex:column >
                        <apex:facet name="header">
                            <apex:outputLabel value="Last Modified Date"/>
                        </apex:facet>
                        <apex:outputLabel value="{!r.LastModifiedDate}"/>
                    </apex:column>                    
                    
                </apex:pageBlockTable>
                <div id="actionContainer">                  
                    <apex:commandButton value="Activate Role" id="commActivate" onClick="javascript:openActivatePopupwindow(); return false;"/>
                    <apex:commandButton value="Disable Role" id="commDisable" onClick="javascript:openDisablePopupwindow(); return false;"/>                     
                    <apex:commandButton value=" Export " id="btnExport" action="{!invokeExportRoles}" style="width: 90px;"  /> 
                    <apex:actionFunction name="activateRole" action="{!activateRoles}" status="activation" rerender="roleOp"/>
                    <apex:actionFunction name="disableRole" action="{!disableRoles}" status="activation" rerender="roleOp"/>
                    <apex:actionStatus id="activation">
                        <apex:facet name="start">
                            <apex:image value="/img/loading.gif"/>
                        </apex:facet>
                        <apex:facet name="stop"/>
                    </apex:actionStatus>
                </div>
            </apex:pageBlock>
            
            <apex:pageMessage summary="{!roleErrorText}" strength="3" severity="info" rendered="{!renderError}"/>
            
            <apex:pageMessage summary="{!webServiceError}" strength="3" severity="info" rendered="{!bWebServiceError}">
                <apex:commandLink action="{!showErrors}" title="view" target="_blank" rendered="true">Error Log</apex:commandLink>
            </apex:pageMessage>
            </apex:outputPanel>
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
    </body>
    
    <div id="activatePopup" title="Activation Change Submission">
    	<apex:form id="activatePopupfrm">
    		<apex:pageBlock id="pbPopup">
                <apex:image value="{!URLFOR($Resource.warningIcon)}" width="40" height="35" title="Warning" style="float:left;padding-right:1em;"/>
    			<span class="popupInfo">You are re-activating a disabled role.  You will need to manually add people to this re-activated role.</span><br/><br/>
    			<span class="popupInfo">Click Activate Role if you wish to continue</span><br/><br/>
                <apex:commandButton value="Activate Role" id="commActivatePop" onClick="javascript:activateRoleJS(); return false;"/>
                <apex:commandButton value="Cancel" id="commCancelPop" onclick="javascript:closeActivatePopup(); return false;"/>
    		</apex:pageBlock>
    	</apex:form>
    </div>
    
    <div id="disablePopup" title="Activation Change Submission">
    	<apex:form id="disablePopupfrm">
    		<apex:pageBlock id="pbPopup">
                <apex:image value="{!URLFOR($Resource.warningIcon)}" width="40" height="35" title="Warning" style="float:left;padding-right:1em;"/>
    			<span class="popupInfo">Caution!  You are about to disable a role.  This will remove all
    				people from the role.  If the role is reactivated, you will have to re-associate all people to the role.
    			</span><br/>
    			<span class="popupInfo">Click Disable Role if you wish to continue</span><br/><br/>
                <apex:commandButton value="Disable Role" id="commDisablePop" onClick="javascript:disableRoleJS(); return false;"/>
                <apex:commandButton value="Cancel" id="commCancelPop1" onclick="javascript:closeDisablePopup(); return false;"/>
    		</apex:pageBlock>
    	</apex:form>
    </div>
    
</apex:page>