<apex:page controller="LMS_CourseToAdhocController" sidebar="false" showHeader="false" tabStyle="LMS_Role_Course__c">

	<apex:pageBlock title="CLEAR Error Log" id="pb">
		<apex:outputPanel >
		
			<apex:outputText value="SFDC Errors" style="font-weight:bold;font-size:14px;"/><br/>
			<apex:repeat value="{!sfdcErrors}" var="r" id="sfdcErr">
				<apex:outputText value="- {!r}"/><br/>
			</apex:repeat>
		
			<apex:outputText value="Role Errors" style="font-weight:bold;font-size:14px;"/><br/>
			<apex:repeat value="{!createErrors}" var="r" id="roleErr">
				<apex:outputText value="- {!r}"/><br/>
			</apex:repeat><br/>
			
			<apex:outputText value="Role Course Addition Errors" style="font-weight:bold;font-size:14px;"/><br/>
			<apex:repeat value="{!addErrors}" var="a" id="addErr">
				<apex:outputText value="- {!a}"/><br/>
			</apex:repeat><br/>
			
			<apex:outputText value="Role Course Deletion Errors" style="font-weight:bold;font-size:14px;"/><br/>
			<apex:repeat value="{!deleteErrors}" var="d" id="deleteErr">
				<apex:outputText value="- {!d}"/><br/>
			</apex:repeat>
			
			<apex:outputText value="Web Service Callout Errors" style="font-weight:bold;font-size:14px;"/><br/>
			<apex:repeat value="{!calloutErrors}" var="c" id="calloutErr">
				<apex:outputText value="- {!c}"/><br/>
			</apex:repeat>
			
		</apex:outputPanel>
	</apex:pageBlock>

</apex:page>