<apex:page controller="LMS_ViewPRAController" contentType="application/vnd.ms-excel#SalesForceExport.xls" cache="true">
    <apex:pageBlock >
        <apex:pageBlockTable value="{!exportRole}" var="role">        
            <apex:column value="{!role.roleName}" headerValue="Role Name" />
            <apex:column value="{!role.employeeCount}" headerValue="Employee Count"/>
            <apex:column value="{!role.sync}" headerValue="Sync Status"/>
            <apex:column value="{!role.status}" headerValue="Status"/>
            <apex:column value="{!role.CreatedBy}" headerValue="Created By" />
            <apex:column value="{!role.CreatedDate}" headerValue="Created Date" />
            <apex:column value="{!role.LastModifiedBy}" headerValue="Last Modified By" />
            <apex:column value="{!role.LastModifiedDate}" headerValue="Last Modified Date" />
        </apex:pageBlockTable>
    </apex:pageBlock> 
</apex:page>