<apex:page controller="LMS_RoleViewerController" sidebar="false">
	<apex:stylesheet value="{!$Resource.PRAStyle}">
    <apex:tabPanel switchType="client" id="tp" tabClass="activeTab" inactiveTabClass="inactiveTab">
	    <apex:tab label="PRA Role" name="pra" id="pra" rendered="{!renderPRATab}">
	        <iframe src="/apex/LMS_ViewPRARoles" width="100%" height="600" frameborder="0" allowtransparency="true"></iframe>
	    </apex:tab>
	    <apex:tab label="Project Role" name="project" id="project" rendered="{!renderPSTTab}">
	        <iframe src="/apex/LMS_ViewProjectRoles" width="100%" height="600" frameborder="0" allowtransparency="true"></iframe>
	    </apex:tab>
	    <apex:tab label="Additional Role" name="adhoc" id="adhoc" rendered="{!renderAdhocTab}">
	        <iframe src="/apex/LMS_ViewAdhocRoles" width="100%" height="600" frameborder="0" allowtransparency="true"></iframe>
	    </apex:tab>
    </apex:tabPanel>
    </apex:stylesheet>
</apex:page>