<apex:page id="pg" sidebar="false" showHeader="false" controller="PBB_Mobile_Cont">
<apex:stylesheet value="{!URLFOR($Resource.PRA_PBB_DataTables_1_10_7, 'DataTables-1.10.7/media/css/jquery.dataTables.css')}"/>
<!-- <apex:stylesheet value="{!URLFOR($Resource.PRA_PBB_styles, 'styles/fonts/styles.css')}"/> -->
<style>
    @font-face {
        font-family: "Gotham Pro Regular";
        src: url('{!URLFOR($Resource.PRA_PBB_styles, 'styles/fonts/GothaProReg.otf')}');
    }
    @font-face {
        font-family: "Gotham Pro Medium";
        src: url('{!URLFOR($Resource.PRA_PBB_styles, 'styles/fonts/GothaProMed.otf')}');
    }
    @font-face {
        font-family: "Heroic Regular";
        src: url('{!URLFOR($Resource.PRA_PBB_styles, 'styles/fonts/HeroicCondensed-Regular.otf')}');
    }
    .main-page {
        width: 80%;
        margin-bottom: 63px;
        padding: 10px;
        position: relative;
    }
    .lpi-expected {
        margin-top: 5px;
    }
    .lpi-expected.back {
    	background: #2a2a2a !important;
    }

</style>
<apex:stylesheet value="{!$Resource.PRA_PBB_CSS_Temp}"/>

<apex:includeScript value="{!URLFOR($Resource.PRA_PBB_DataTables_1_10_7, 'DataTables-1.10.7/media/js/jquery.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.PRA_PBB_DataTables_1_10_7,'DataTables-1.10.7/media/js/jquery.dataTables.min.js')}"/>

<apex:form id="frm">
    <c:PBB_Header_Component title="{!$Label.PBB_Mobile_3_Patient_Enrollment_and_Retention}"/>

    <c:PBB_Left_Menu_Enrollment_Component_1 />
    <main class="main-page">
        <div class="page hidden">
            <div class="enrollment-summary-info">
                <div class="enrollment-item-label">{!$Label.PBB_Mobile_8_FPI_Date}</div>
                <div class="enrollment-item-value">
                    <apex:outputText value="{0,date,dd'-'MMM'-'yy}">
                        <apex:param value="{!patientEnrollmentItem.FPI_Planned}" /> 
                    </apex:outputText>
                </div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-label">{!$Label.PBB_Mobile_8_Target_of_patients}</div>
                <div class="enrollment-item-value">{!patientEnrollmentItem.TargetNoPatients}</div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-label">{!$Label.PBB_Mobile_8_Patients_erolled_to_date}</div>
                <div class="enrollment-item-value">{!patientEnrollmentItem.EnrolledToDate}</div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-label">{!$Label.PBB_Mobile_8_LPI_Planned}</div>
                <div class="enrollment-item-value">
                    <apex:outputText value="{0,date,dd'-'MMM'-'yy}">
                        <apex:param value="{!patientEnrollmentItem.LPI_Planned}" /> 
                    </apex:outputText>
                </div>
            </div>
            <div class="enrollment-summary-info lpi-expected back">
                <div class="enrollment-item-label">&nbsp;</div>
            </div>
            <div class="enrollment-summary-info lpi-expected">
                <div class="enrollment-item-label">{!$Label.PBB_Mobile_8_LPI_expected}</div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-sub-label">{!$Label.PBB_Mobile_8_Hight_risk_scenario}</div>
                <div class="enrollment-item-value">
                    <apex:outputText value="{0,date,dd'-'MMM'-'yy}">
                        <apex:param value="{!patientEnrollmentItem.LPI_HighRisk}" /> 
                    </apex:outputText>
                </div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-sub-label">{!$Label.PBB_Mobile_8_Medium_risk_sxenario}</div>
                <div class="enrollment-item-value">
                    <apex:outputText value="{0,date,dd'-'MMM'-'yy}">
                        <apex:param value="{!patientEnrollmentItem.LPI_MedRisk}" /> 
                    </apex:outputText>
                </div>
            </div>
            <div class="enrollment-summary-info">
                <div class="enrollment-item-sub-label">{!$Label.PBB_Mobile_8_Low_risk_scenario}</div>
                <div class="enrollment-item-value">
                    <apex:outputText value="{0,date,dd'-'MMM'-'yy}">
                        <apex:param value="{!patientEnrollmentItem.LPI_LowRisk}" /> 
                    </apex:outputText>
                </div>
            </div>
        </div>

        <div class="page graph hidden">
            <c:PBB_ViewSitesandSubjectgraphs GType="SubjectEnrollment" PBBSID="{!scenarioId}" id="c"/>
        </div>

        <div class="page hidden">
            <!-- c:PBB_OBIEE_Reports PID="{!projectDetailItem.ProjectID}" GType="Enrollment Status by Country"></c:PBB_OBIEE_Reports -->
            <c:PBB_OBIEE_Reports PID="ANS1411X-AS1411" GType="Enrollment Status by Country"></c:PBB_OBIEE_Reports>  <!-- TODO Dima HARDCODE!  -->
        </div>

        <!-- <div class="page hidden">
            <c:PBB_OBIEE_Reports PID="a93L000000061YeIAI" GType="Enrollment Status by Site"></c:PBB_OBIEE_Reports>
        </div> -->
    </main>
    <c:PBB_Footer_Menu_Component />
</apex:form>
<script>
var j$ = jQuery.noConflict();

function getQueryParams(qs) {
    qs = qs.split("+").join(" ");

    var params = {}, tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while (tokens = re.exec(qs)) {
        params[decodeURIComponent(tokens[1])]
            = decodeURIComponent(tokens[2]);
    }
    return params;
}

// var j$ = $; 
$(document).ready(function() {
    // page switching
    function showPage(number) {
        $('.page').addClass('hidden').eq(number).removeClass('hidden');
        $('.navigation .nav-a').removeClass('active').eq(number).addClass('active');
    }
    
    // show page passed in URL
    var params = getQueryParams(document.location.search);
    var numPages = 3;
        
    var page = params['page'];
    if (page && (page = parseInt(page)) && page > 0 && page <= numPages) {
        page = page - 1;
    } else {
        page = 0;
    }
    showPage(page);

    // navigation    
    $('.navigation').on('click', '.nav-a', function(){
        showPage($(this).index());
        return false;
    });
});
</script>
</apex:page>