<apex:page standardController="PAWS_Floating_Process__c" extensions="PAWS_FloatingProcessEditExtension" tabStyle="PAWS_Floating_Process__c">
	<apex:form >
		<apex:sectionHeader title="Floating Process Edit" subtitle="New Floating Process"/>
		<apex:pageMessages id="page-messages" />
		
		<apex:pageBlock title="Floating Process Edit" mode="edit">
			<apex:pageBlockButtons >
				<apex:commandButton action="{!Save}" value="Save"/>
				<apex:commandButton action="{!Cancel}" value="Cancel" immediate="true" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="Information" columns="1">
				<apex:inputField value="{!record.Name}" required="true"/>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Flow" />
					<apex:actionRegion >
						<apex:selectList value="{!SelectedFlowId}" multiselect="false" size="1" required="true">
							<apex:selectOptions value="{!FloatingProcessesOptions}"/>
							<apex:actionSupport event="onchange" action="{!FlowOnChange}" rerender="roles-section" />
						</apex:selectList>
					</apex:actionRegion>
				</apex:pageBlockSectionItem>
				<apex:inputField value="{!record.Description__c}"/>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="PAWS Object References" columns="1">
				<apex:outputField value="{!record.PAWS_Project_Flow__c}"/>
				<apex:outputField value="{!record.PAWS_Project_Flow_Country__c}"/>
				<apex:outputField value="{!record.PAWS_Project_Flow_Site__c}"/>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="User Roles" columns="1" id="roles-section">
				<apex:repeat value="{!FlowSwimlanes}" var="swimlane" id="repeat-swimlanes">
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="{!swimlane.Name}" />
						<apex:inputField value="{!record[swimlane.STSWR1__Assign_To__c]}" />
					</apex:pageBlockSectionItem>
				</apex:repeat>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>