<apex:page Controller="PAWS_FloatingProcessesController" showHeader="false" sidebar="false" action="{!init}" >
	
  <apex:form >
	
	<apex:pageBlock title="Start new Floating Process" id="startProcess">
        <apex:selectList value="{!selectedFlowId}" multiselect="false" size="1" >
            <apex:selectOptions value="{!availableFlows}"/>
        </apex:selectList>
        &nbsp; &nbsp;            
        <apex:commandButton value="Start" action="{!apply}" status="pageStatus" reRender="startProcess, processesInProgress, messages, leaveThePage"/>
         
        <apex:actionStatus id="pageStatus">
   		  <apex:facet name="start">
     	    <STSWR1:ScreenLocker />
   		  </apex:facet>
		</apex:actionStatus>	
	</apex:pageBlock>
	
	<apex:pageMessages id="messages" />
	
	<apex:pageBlock title="Floating Processes in progress" id="processesInProgress">
		<apex:variable value="{!1}" var="rowNum"/>
        <apex:pageBlockTable value="{!flowsInProgress}" var="flow">
	    	<apex:column headerValue="#">
				<apex:outputText value="{!FLOOR(rowNum)}"/>
				<apex:variable var="rowNum" value="{!rowNum + 1}"/>
			</apex:column>
            <apex:column headerValue="Flow Name">
            	<apex:outputLink value="{!URLFOR('/' + flow.STSWR1__Flow__c)}" target="_blank">{!flow.STSWR1__Flow__r.Name}</apex:outputLink>
            </apex:column>
            <apex:column value="{!flow.STSWR1__Is_Active__c}" headerValue="Is Active"/>
            <apex:column value="{!flow.CreatedDate}" headerValue="Started Date"/>
            <apex:column value="{!flow.CreatedBy.Name}" headerValue="Started By"/>
        </apex:pageBlockTable>
	</apex:pageBlock>
	
	<apex:pageBlock title="Floating Processes completed">
		<apex:variable value="{!1}" var="rowNum1"/>
        <apex:pageBlockTable value="{!flowsCompleted}" var="flow">
        	<apex:column headerValue="#">
				<apex:outputText value="{!FLOOR(rowNum1)}"/>
				<apex:variable var="rowNum1" value="{!rowNum1 + 1}"/>
			</apex:column>
            <apex:column headerValue="Flow Name">
            	<apex:outputLink value="{!URLFOR('/' + flow.STSWR1__Flow__c)}" target="_blank">{!flow.STSWR1__Flow__r.Name}</apex:outputLink>
            </apex:column>
            <apex:column value="{!flow.LastModifiedDate}" headerValue="Completed Date"/>
            <apex:column value="{!flow.LastModifiedBy.Name}" headerValue="Completed By"/>
        </apex:pageBlockTable>
	</apex:pageBlock>
	
	<apex:outputPanel id="leaveThePage">
		<apex:outputPanel rendered="{!leaveThePage}" >
			<script>
				var url, msg;
            	
            	url = "{!retURL}";
            	
            	if (window.opener && window.postMessage) {
            		msg = '{"action":"loadURL","url":"' + url + '"}';
            		window.opener.postMessage(msg, '*');
            		window.close();
            	}
            	else {
            		window.open(url);
                	window.close();
                }
			</script>
		</apex:outputPanel>
	</apex:outputPanel>
  </apex:form>
	
</apex:page>