<apex:page controller="PAWS_WorkflowTaskDetailsController" action="{!init}" showHeader="false" sidebar="false" >
	<STSWR1:WorkflowTaskDetails cursorId="{!CursorId}" stepId="{!StepId}"
		requireStartDate="{!RequireStartDate}" requireCompleteDate="{!RequireCompleteDate}" requireComments="{!RequireComments}"/>
</apex:page>