<apex:page controller="PBB_ProjectCriteriaController" tabStyle="Bid_Project__c">
  
   <!------DISPLAY THE MAIN TAB MENU---------------------->
   <table style="width:100%">
       <tr>   
           <td><c:PBB_ProjectHomeTabsComp PBBScenarioID="{!PBBScenarioID}" DisableTabsList="{!HiddenHomeTabsList}"></c:PBB_ProjectHomeTabsComp></td> 
           <td></td>
       </tr>
       <tr>
       </tr>     
   </table>
   <!------DISPLAY THE MAIN TAB MENU---------------------->
   <!------DISPLAY THE SUBTAB MENU------------------------> 
   <apex:pageblock >   
      <c:PBB_ProjectCriteriaSubTabsComp PBBScenarioID="{!PBBScenarioID}" DisableTabsList="{!HiddenSubTabsList}"></c:PBB_ProjectCriteriaSubTabsComp><br></br><br></br>   
   </apex:pageblock>
   <!------DISPLAY THE SUBTAB MENU------------------------>
   
      <apex:outputPanel id="Defaulttoprojectintotab" rendered="{!screenState == '1'}">
                <script>
                    window.location = "../apex/PBB_ProjectInformation?PBBScenarioID={!PBBScenarioID}";
                </script>
            </apex:outputPanel>
</apex:page>