<apex:page controller="PBB_ProjectResultsController" tabStyle="Bid_Project__c">
   <!------DISPLAY THE MAIN TAB MENU---------------------->
   <table style="width:100%">
       <tr>   
           <td><c:PBB_ProjectHomeTabsComp PBBScenarioID="{!PBBScenarioID}"  DisableTabsList="{!HiddenHomeTabsList}"></c:PBB_ProjectHomeTabsComp></td> 
           <td></td>
       </tr>
       <tr>         
       </tr>     
   </table> 
   <!------DISPLAY THE MAIN TAB MENU-------------------->
   <!------DISPLAY THE SUBTAB MENU------------------------>
   <apex:pageblock >   
       <c:PBB_ProjectResultsSubTabsComp PBBScenarioID="{!PBBScenarioID}"  DisableTabsList="{!HiddenSubTabsList}"></c:PBB_ProjectResultsSubTabsComp><br></br><br></br>
   </apex:pageblock>  
   <!------DISPLAY THE SUBTAB MENU------------------------>
    <apex:outputPanel id="Defaulttoprojectplantab" rendered="{!screenState == '1'}">
                <script>
                    window.location = "../apex/PBB_ProjectPlan?PBBScenarioID={!PBBScenarioID}";
                </script>
            </apex:outputPanel>
            
</apex:page>