<apex:page standardController="Bid_Project__c" extensions="PBB_BidProjectsviewController" >
    <c:CV_Help_And_Training />
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"/>
    <!--  <apex:stylesheet value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css"/>   -->
        <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.jQueryGraph, '/jqui/css/start/jquery-ui-1.8.17.custom.css')}"  /> 
    <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />
    <apex:styleSheet value="{!$Resource.PBBStyle}" />
    
    <apex:sectionheader title="{!$ObjectType.Bid_Project__c.label} Detail" subtitle="{!Bid_Project__c.Name}"/>  
    <!------------------------FORM START---------------------------------------------->  
    <apex:form id="frm">        
        <!------BID PROJECT Information block start---------------------------------------------->
        <apex:pageblock mode="maindetail" title="{!$ObjectType.Bid_Project__c.label} Detail">        
            <apex:pageblockbuttons >
                <apex:commandbutton value="Edit" action="{!Edit}"/>
                <apex:commandbutton value="Delete" action="{!Delete}"/>                
            </apex:pageblockbuttons>
            <!------DISPLAY Information block start---------------------------------------------->
            <apex:outputpanel >         
                <apex:pageblocksection title="Information" showheader="false" collapsible="false" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Name}"/>                    
                    <apex:outputfield value="{!Bid_Project__c.Sponsor__c}"/>                    
                    <apex:outputfield value="{!Bid_Project__c.Project_Status__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.BID_Stage__c}"/>                  
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Project Start Date"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Project_Start_Date__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="RFP Expected"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.RFP_Expected__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem> 
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Project End Date"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Project_End_Date__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="RFP Received"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.RFP_Received__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:outputfield value="{!Bid_Project__c.Therapeutic_Area__c}"/>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Proposal Due Date"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Proposal_Due_Date__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:outputfield value="{!Bid_Project__c.Indication_Group__c}"/>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Bid Defence Date"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Bid_Defense_Date__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:outputfield value="{!Bid_Project__c.Primary_Indication__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Opportunity_Owner__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Study_Phase__c}"/>
                    <apex:pageblocksectionitem />
                    <apex:outputfield value="{!Bid_Project__c.Business_Unit__c}"/>
                    <apex:pageblocksectionitem />
                    <apex:pageblocksectionitem />   
                </apex:pageblocksection>
                <!------DISPLAY Information block End---------------------------------------------->                
                <!------DISPLAY Project SRM Data block start---------------------------------------------->
                <apex:pageblocksection title="Bid Project Data" showheader="true" collapsible="true" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Opportunity_Type__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Split_Sites_NA__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.split_Sites_EAPA__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Expected_Patients__c}"/>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="First Patient In"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.First_Patient_In__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:outputfield value="{!Bid_Project__c.Expected_Sites__c}"/>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Last Patient In"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Last_Patient_In__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    
                    <apex:pageblocksectionitem />
                </apex:pageblocksection>
                <!------DISPLAY Project SRM Data block End---------------------------------------------->              
                <!------DISPLAY Milestones block start---------------------------------------------->
                <apex:pageblocksection title="Milestones" showheader="true" collapsible="true" columns="2">
                    
                    <apex:pageblockSectionItem >
                        <apex:outputText value="Study Startup Activities Begin"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Study_Startup_Activities_Begin__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Investigator Meeting"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Investigator_Meeting__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="First Subject First Visit"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.First_Subject_First_Visit__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Last Subject First Visit"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Last_Subject_First_Visit__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Last Subject Last Visit"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Last_Subject_Last_Visit__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Database Lock/Top Line Results"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Database_Lock_Top_Line_results__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="All Sites Closed"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.All_Sites_Closed__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Statistical Report Complete"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Statistical_Report_Complete__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Final Clinical Study Report"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Final_Clinical_Study_Report__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="All Study Documents Returned to Sponsor"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.All_Study_Documents_Returned_to_Sponsor__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:pageblockSectionItem >
                        <apex:outputtext value="Final Protocol Date"/>
                        <apex:outputText value="{0,date,dd'-'MMM'-'yyyy}">
                            <apex:param value="{!Bid_Project__c.Final_Protocol_Date__c}"/>
                        </apex:outputText>
                    </apex:pageblockSectionItem>
                    <apex:outputField value="{!Bid_Project__c.Total_Project_Duration__c}"/>
                    
                </apex:pageblocksection>
                <!------DISPLAY Milestones block End---------------------------------------------->             
                <!------DISPLAY Study Specifications & Assumptions block start---------------------------------------------->  
                <apex:pageblocksection title="Study Specifications & Assumptions" showheader="true" collapsible="true" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Protocol_Number__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Protocol_Name__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Study_Medication__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Number_Of_Vendors__c}"/>
                </apex:pageblocksection>
                <!------DISPLAY Study Specifications & Assumptions block End---------------------------------------------->             
                <!------DISPLAY Site Specifications & Assumptions block start---------------------------------------------->
                <apex:pageblocksection title="Site Specifications & Assumptions" showheader="true" collapsible="true" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Number_of_Countries__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Number_of_Languages__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Start_up__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Site_Maintenance__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Site_Closeout__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Number_of_Newletters__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Frequency_of_Newsletters__c}"/>
                </apex:pageblocksection> 
                <!------DISPLAY Site Specifications & Assumptions block End---------------------------------------------->                 
                <!------DISPLAY Subject Specifications & Assumptions start---------------------------------------------->
                <apex:pageblocksection title="Subject Specifications & Assumptions" showheader="true" collapsible="true" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Number_of_Subjects_Screened__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Age_Range__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Subject_Screen_Failure__c}"/> 
                    <apex:outputfield value="{!Bid_Project__c.Expected_Labs_per_Subject__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Number_of_Subjects_Randomized__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Subjects_Discontinue_Rate__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Subjects_Completed__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Enrollment_Period_length__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Treatment_Period_Length__c}"/>
                </apex:pageblocksection>
                <!------DISPLAY Subject Specifications & Assumptions block End---------------------------------------------->               
                <!------DISPLAY Project Proposal Team start---------------------------------------------->
                <apex:pageblocksection title="Proposal Team" showheader="true" collapsible="true" columns="2">
                    <apex:outputfield value="{!Bid_Project__c.Proposal_Director__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Regulatory_Expert__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Proposal_Manager__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Therapeutic_Expert__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Project_Manager__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Business_Dev_Expert__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Project_Director__c}"/>
                    <apex:outputfield value="{!Bid_Project__c.Contracts_Expert__c}"/>
                    <apex:pageblocksectionitem />
                    <apex:outputfield value="{!Bid_Project__c.Startup_Expert__c}"/>                 
                </apex:pageblocksection>
                <!------DISPLAY Project Proposal Team End---------------------------------------------->                
                <!------DISPLAY Business Segment block start---------------------------------------------->
                <apex:pageblocksection title="Business Segment" showheader="true" collapsible="true" columns="2">
                    <apex:pageBlockSectionItem > 
                        <apex:outputtext value="Business Segment"/>
                        <apex:outputfield value="{!Bid_Project__c.Business_Segment__c}"/>
                    </apex:pageBlockSectionItem> 
                </apex:pageblocksection> 
                <!------DISPLAY Business Segment block End---------------------------------------------->                  
                <!------DISPLAY System Information block start---------------------------------------------->    
                <apex:pageblocksection title="System Information" showheader="false" collapsible="false" columns="2">
                    <apex:pageblocksectionitem >
                        <apex:outputlabel value="Created By"/>
                        <apex:outputpanel >
                            <apex:outputfield value="{!Bid_Project__c.CreatedById}"/>&nbsp;, 
                            <apex:outputfield value="{!Bid_Project__c.CreatedDate}"/>
                        </apex:outputpanel>
                    </apex:pageblocksectionitem>
                    <!------DISPLAY System Information block End---------------------------------------------->                    
                    <!------DISPLAY System Information block start---------------------------------------------->
                    <apex:pageblocksectionitem >
                        <apex:outputlabel value="Last Modified By"/>
                        <apex:outputpanel >
                            <apex:outputfield value="{!Bid_Project__c.LastModifiedById}"/>&nbsp;, 
                            <apex:outputfield value="{!Bid_Project__c.LastModifiedDate}"/>
                        </apex:outputpanel>
                    </apex:pageblocksectionitem>
                    <!------DISPLAY System Information block End---------------------------------------------->                    
                </apex:pageblocksection>
            </apex:outputpanel>
        </apex:pageblock>
        <!------BID PROJECT Information block Ends---------------------------------------------->
        <apex:pageMessages id="pmg"></apex:pageMessages>
        <apex:outputpanel id="opmsg">
            <script type="text/javascript">
                //to display the error msg via popup
                var msg = "{!ErrorMsg}";
                if(msg!=null && msg!='')
                    setTimeout(function(){ alert(msg); }, 1000);
            </script>
        </apex:outputpanel>
        <!--------------------Project Vendors block Starts---------------------------------------------->
        <apex:pageblock title="Project Vendors">
            <apex:pageBlockButtons location="top" >
                <apex:commandButton value="New Project Vendors" action="{!URLFOR($Action.Project_Vendors__c.new,null,['bid'=Bid_Project__c.id])}" rendered="{!if(psforPV.canCreate==true,true,false)}"  />
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!Bid_Project__c.Project_Vendors__r}" var="pv" id="pvID">           
                <apex:column styleClass="tableColText" headervalue="Action">
                    <b><apex:outputLink value="/{!pv.id}/e"  rendered="{!if(psforPV.canEdit==true,true,false)}" style="color:steelBlue;" styleClass="commandlinkunderline">Edit</apex:outputLink>&nbsp;|&nbsp;
                        <apex:commandlink value="Del" rendered="{!if(psforPV.canDelete==true,true,false)}" style="color:steelBlue;"  styleClass="commandlinkunderline" rerender="pmg" onclick="javascript:if(window.confirm('Are you sure you want to remove this?')) {$.blockUI(); DeleteRecord('{!JSENCODE(pv.id)}');}" >                        
                        </apex:commandLink> </b>
                </apex:column>
                <!--<apex:column headerValue="Action"  >
<a  style="font-weight:bold">Edit</a>&nbsp;|&nbsp;
<a  style="font-weight:bold">Del</a>                      
</apex:column>   -->    
                <apex:column styleClass="tableColText" headervalue="Project Vendors ID">
                    <apex:outputLink value="/{!pv.id}" target="_blank">{!pv.Name}</apex:outputLink>
                </apex:column>
                <apex:column styleClass="tableColText" headervalue="Vendor Category" value="{!pv.Vendor_Category__c}"/>
                <apex:column styleClass="tableColText" headervalue="Vendor Name" value="{!pv.Vendorr__c}"/>
                <apex:column styleClass="tableColText" headervalue="Other Vendor" value="{!pv.Vendor_Name_Other__c}"/>
                <apex:column styleClass="tableColText" headervalue="Last Modified by" value="{!pv.LastModifiedby.LastName} {!pv.LastModifiedby.FirstName}, {!pv.LastModifiedDate}"/>
            </apex:pageBlockTable><br></br><br></br>
    <script type="text/javascript">
    var idpvID = '{!$Component.pvID}';
    //alert(idpvID);                      
    
    // Jquery Table   
    $(esc(idpvID)).dataTable({
        "bFilter": true,
        "bLengthChange": false,
        "iDisplayLength": 5,
        "aaSorting": [ [5,'desc'] ],
        "oLanguage": {    "sSearch": "Find  " }, 
        "fnDrawCallback": function() {                              
        },
        "aoColumns": [ 
            {"bSortable": false },
            null,
            null,   
            null,
            null,                                
            null
        ]
    });                 
    function esc(myid) {
        return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
    }   
    </script>
</apex:pageblock>
<!--------------------Project Vendors block Ends---------------------------------------------->
<!--------------------PBB Scenarios block Starts---------------------------------------------->
<apex:pageblock title="Bid Scenarios">
    <apex:pageBlockButtons location="top" >
        <apex:commandButton value="New Bid Scenario" action="{!URLFOR($Action.PBB_Scenario__c.new,null,['bid'=Bid_Project__c.id])}" rendered="{!if(psforPBBS.canCreate==true,true,false)}" />
        <apex:commandLink style="text-decoration:none" target="_blank" action="{!compareRedirect}">
        <apex:commandButton value="Compare SRM Timelines" />
    </apex:commandLink>
    </apex:pageBlockButtons>
    <apex:pageBlockTable value="{!Bid_Project__c.PBB_Scenarios__r}" var="pbbs" id="pbbsID" >           
        <apex:column styleClass="tableColText" headervalue="Action">
            <b><apex:outputLink value="/{!pbbs.id}/e" rendered="{!if(psforPBBS.canEdit==true,true,false)}"  style="color:steelBlue;" styleClass="commandlinkunderline">Edit</apex:outputLink>&nbsp;|&nbsp;
                <apex:commandlink value="Del" rendered="{!if(psforPBBS.canDelete==true,true,false)}"  style="color:steelBlue;" styleClass="commandlinkunderline" rerender="pmg" onclick="javascript:if(window.confirm('Are you sure you want to remove this?')) {$.blockUI(); DeleteRecord('{!JSENCODE(pbbs.id)}');}"  >                        
                </apex:commandLink> </b>
        </apex:column> 
        <!--<apex:column headerValue="Action"  >
<a  style="font-weight:bold">Edit</a>&nbsp;|&nbsp;
<a  style="font-weight:bold">Del</a>                      
</apex:column>     -->  
        <apex:column styleClass="tableColText" headervalue="Bid Scenario ID">
            <apex:outputLink value="/{!pbbs.id}" target="_blank">{!pbbs.Name}</apex:outputLink>
        </apex:column>
        <apex:column styleClass="tableColText"  headervalue="Description" value="{!pbbs.Bid_Description__c}"/>
        <!--<apex:column styleClass="tableColText" headervalue="SRM Scenario" value="{!pbbs.SRM_Scenario__c}"/>-->
        <apex:column styleClass="tableColText"  headervalue="SRM Status" value="{!pbbs.Status__c}"/>
        <apex:column styleClass="tableColText" headervalue="Created By" value="{!pbbs.CreatedBy.LastName} {!pbbs.CreatedBy.FirstName}, {!pbbs.Createddate}"/>
        <apex:column styleClass="tableColText" headervalue="Last Modified by" value="{!pbbs.LastModifiedby.LastName} {!pbbs.LastModifiedby.FirstName}, {!pbbs.LastModifiedDate}"/>               
    </apex:pageBlockTable><br></br><br></br>
<script type="text/javascript">
var idpbbs = '{!$Component.pbbsID}';
//alert(idpbbs);                       

// Jquery Table   
$(esc(idpbbs)).dataTable({
    "bFilter": true,
    "bLengthChange": false,
    "iDisplayLength": 5,
    "aaSorting": [ [5,'desc'] ],
    "oLanguage": {    "sSearch": "Find  " }, 
    "fnDrawCallback": function() {                              
    },
    "aoColumns": [ 
        {"bSortable": false },
        //null,                                 
        null,   
        null,   
        null,                                
        null,null
    ]
});                 
function esc(myid) {
    return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
}   
</script>
</apex:pageblock>
<!--------------------PBB Scenarios block Ends---------------------------------------------->
<!--------------------SRM Scenarios block Starts---------------------------------------------->
<!--<apex:pageblock title="SRM Scenarios">
    <apex:pageBlockButtons location="top" >
        <apex:commandButton value="New SRM Scenario" action="{!URLFOR($Action.SRM_Scenario__c.new,null,['bid'=Bid_Project__c.id])}"  rendered="{!if(psforSRMS.canCreate==true,true,false)}" /> -->
        <!-- action="{!URLFOR($Action.SRM_Scenario__c.new,null,['CF00NL0000003KSBv'="12345678-123457",'CF00NL0000003KSBv_lkid'="a9kL0000000005f","sfdc.override"="1"])}"  /> -->
    <!--</apex:pageBlockButtons>
    <apex:pageBlockTable value="{!Bid_Project__c.SRM_Scenarios__r}" var="srm" id="srmID" > 
        <apex:column styleClass="tableColText" headervalue="Action">
            <b><apex:outputLink value="/{!srm.id}/e" rendered="{!if(psforSRMS.canEdit==true,true,false)}"  style="color:steelBlue;" styleClass="commandlinkunderline">Edit</apex:outputLink>&nbsp;|&nbsp;
                <apex:commandlink value="Del" rendered="{!if(psforSRMS.canDelete==true,true,false)}" style="color:steelBlue;" styleClass="commandlinkunderline" rerender="pmg" onclick="javascript:if(window.confirm('Are you sure you want to remove this?')) {$.blockUI(); DeleteRecord('{!JSENCODE(srm.id)}');}" >                        
                </apex:commandLink> -->
                <!-- <a href="javascript:if (window.confirm('Are you sure you want to remove this group? Regional Contract Value Adjustment will be re-calculated for the updated group?')) { $.blockUI();DeleteRecord1('{!JSENCODE(srm.id)}');}" style="font-weight:bold">Del</a>
--><!-- </b>              
        </apex:column> 
        <apex:column styleClass="tableColText" headervalue="SRM Scenario ID">
            <apex:outputLink value="/{!srm.id}" target="_blank">{!srm.Name}</apex:outputLink>
        </apex:column>
        <apex:column styleClass="tableColText" headervalue="Status" value="{!srm.Status__c}"/>
        <apex:column styleClass="tableColText" headervalue="Description" value="{!srm.Description__c}"/>
        <apex:column styleClass="tableColText" headervalue="SRM Model" value="{!srm.SRM_Model__c}"/>
        <apex:column styleClass="tableColText" headervalue="Created By" value="{!srm.CreatedBy.LastName} {!srm.CreatedBy.FirstName}, {!srm.Createddate}"/>
        <apex:column styleClass="tableColText" headervalue="Last Modified by" value="{!srm.LastModifiedby.LastName} {!srm.LastModifiedby.FirstName}, {!srm.LastModifiedDate}"/>                   
    </apex:pageBlockTable><br></br><br></br>
<script type="text/javascript">
var idsrm = '{!$Component.srmID}';
//alert(idsrm);                       

// Jquery Table   
$(esc(idsrm)).dataTable({
    "bFilter": true,
    "bLengthChange": false,
    "iDisplayLength": 5,
    "aaSorting": [ [6,'desc'] ],
    "oLanguage": {    "sSearch": "Find  " }, 
    "fnDrawCallback": function() {                              
    },
    "aoColumns": [ 
        {"bSortable": false },
        null,
        null,   
        null,   
        null,   
        null,                         
        null
    ]
});                 
function esc(myid) {
    return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
}   
function DeleteRecord1(cun) {
    alert(cun);
    DeleteRecord(cun);
}
</script>
</apex:pageblock>  -->
<!--------------------SRM Scenarios block Ends---------------------------------------------->
<apex:actionFunction action="{!deleteRelatedObjectRecord}" name="DeleteRecord" oncomplete="$.unblockUI();" rerender="opmsg"  >
    <apex:param name="deleteID" value="" assignTo="{!deleteID}"/>
</apex:actionFunction>      
</apex:form>
<!------------------------FORM END---------------------------------------------->
<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />
</apex:page>