<apex:page standardController="PBB_Scenario__c" extensions="PBB_SRMListController" id="pageid" tabStyle="Bid_Project__c">
    <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}"  />
    <apex:includeScript value=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"/>
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />
    <apex:styleSheet value="{!$Resource.PBBStyle}" />
    
    <apex:form >
    
    <!------DISPLAY THE PAGEBLOCK FOR PBB SCENARIO INFO START-------------------------->
    <apex:sectionHeader title="Project ID / PBB Scenario ID" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <apex:outputLink style="text-decoration: underline;font-size:20.5px ;" value="/{!pbbobj.Bid_Project__c}">{!pbbobj.Bid_Project__r.Name}</apex:outputLink>&nbsp;&nbsp;&nbsp;
    <apex:outputtext style="font-size:20.5px ;" value="/ {!IF(pbbobj.Name == null,'New', pbbobj.Name)}"/><br></br><br></br>
     <!------DISPLAY THE PAGEBLOCK FOR PBB SCENARIO INFO END-------------------------->
    
  
        <!------DISPLAY THE MAIN TAB MENU---------------------->
       <table style="width:100%">
           <tr>   
               <td><c:PBB_ProjectHomeTabsComp PBBScenarioID="{!PBBScenarioID}" DisableTabsList="{!HiddenHomeTabsList}"></c:PBB_ProjectHomeTabsComp></td> 
               <td></td>
           </tr>
           <tr>         
           </tr>     
       </table> 
       <!------DISPLAY THE MAIN TAB MENU---------------------->
    
       <apex:pageBlock id="pbid">
           <c:PBB_ProjectCriteriaSubTabsComp PBBScenarioID="{!PBBScenarioID}" DisableTabsList="{!HiddenSubTabsList}"></c:PBB_ProjectCriteriaSubTabsComp><br></br><br></br>         
            
       <!------THE PAGEBLOCK FOR DISPLAYING SRM SCENARIO LIST-------------------------->
            <apex:pageBlock >
                <apex:pageMessages id="msgPanel"></apex:pageMessages>
                <apex:pageBlockTable rowclasses="white,lightyellow" value="{!sclist}" var="obj" id="scenariolist">
                    <apex:column styleClass="tableColText" headerValue="" style="width:20px">
                        <apex:commandLink action="{!attachSRMScenario}" onclick="if(!confirm('Are you sure you want to Attach this SRM Scenario?')){return};"  rendered="{!IF(pbbobj.SRM_Scenario__c != obj.Id, true, false)}" reRender="msgPanel,pbid">
                            <apex:param value="{!obj.Id}" assignTo="{!srmScenarioId}" name="attid" />
                            <apex:image value="{!URLFOR($Resource.PBB_Icons,'attachment.png')}"  width="20" height="20" title="Select to Attach SRM to PBB Scenario" alt="Detach"/>
                        </apex:commandLink>
                        
                        <apex:commandLink action="{!detachSRMScenario}" onclick="if(!confirm(' Are you sure you want to remove this SRM Scenario?')){return};" rendered="{!IF(pbbobj.SRM_Scenario__c == obj.Id, true, false)}" reRender="msgPanel,pbid">
                            <apex:image value="{!URLFOR($Resource.PBB_Icons,'dettachment.png')}"  width="20" height="20" title="Select to Detach SRM from PBB Scenario" alt="Attach"/>
                        </apex:commandLink>   
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Scenario ID">
                        <apex:commandLink action="{!srmEdit}" target="_blank"> {!obj.Name}
                            <apex:param value="{!obj.Id}" assignTo="{!srmScenarioId}" name="srmid" />
                        </apex:commandLink>
                    </apex:column>   
                    <apex:column styleClass="tableColText" headerValue="Status">{!obj.Status__c}</apex:column>
                    <apex:column styleClass="tableColText" headerValue="Description">{!obj.Description__c}</apex:column>
                    <apex:column styleClass="tableColText" headerValue="Created Date">
                        <apex:outputText value="{0,date,MM-dd-YYYY}">
                               <apex:param value="{!obj.CreatedDate}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Last Modified Date">
                        <apex:outputText value="{0,date,MM-dd-YYYY}">
                               <apex:param value="{!obj.LastModifiedDate}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Last Modified By">{!obj.LastModifiedBy.Name}</apex:column>
                   
                </apex:pageBlockTable>
                 <br></br>
                
                <script type="text/javascript">
                    
                    var idResultTable1 = '{!$Component.scenariolist}';
    
                    // Jquery Table 
                    $(esc(idResultTable1)).dataTable({
                        "bFilter": true,
                        "bLengthChange": false,
                        "bSort": true,
                        "aoColumnDefs": [ { "sType": "alt-string", "aTargets": [ 0 ] }, {"sWidth": "50%", "aTargets":[3]} ],
                        "iDisplayLength": 20,
                        "aaSorting": [ [4,'asc'] ], 
                        "fnDrawCallback": function() {
                          
                        },
                       
                    });
                    
                    function esc(myid) {
                        return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
                    }
                    
                    // Extension to Sort the Column based on alt string of image.
                    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                        "alt-string-pre": function ( a ) {
                            return a.match(/alt="(.*?)"/)[1].toLowerCase();
                        },
                     
                        "alt-string-asc": function( a, b ) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },
                     
                        "alt-string-desc": function(a,b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    } );
                        
                </script>  
            </apex:pageBlock>
        </apex:pageBlock>
             
    </apex:form>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" id="links"/>
</apex:page>