<apex:page tabStyle="Issue__c" Controller="PIT_IssuesHomeController">
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/js/jquery-ui-1.8.21.custom.min.js')}"  />
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />    
    <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />
    <apex:styleSheet value="{!$Resource.PMCStyle}" />
    

      <div id="wrapper">  
        
       <!-- <div id="header" class="content">          
             <img src="{!URLFOR($Resource.PIT_IssueImage)}" class="pageTitleIcon" style="vertical-align:left;"/>
              <h1 class="pageType">Issue Edit</h1>
            <h2 class="pageDescription">Home</h2>
        </div> -->
        
        <apex:pagemessages />
        <apex:form >
        <apex:sectionHeader title="Issue Edit" subtitle="Home"/>
 <!--       <style>
        .zen-mediaBody{
display:none !important;
}
</style> -->
         
   <!-- Selection Section -->
            <apex:outputpanel id="selectPanel"> 
                <p class="labelType">View:</p>
                <apex:actionFunction status="Status" name="updateSelectList" action="{!filterIssues}" rerender="issuesListPnl"></apex:actionFunction>  
                <apex:selectList onchange="updateSelectList();" style="width:200px;" size="1" value="{!SelectedView}">
                    <apex:selectOptions value="{!viewOptionsList}"/> 
                </apex:selectList>
                <apex:actionFunction name="doSearchAF" action="{!filterIssues}" />
                <apex:commandButton id="btnSearch" value="Search" action="{!filterIssues}" rerender="issuesListPnl" style="float:right;"></apex:commandButton>
                <apex:inputText value="{!searchTerm}" id="searchStr" onkeypress="return noenter(event);" style="float:right;margin-left:100px;" title="Searching in Issue ID, Project, Issue, Status, Category, Action Taken, Assign To Person and Escalated To Person."/>
                <!-- Capture the enter keypress -->
                <script type='text/javascript'>
                    function noenter(ev)  {
                        if (window.event && window.event.keyCode == 13 || ev.which == 13) {
                            doSearchAF();
                            return false;
                        } else {
                            return true;
                        }
                    }
                </script>
            </apex:outputpanel>
            <!-- Results Section -->
            <apex:outputpanel id="issuesListPnl" style="margin-top:20px;" layout="block"> 
                <apex:pageBlock id="searchResults"> 
                    <!-- Buttons -->
                    <apex:pageBlockButtons >
                        <apex:commandButton action="{!URLFOR($Action.Issue__c.New,$ObjectType.Issue__c)}" value="New Issue"/>
                        <apex:selectList onchange="updateSelectList();" style="width:200px;float:right;" size="1" value="{!SelectedRecent}" rendered="{!SelectedView=='Recent'}">
                            <apex:selectOptions value="{!recentOptionsList}"/> 
                        </apex:selectList>
                    </apex:pageBlockButtons>
                    <!-- Table -->
                    <apex:pageBlockTable value="{!issueResults}" var="a" id="tblResults">
                        <apex:column >
                            <apex:facet name="header">Action</apex:facet> 
                            <apex:outputLink value="{!URLFOR($Action.Issue__c.Edit,a.Id)}" style="color:#1797C0">Edit</apex:outputLink>                                                                 
                            <apex:outputPanel >&nbsp;&nbsp;</apex:outputPanel>
                            <apex:commandLink action="{!deleteIssue}" value="Del" style="color:#1797C0" onclick="return confirm('Are you sure, you want delete issue');">
                                <apex:param value="{!a.id}" name="delId" assignTo="{!delIssueId}" ></apex:param>
                               
                            </apex:commandLink>
                            <apex:outputPanel >&nbsp;&nbsp;</apex:outputPanel>
<!--                             <chatter:follow entityId="{!a.Id}"/> -->
                        </apex:column> 
                        <apex:outputPanel >&nbsp;&nbsp;</apex:outputPanel>     
                      <apex:column ><chatter:follow entityId="{!a.Id}"/></apex:column>
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Issue ID{!IF(sortExpression=='Name',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputLink value="{!URLFOR($Action.Issue__c.View,a.Id)}">{!a.Name}</apex:outputLink>                                                                 
                        </apex:column> 
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Project{!IF(sortExpression=='Project__r.Name',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Project__r.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet>                                      
                            <apex:outputText >{!a.Project__r.Name}</apex:outputText>     
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Issue{!IF(sortExpression=='Issue_Type__c',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Issue_Type__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputText >{!a.Issue_Type__c}</apex:outputText>                                                                    
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Status{!IF(sortExpression=='Status__c',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputText >{!a.Status__c}</apex:outputText>                                                                    
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Category{!IF(sortExpression=='Category__c',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Category__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputText >{!a.Category__c}</apex:outputText>                                                                    
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Action Taken{!IF(sortExpression=='Action_Taken__c',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Action_Taken__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputText >{!a.Action_Taken__c}</apex:outputText>                                                                    
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Requested Resolution Date{!IF(sortExpression=='Date_Resolved__c',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Date_Resolved__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputText value="{0,date, MMMM d,  yyyy}">
                                <apex:param value="{!a.Date_Resolved__c}"/> 
                            </apex:outputText>                                                               
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Assign To Person{!IF(sortExpression=='Assign_To__r.Name',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Assign_To__r.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputField value="{!a.Assign_To__c}"/>                                                                  
                        </apex:column>  
                        <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!filterIssues}" value="Escalated To Person{!IF(sortExpression=='Escalate_To__r.Name',IF(sortDirection='ASC','▲', '▼'),'')}">
                                    <apex:param value="Escalate_To__r.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                </apex:commandLink>
                            </apex:facet> 
                            <apex:outputField value="{!a.Escalate_To__c}"/>                                                                   
                        </apex:column> 
                    </apex:pageBlockTable>
                </apex:pageBlock>
            </apex:outputpanel>
        </apex:form>    
    </div>
    
    
    <style type="text/CSS">
        #wrapper {
            padding: 7px 3px;
        }
        #header {
            background: url("/resource/issuesImage") no-repeat top left; 
            padding-left: 45px;
            padding-top: 5px;
            padding-bottom: 20px;
        }

        .pageType {
            font-size: .9em;
            font-weight: bold;
            color: #4a4a56;
            display: block;
        }

        .pageDescription {
            font-size: 1.8em;
            font-weight: normal;
            line-height: 1.1em;
        }
        
        .labelType {
            font-size: 1.0em;
            font-weight: bold;
            display: inline;
            padding-right: 10px;
        }
    </style>
    <script type="text/javascript">
window.onload = setFocus
function setFocus() {
        document.getElementById("{!$Component.myForm.pg.pgs.myfield}").focus();
}
</script>
</apex:page>