<apex:page controller="PRA_GroupAllocationController" >
    <apex:form id="frm" >  
        <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"/>
         <!--  <apex:stylesheet value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css"/>   -->
        <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
        <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />
            
        <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
        <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}"  />
        <apex:stylesheet value="{!URLFOR($Resource.jQueryGraph, '/jqui/css/start/jquery-ui-1.8.17.custom.css')}"  />           
        
            
        <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />
        <apex:styleSheet value="{!$Resource.PMCStyle}" />
        <apex:outputpanel id="pageTitleHeader">
                <apex:sectionHeader title="Group/Analyze Allocation" subtitle="{!selectedProjectLabel}" >                
                </apex:sectionHeader>
        </apex:outputpanel>
        
        <!---------------------Search Block------------------------------------------------------>
        <apex:pageBlock id="searchBlock">          
            <apex:pageBlockSection columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Search by Project ID" for="searchProject" />
                    <apex:outputpanel >
                        <apex:inputText id="Project" value="{!projectText}"  >
                            <c:AutoCompleteComp1 objectname="Client_Project__c" searchField="Name" additionalfilter="and Load_Status__c != 'New'" autocomplete_textbox="{!$Component.Project}" />
                            
                        </apex:inputText>&nbsp;&nbsp;
                        <apex:commandButton value="Search" action="{!MainSearch}" onclick="$.blockUI();"  oncomplete="$.unblockUI();" status="processing" reRender="OU,pageTitleHeader,AnalyzeAllocation,GroupAllocation" />
                        <apex:commandButton value="Reset"  tabindex="3" reRender="searchBlock" title="Clears all search options to perform new search" alt="this tooltip" onclick="javascript:fnReset();return false;" />  
                        <script>
                            function fnReset() {           
                                document.getElementById("{!$Component.Project}").value='';
                                $.blockUI();
                                reset();
                            } 
                        </script>                        
                    </apex:outputpanel>
                 </apex:pageBlockSectionItem>  
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:actionFunction action="{!reset}" name="reset" reRender="OU,pageTitleHeader,AnalyzeAllocation,GroupAllocation" oncomplete="$.unblockUI();" />
        <!---------------------Search Block------------------------------------------------------>
        
        <!---------------------Group Allocation------------------------------------------------------>
        <apex:pageBlock id="GroupAllocation" >        
            <apex:pageBlockSection columns="2" title="Group Allocation" id="GroupAllocation">
                <apex:pageBlock title="Groups" id="pb2">
                    <apex:pagemessages id="pm" />
                    <br></br>
                    <apex:pageBlockButtons style="text-align:right;" location="top" >
                        <apex:commandButton value="New Group" rendered="{!if(NeworEditGrouplist==null && cp.name!=null,true,false)}" onclick="$.blockUI();"  oncomplete="$.unblockUI();" action="{!NewGroup}" status="processing" reRender="OU,pageTitleHeader,AnalyzeAllocation,GroupAllocation" style="text-align:right;"/>&nbsp;&nbsp;
                    </apex:pageBlockButtons>
                    <b><apex:outputText value="There are no Allocation Groups created for this project, Please click on 'New Group' button to create a new Allocation Group." style="color:red;font-size:13px;" rendered="{!if(NeworEditGrouplist!=null,false,if(GroupsList.size>0 ,false,if(cp.name!=null,true,false)))}" >                            
                        <!--rendered="{!if(GroupsList.size>0,false,if(NeworEditGrouplist!=null,false,true))}" -->
                    </apex:outputText> </b>
                     
                    <apex:pageBlockTable value="{!GroupsList}" var="obj" id="GroupTable" rendered="{!if(NeworEditGrouplist==null,true,false)}" >
                        <apex:column headerValue="Action" headerClass="tableColText" styleClass="tableColText" >
                           <a href="javascript:EditGroup('{!JSENCODE(obj)}');$.blockUI();" style="font-weight:bold">Edit</a>&nbsp;|&nbsp;
                           <a href="javascript:if (window.confirm('Are you sure you want to remove this group? Regional Contract Value Adjustment will be re-calculated for the updated group?')) {$.blockUI(); DeleteGroup('{!JSENCODE(obj)}');}" style="font-weight:bold">Del</a>                      
                        </apex:column>
                        <apex:column styleClass="tableColText" headerValue="Group Name"  headerClass="tableColText" title="Group Name">
                            <apex:outputText value="{!obj}">                            
                            </apex:outputText>
                        </apex:column>                             
                    </apex:pageBlockTable>                       
                    <b><apex:outputText value="Create a Grouping" style="text-align:left;" rendered="{!if(NeworEditGrouplist==null,false,true)}">                            
                    </apex:outputText> </b>
                    <apex:inputText id="GroupName" value="{!GroupName}" style="text-align:left;" rendered="{!if(NeworEditGrouplist==null,false,true)}">                            
                    </apex:inputText>&nbsp;
                    <apex:inputHidden id="HiddenGroupName" value="{!HiddenGroupName}"/>
                    <apex:inputHidden id="inSelectedTasksList" value="{!selectedClienttasks}" />
                    <apex:commandButton value="Save & New Group" onclick="fnsaveGroup('saven');"  reRender="tablepageTitleHeader"  rendered="{!if(NeworEditGrouplist==null,false,true)}" style="text-align:right;">
                        <!--action="{!SaveandNewGroup}"--> 
                    </apex:commandButton>&nbsp;
                    <apex:commandButton value="Save" onclick="fnsaveGroup('save');"  reRender="tablepageTitleHeader" rendered="{!if(NeworEditGrouplist==null,false,true)}"   style="text-align:right;">
                        <!--action="{!saveNewGroup}"-->
                    </apex:commandButton>&nbsp;
                    <apex:commandButton value="Cancel" action="{!MainSearch}"  rendered="{!if(NeworEditGrouplist==null,false,true)}" onclick="$.blockUI();"  oncomplete="$.unblockUI();"  status="processing" reRender="pageTitleHeader,AnalyzeAllocation,GroupAllocation" style="text-align:right;"></apex:commandButton><br></br><br></br>                     
                    <apex:pageBlockTable value="{!NeworEditGrouplist}" var="obj" id="GroupTables" rendered="{!if(NeworEditGrouplist==null,false,true)}" >                                                  
                        <apex:column styleClass="tableColText" headerValue="Grp"  headerClass="tableColText" title="Grp">
                            <apex:inputCheckbox value="{!obj.selected}" id="checkedone" onclick="javascript:fnSelected('{!obj.clientUnitNumber }',document.getElementById('{!$Component.checkedone}').checked,document.getElementById('{!$Component.region}').value);">
                                <!--<apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS"/>-->                            
                             </apex:inputCheckbox>
                        </apex:column> 
                        <apex:column styleClass="tableColText" headerValue="Client Unit Number"  headerClass="tableColText" title="Client Unit Number">
                            <apex:outputText value="{!obj.clientUnitNumber }">                            
                            </apex:outputText>
                        </apex:column>
                        <!--<apex:column styleClass="tableColText" headerValue="Region"  headerClass="tableColText">
                            <apex:outputText value="{!obj.clientRegion}">                            
                            </apex:outputText>
                        </apex:column> -->
                        <apex:column styleClass="tableColText" headerValue="Unit Description"  headerClass="tableColText" title="Unit Description">
                            <apex:outputText value="{!obj.description}">                            
                            </apex:outputText>
                        </apex:column> 
                        <apex:column styleClass="tableColText" headerValue="Region"  headerClass="tableColText" title="Region">
                            <apex:selectList id="region" value="{!obj.clientRegion}" multiselect="false" size="1"  onchange="javascript:fnSelected('{!obj.clientUnitNumber }',document.getElementById('{!$Component.checkedone}').checked,document.getElementById('{!$Component.region}').value);">
                                <apex:selectOptions value="{!Regionnames}"></apex:selectOptions>
                            </apex:selectList>
                        </apex:column>                               
                    </apex:pageBlockTable>
                     
                    <script type="text/javascript">
                        var idUnitReviewTable = '{!$Component.GroupTables}';
                        //alert(idUnitReviewTable);                       
                        
                        // Jquery Table   
                        $(esc(idUnitReviewTable)).dataTable({
                            "bFilter": true,
                            "bLengthChange": false,
                            "iDisplayLength": 20,
                            "aaSorting": [ [1,'asc'] ],
                            "oLanguage": {    "sSearch": "Find  " }, 
                            "fnDrawCallback": function() {
                                        
                            },
                            "aoColumns": [ 
                                 {"bSortable": false },
                                null,
                                null,                                
                                {"bSortable": false }
                            ]
                        }); 
                        
                        function esc(myid) {
                            return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
                        }   
                    </script>
                    <script type="text/javascript"> 
                        //hold the values upon every selection of client unit number and region
                        function fnSelected(cun,selected,region) {
                            //alert(cun);
                            //alert(selected);
                            //alert(region);                          
                            
                            if (selected==true){
                                var cunindex=  fnsplitsearchindex(cun);
                                //alert(cunindex);
                                var idx = selectedTaskIds.indexOf(cunindex);
                               
                                // add only if not already on list 
                                if (idx == -1){
                                    selectedTaskIds.push(cun+'___'+region);
                                }else{
                                    if (idx != -1){
                                        selectedTaskIds.splice(idx, 1);
                                        selectedTaskIds.push(cun+'___'+region);
                                        //alert(selectedTaskIds);
                                    }
                                }
                            }else{                            
                                var cunindex=  fnsplitsearchindex(cun);
                                //alert(cunindex);
                                    var idx = selectedTaskIds.indexOf(cunindex);
                                
                                // remove only if exists  on list 
                                if (idx != -1){
                                    selectedTaskIds.splice(idx, 1);
                                }
                            } 
                            //alert(selectedTaskIds);
                            
                        } 
                        
                        //get the index based on the client unit number
                        function fnsplitsearchindex(cunn){
                            var cunindex=null;
                            //alert(cunn);
                            for (var i = 0; i < selectedTaskIds.length; i++) {
                                //alert(selectedTaskIds[i]);
                                var cunumber=selectedTaskIds[i].substring(0,cunn.length);
                                if(cunn==cunumber){
                                    cunindex=selectedTaskIds[i];
                                    break;
                                }
                            }
                            return cunindex;                           
                        }                            
                        var selectedTaskIds = new Array();
                        var taskssplit="{!selectedClienttasks}";
                        selectedTaskIds =(taskssplit.split('===')).slice(0,-1);
                        //alert(taskssplit);
                        //alert(selectedTaskIds);                                                  
                    </script>               
                </apex:pageBlock>
                <apex:pageBlock title="Total CV Adjustment per region:" id="pb3" rendered="{!if(NeworEditGrouplist==null,true,false)}" >
                    <apex:pageBlockTable value="{!AdjustmentsperRegion}" var="obj" id="GroupTable"  >                           
                        <apex:column styleClass="tableColText" footerClass="tableColText"  headerClass="tableColText" title="Region">
                            <b> <apex:facet name="header">Region</apex:facet></b> 
                            <apex:outputText value="{!obj}">                            
                            </apex:outputText>
                             <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>
                        </apex:column>       
                        <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight"  headerClass="tableHeaderRight" title="Contract Value Adjustment">
                            <b> <apex:facet name="header">Contract Value Adjustment</apex:facet></b> 
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!AdjustmentsperRegion[obj]}" />
                                </apex:outputText>  
                            <apex:facet name="footer"  >
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!TotalAdjustment}" />
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>                                
                    </apex:pageBlockTable><br></br><br></br>                      
                </apex:pageBlock>
            </apex:pageBlockSection>            
        </apex:pageBlock>
        <apex:actionFunction action="{!DeleteGroup}" name="DeleteGroup" reRender="OU,GroupAllocation,AnalyzeAllocation" oncomplete="$.unblockUI();">
            <apex:param name="accountid" value="" assignTo="{!SelectedDeletedGroup}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!EditGroup}" name="EditGroup" reRender="OU,GroupAllocation,AnalyzeAllocation"  oncomplete="$.unblockUI();" >
            <apex:param name="accountid" value="" assignTo="{!GroupName}"/>
        </apex:actionFunction>
        <apex:actionFunction action="{!SaveandNewGroup}" name="SaveandNewGroup" reRender="OU,tablepageTitleHeader,pm,inSelectedTasksList,GroupAllocation,AnalyzeAllocation" oncomplete="$.unblockUI();" >         
        </apex:actionFunction>
        <!--<apex:actionFunction action="{!SaveandNewGroup}" name="SaveandNewGroup" reRender="OU,tablepageTitleHeader,pm" oncomplete="javascript:fnSGroup();">           
        </apex:actionFunction>-->
        <apex:actionFunction action="{!saveNewGroup}" name="SaveNewGroup" reRender="OU,tablepageTitleHeader,pm" oncomplete="javascript:fnSGroup();">             
        </apex:actionFunction>
        <apex:actionFunction name="fnFinalSG" reRender="OU,tablepageTitleHeader,pm,GroupAllocation,AnalyzeAllocation" oncomplete="$.unblockUI();" >             
        </apex:actionFunction>
        
        <apex:outputPanel id="OU"> 
            <script type="text/javascript">
                
                //Final Save
                function fnsaveGroup(s){                
                    var selectedGroupName=document.getElementById("{!$Component.frm.GroupAllocation.GroupAllocation.pb2.GroupName}").value; 
                    var HiddenGroupName=document.getElementById("{!$Component.frm.GroupAllocation.GroupAllocation.pb2.HiddenGroupName}").value;
                    //alert(selectedGroupName);
                    //alert(document.getElementById("{!$Component.frm.GroupAllocation.GroupAllocation.pb2.HiddenGroupName}").value);
                    //this is to avoid the apostrophe's in the group names.
                    var apost="'";
                    if(selectedGroupName!='' ){
                        if (selectedGroupName.indexOf(apost) > -1  ) {
                            alert("Please dont use the special characters like apostrophe's(') in the group names.");
                        }else{                       
                            if(HiddenGroupName!=''){
                                if(selectedGroupName==HiddenGroupName){                            
                                    if(s=='saven'){
                                        //alert(s);
                                        var cansave= getValidTaskswithRegions();
                                        //alert(cansave);
                                        if(cansave==true){
                                            $.blockUI();
                                            getSelectedTasks();
                                            SaveandNewGroup(); 
                                        }                                 
                                    }
                                    else{
                                        //alert(s);
                                        var cansave= getValidTaskswithRegions();
                                        //alert(cansave);
                                        if(cansave==true){
                                            $.blockUI();
                                            getSelectedTasks();
                                            SaveNewGroup();
                                        }
                                    }
                                }else{
                                    alert("Group Name Changed,please use old group name.");
                                }
                            }else{
                                 var GroupExists;
                                <apex:repeat value="{!GroupsList}" var="ele" id="repeat">                
                                    if(selectedGroupName=="{!ele}"){
                                        //alert("{!ele}");                            
                                        GroupExists='Yes';
                                    }
                                </apex:repeat>
                                //alert("{!GroupsList}");
                                if(GroupExists=='Yes'){
                                    alert("Group Name already exists.");
                                }
                                else{     
                                    if(s=='saven'){
                                        //alert(s);
                                        var cansave= getValidTaskswithRegions();
                                        //alert(cansave);
                                            if(cansave==true){
                                            $.blockUI();
                                            getSelectedTasks();
                                            SaveandNewGroup();
                                        }                                     
                                    }
                                    else{
                                         //alert(s);
                                        var cansave= getValidTaskswithRegions();
                                        //alert(cansave);
                                        if(cansave==true){
                                            $.blockUI();
                                            getSelectedTasks();
                                            SaveNewGroup();
                                        }
                                    }
                                }
                            }
                        }
                    }else{                        
                        alert("Please Enter the Group Name.");
                    }
                }
                //checking whether we have error messages or not.
                function fnSGroup(){ 
                    if("{!SaveError}"!='error')
                        fnFinalSG();
                    else
                        $.unblockUI();
                }            
                //Hidden input value.
                function getSelectedTasks(){
                    //alert(selectedTaskIds);                    
                    $('input[id$="inSelectedTasksList"]').val(JSON.stringify(selectedTaskIds));
                }
                
                function getValidTaskswithRegions(){
                   if(selectedTaskIds.length>=2 && selectedTaskIds.length<=4){
                      var RegionIDs= new Array();
                      for (var i = 0; i < selectedTaskIds.length; i++) {
                                //alert(selectedTaskIds[i]);
                            var region=selectedTaskIds[i].split('___');                            
                            var idxx = RegionIDs.indexOf(region[1]);                               
                            // add only if not already on list 
                            if (idxx== -1){
                                RegionIDs.push(region[1]);
                            }
                      }
                      //alert(RegionIDs);
                      if(selectedTaskIds.length==RegionIDs.length){
                          return true;
                      }else{
                          alert("Duplicate regions selected in a group.");
                      }                   
                   }else{
                       if(selectedTaskIds.length==0)
                           alert("Please select the client tasks.");
                       else{
                           if(selectedTaskIds.length<2)
                               alert("Selected less than two client tasks in a group.");
                           if(selectedTaskIds.length>4)
                               alert("Selected more than 4 client tasks in a group.");
                       }
                   } 
                } 
          </script>
        </apex:outputPanel>   
        <!---------------------Group Allocation------------------------------------------------------>
        <!---------------------Analyze Allocation------------------------------------------------------>
        <apex:pageBlock id="AnalyzeAllocation">
            <apex:pageBlockSection columns="2" title="Analyze Allocation" id="AnalyzeAllocation"> 
                <apex:pageBlock ><br></br>
                    <apex:pageBlockButtons style="text-align:right;" location="top" >
                        <apex:commandButton value="Recalculate grid" rendered="{!if(GroupsList.size>0,true,false)}" onclick="$.blockUI();"  oncomplete="$.unblockUI();" action="{!RecalculateGroupTasks}" status="processing" reRender="OU,pageTitleHeader,AnalyzeAllocation,GroupAllocation" style="text-align:right;"/>&nbsp;&nbsp;
                        <apex:commandButton value="Export To Excel"  action="{!exporttoExcel}" rendered="{!if(GroupsList.size>0,true,false)}" style="text-align:right;"/>&nbsp;&nbsp; 
                    </apex:pageBlockButtons>
                    <apex:repeat value="{!GroupClientTasksList}" var="string" id="theRepeat">                   
                        <b><apex:outputText value="Group Name: {!string[0].group__r.name}" id="theValue"/><br/></b>&nbsp;
                        <apex:pageBlockTable value="{!string}" var="obj" id="Table1" >                                 
                            <apex:column styleClass="tableColText" footerClass="tableColText" headerClass="tableColText" title="Client Unit Number">
                                <b> <apex:facet name="header">Client Unit <br /> Number</apex:facet></b>                            
                                    <apex:outputText value="{!obj.Client_Unit_Number__c}">                            
                                </apex:outputText>
                                <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>
                            </apex:column>
                             <apex:column styleClass="tableColText" footerClass="tableColText" headerClass="tableColText" title="Region">
                                <b> <apex:facet name="header">Region</apex:facet></b>                            
                                    <apex:outputText value="{!obj.PRA_Region__c}">                            
                                </apex:outputText>                              
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Units">
                                <b> <apex:facet name="header">Contracted<br /> Units</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                     <apex:param value="{!obj.Contracted_Units__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Contracted_Units__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Unit Price">
                                <b> <apex:facet name="header">Contracted <br />Unit Price</apex:facet></b>                            
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Contracted_Unit_Price__c}" />
                                </apex:outputText>
                                <!-- <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Contracted_Unit_Price__c}" />
                                    </apex:outputText>
                                </apex:facet>-->
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight"  title="Contracted Value">
                                <b> <apex:facet name="header">Contracted<br /> Value</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                     <apex:param value="{!obj.Contracted_Value__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Contracted_Value__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="ETC Units">
                                <b> <apex:facet name="header">ETC Units</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.ETC_Units__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_ETC_Units__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Budgeted Units">
                                <b> <apex:facet name="header">Contracted <br />Budgeted Units</apex:facet></b>
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.CON_BDG_Units__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_CON_BDG_Units__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Budgeted Value">
                                <b> <apex:facet name="header">Contracted <br />Budgeted Value</apex:facet></b>
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.CON_BDG_Value__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_CON_BDG_Value__c}" />
                                     </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Unit Variance from Contract">
                                <b> <apex:facet name="header">Unit Variance<br /> from Contract</apex:facet></b>
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Unit_Variance_from_Contract__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Unit_Variance_from_Contract__c}" />
                                     </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contract Value Variance">
                                <b> <apex:facet name="header">Contract Value<br />Variance</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Contract_Value_Variance__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Contracted_Value_Variance__c}" />
                                     </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Regional % of Unit Forecast">
                                <b> <apex:facet name="header">Regional % of  <br /> Unit Forecast</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Regional_of_Unit_Forecast__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Regional_of_Unit_Forecast__c}" />
                                     </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Adjustment to Regional CV">
                                <b> <apex:facet name="header">Adjustment to <br />Regional CV</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Adjustment_to_Regional_CV__c}" />
                                </apex:outputText>
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Adjustment_to_Regional_CV__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Revised Regional Contract Value">
                                <b> <apex:facet name="header">Revised Regional <br /> Contract Value</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Revised_Regional_Contract_Value__c}" />
                                </apex:outputText> 
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Revised_Regional_Contract_Value__c}" />
                                    </apex:outputText>
                                </apex:facet>
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Revised Unit Price">
                                <b> <apex:facet name="header">Revised Unit <br />Price</apex:facet></b>                            
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!obj.Revised_Unit_Price__c}" />
                                </apex:outputText> 
                                <apex:facet name="footer" >
                                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                                        <apex:param value="{!string[0].group__r.Total_Revised_Unit_Price__c}" />
                                    </apex:outputText>
                                </apex:facet>                           
                            </apex:column>
                        </apex:pageBlockTable>                           
                        <apex:pageBlockTable value="{!string[0].group__r.Total_Revised_Regional_Contract_Value__c}" var="obj" id="Table2" >
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Global Contracted Unit price">
                                <b> <apex:facet name="header">Global Contracted Unit price</apex:facet></b> 
                                <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                                     <apex:param value="{!string[0].group__r.GBR_Contracted_Unit_Price__c}"/>
                                </apex:outputText>                                   
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Global ETC Contract Value">
                                <b> <apex:facet name="header">Global ETC Contract Value</apex:facet></b>
                                <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                                     <apex:param value="{!string[0].group__r.GBR_ETC_Units__c }"/>
                                </apex:outputText>              
                            </apex:column>
                            <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="PMC Capped Contract Value">
                                <b> <apex:facet name="header">PMC Capped Contract Value</apex:facet></b>                            
                                <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                                     <apex:param value="{!string[0].group__r.GBR_Contract_value_Variance__c}" />
                                </apex:outputText>                                    
                            </apex:column>
                        </apex:pageBlockTable><br></br><br></br>
                    </apex:repeat>
                </apex:pageBlock>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <!---------------------Analyze Allocation------------------------------------------------------>        
    </apex:form>   
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />
</apex:page>