<apex:page title="YOURPAGETITLEHERE" Controller="PRA_ChangeOrderValidBufCodeController"  sidebar="false" showHeader="false" >
<apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/js/jquery-ui-1.8.21.custom.min.js')}"  />
    
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />    
    <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />
    <apex:styleSheet value="{!$Resource.PMCStyle}" />
    
    <br/>

    <apex:form >
         <apex:pageMessages />
         <apex:pageblock title="Search BUF Code:" rendered="{!if(moveBUFCode!='move',true,false)}">
         
         <apex:outputLabel value="Business Unit" for="selectBusinessUnit" />
            &nbsp;
            <apex:selectList id="selectBusinessUnit" required="false" multiselect="false" size="1"
                value="{!SelectedBusinessUnit}"    style="width:100px"> 
                <apex:selectOptions value="{!BusinessUnitOptions}"/> 
            </apex:selectList>
            &nbsp;&nbsp;&nbsp;
            <apex:outputLabel value="Function Code" for="selectFunctionCode"/>
            &nbsp;
            <apex:selectList id="selectFunctionCode" required="false" multiselect="false" size="1"
                value="{!SelectedFunctionCode}" style="width:100px">
                <apex:selectOptions value="{!FunctionCodeOptions}"/>
            </apex:selectList>
            &nbsp;&nbsp;&nbsp;
            <apex:commandButton value="Filter" style="width:75px" action="{!doFilter}" onclick="$.blockUI();" oncomplete="$.unblockUI();" reRender="abc,sbc"/> 
         </apex:pageblock>
         <apex:pageblock id="pb" >
         <!-- Multi-select boxes and buttons  -->
         <apex:panelGrid columns="3" id="selectionBlock">
             <apex:panelGroup >
                 <apex:outputLabel value="Labor BUF Codes" style="font-weight:bold" for="unselected_list" rendered="{!if(moveBUFCode=='move',true,false)}"/>
                 <apex:outputLabel value="Available BUF Codes" style="font-weight:bold" for="unselected_list" rendered="{!if(moveBUFCode!='move',true,false)}"/>
                 <br/>
                 <apex:selectList value="{!selectedAvailableBUFCode}"  multiselect="true" id="abc" size="10" style="width:140px">
                     <apex:selectOptions value="{!AvailableBUFCodeList}"/>
                 </apex:selectList>
             </apex:panelGroup>
            <apex:panelGroup >
            <br/> <br/>
                 <apex:commandButton value="Add -->" style="width:75px" action="{!doadd}" onclick="$.blockUI();" oncomplete="$.unblockUI();" reRender="abc,sbc" />
                 <br/>
                 <apex:commandButton value="<-- Remove" style="width:75px" action="{!doRemove}" onclick="$.blockUI();" oncomplete="$.unblockUI();" reRender="abc,sbc" />
            </apex:panelGroup>
            <apex:panelGroup >
                <apex:outputLabel value="Non-Labor BUF Codes" style="font-weight:bold" for="selected_list" rendered="{!if(moveBUFCode=='move',true,false)}"/>
                <apex:outputLabel value="Selected BUF Codes" style="font-weight:bold" for="selected_list" rendered="{!if(moveBUFCode!='move',true,false)}"/>
                
                <br/>
                <apex:selectList value="{!selectedBUFCode}"  multiselect="true" size="10" id="sbc" style="width:140px">
                    <apex:selectOptions value="{!selectedBUFCodeList}"/>
                </apex:selectList>
                <br/>                
            </apex:panelGroup>            
        </apex:panelGrid>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <apex:commandButton value="Apply" style="width:75px" action="{!Apply}" reRender="pb" onclick="$.blockUI();" oncomplete="javascript:CloseAndRefresh()" rendered="{!if(moveBUFCode!='move',true,false)}"/>
                <apex:commandButton value="Move" style="width:75px" action="{!move}" reRender="pb" onclick="$.blockUI();" oncomplete="javascript:CloseAndRefresh()" rendered="{!if(moveBUFCode=='move',true,false)}"/>
               
                <apex:outputLabel value="Note: Only newly added BUF codes can be removed" id="btnCloseModalDialog" rendered="{!if(moveBUFCode!='move',true,false)}"/> 
                <apex:outputLabel value="Note: BUF codes can be Moved between Labor and Non-Labor" rendered="{!if(moveBUFCode=='move',true,false)}"/> 
                
                <script language="JavaScript" type="text/javascript">
                function CloseAndRefresh(){
                    //alert("{!unit}");
                    window.opener.location.href="/apex/PRA_Change_Order_Modify_Client_Unit?id={!COIid}&lunit={!unit}";
                      window.top.close();                  
                }
                 <!-- onblur=function(){self.close()} -->
                  
                 
       
                </script>

        </apex:pageblock> 
         
    </apex:form>
</apex:page>