<apex:page controller="PRA_GroupAllocationController" cache="true" contenttype="application/vnd.ms-excel#{!selectedProjectLabel}_GroupAllocation.xls" showHeader="false" standardStylesheets="false">
    <apex:styleSheet value="{!$Resource.PMCStyle}" />
    <apex:pageBlock ><br></br><br></br>
        <apex:pageBlock title="Total CV Adjustment per region:" id="pb3" rendered="{!if(NeworEditGrouplist==null,true,false)}" >
            <apex:pageBlockTable border="1" value="{!AdjustmentsperRegion}" var="obj" id="GroupTable"  >                           
                <apex:column styleClass="tableColText" footerClass="tableColText"  headerClass="tableColText" title="Region">
                    <b> <apex:facet name="header">Region</apex:facet></b> 
                    <apex:outputText value="{!obj}">                            
                    </apex:outputText>
                     <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>
                </apex:column>       
                <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight"  headerClass="tableHeaderRight" title="Contract Value Adjustment">
                    <b> <apex:facet name="header">Contract Value Adjustment</apex:facet></b> 
                    <apex:outputText value="{0,number,##,##,##,##0.00}">
                        <apex:param value="{!AdjustmentsperRegion[obj]}" />
                        </apex:outputText>  
                    <apex:facet name="footer"  >
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!TotalAdjustment}" />
                        </apex:outputText>
                    </apex:facet>
                </apex:column>                                
            </apex:pageBlockTable><br></br><br></br><br></br><br></br>                      
        </apex:pageBlock>    
        <apex:pageBlock title="Analyze Allocation" >
            <apex:repeat value="{!GroupClientTasksList}" var="string" id="theRepeat">                   
                <b><apex:outputText value="Group Name: {!string[0].group__r.name}" id="theValue"/><br/></b>
                <apex:pageBlockTable border="1" value="{!string}" var="obj" id="Table1" >                                 
                    <apex:column styleClass="tableColText" footerClass="tableColText" headerClass="tableColText" title="Client Unit Number">
                        <b> <apex:facet name="header">Client Unit <br /> Number</apex:facet></b>                            
                            <apex:outputText value="{!obj.Client_Unit_Number__c}">                            
                        </apex:outputText>
                        <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>
                    </apex:column>
                     <apex:column styleClass="tableColText" footerClass="tableColText" headerClass="tableColText" title="Region">
                        <b> <apex:facet name="header">Region</apex:facet></b>                            
                            <apex:outputText value="{!obj.PRA_Region__c}">                            
                        </apex:outputText>                              
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Units">
                        <b> <apex:facet name="header">Contracted<br /> Units</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                             <apex:param value="{!obj.Contracted_Units__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Contracted_Units__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Unit Price">
                        <b> <apex:facet name="header">Contracted <br />Unit Price</apex:facet></b>                            
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Contracted_Unit_Price__c}" />
                        </apex:outputText>
                        <!--  <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Contracted_Unit_Price__c}" />
                            </apex:outputText>
                        </apex:facet> -->
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight"  title="Contracted Value">
                        <b> <apex:facet name="header">Contracted<br /> Value</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                             <apex:param value="{!obj.Contracted_Value__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Contracted_Value__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="ETC Units">
                        <b> <apex:facet name="header">ETC Units</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.ETC_Units__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_ETC_Units__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Budgeted Units">
                        <b> <apex:facet name="header">Contracted <br />Budgeted Units</apex:facet></b>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.CON_BDG_Units__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_CON_BDG_Units__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contracted Budgeted Value">
                        <b> <apex:facet name="header">Contracted <br />Budgeted Value</apex:facet></b>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.CON_BDG_Value__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_CON_BDG_Value__c}" />
                             </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Unit Variance from Contract">
                        <b> <apex:facet name="header">Unit Variance<br /> from Contract</apex:facet></b>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Unit_Variance_from_Contract__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Unit_Variance_from_Contract__c}" />
                             </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Contract Value Variance">
                        <b> <apex:facet name="header">Contract Value<br />Variance</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Contract_Value_Variance__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Contracted_Value_Variance__c}" />
                             </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Regional % of Unit Forecast">
                        <b> <apex:facet name="header">Regional % of  <br /> Unit Forecast</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Regional_of_Unit_Forecast__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Regional_of_Unit_Forecast__c}" />
                             </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Adjustment to Regional CV">
                        <b> <apex:facet name="header">Adjustment to <br />Regional CV</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Adjustment_to_Regional_CV__c}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Adjustment_to_Regional_CV__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Revised Regional Contract Value">
                        <b> <apex:facet name="header">Revised Regional <br /> Contract Value</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Revised_Regional_Contract_Value__c}" />
                        </apex:outputText> 
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Revised_Regional_Contract_Value__c}" />
                            </apex:outputText>
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Revised Unit Price">
                        <b> <apex:facet name="header">Revised Unit <br />Price</apex:facet></b>                            
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.Revised_Unit_Price__c}" />
                        </apex:outputText> 
                        <apex:facet name="footer" >
                            <apex:outputText value="{0,number,##,##,##,##0.00}">
                                <apex:param value="{!string[0].group__r.Total_Revised_Unit_Price__c}" />
                            </apex:outputText>
                        </apex:facet>                           
                    </apex:column>
                </apex:pageBlockTable>                           
                <apex:pageBlockTable border="1" value="{!string[0].group__r.Total_Revised_Regional_Contract_Value__c}" var="obj" id="Table2" >
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Global Contracted Unit price">
                        <b> <apex:facet name="header">Global Contracted Unit price</apex:facet></b> 
                        <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                             <apex:param value="{!string[0].group__r.GBR_Contracted_Unit_Price__c}"/>
                        </apex:outputText>                                   
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="Global ETC Contract Value">
                        <b> <apex:facet name="header">Global ETC Contract Value</apex:facet></b>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                             <apex:param value="{!string[0].group__r.GBR_ETC_Units__c }"/>
                        </apex:outputText>              
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableHeaderRight" headerClass="tableHeaderRight" title="PMC Capped Contract Value">
                        <b> <apex:facet name="header">PMC Capped Contract Value</apex:facet></b>                            
                        <apex:outputText value="{0,number,##,##,##,##0.00}">                            
                             <apex:param value="{!string[0].group__r.GBR_Contract_value_Variance__c}" />
                        </apex:outputText>                                    
                    </apex:column>
                </apex:pageBlockTable><br></br><br></br>
            </apex:repeat>
        </apex:pageBlock>
   </apex:pageBlock>
</apex:page>