<apex:page controller="PRA_ProjectWorkflowController" cache="true" contenttype="application/vnd.ms-excel#{!wbsproject.Client_Project__r.name}_BD1.xls" showHeader="false" standardStylesheets="false">  
    <apex:pageBlock >    
        <apex:pageBlockTable border="1"  id="BD1" value="{!BD1ListFile}" var="obj" title="BD1" >                    
            <apex:repeat value="{!obj.items}" var="i">
                <apex:column value="{!i}"  >              
                </apex:column>
            </apex:repeat>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>