<apex:page controller="PRA_ForecastUnitsModuleController">
    
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <script type="text/javascript" src="{!$Resource.modelpopup}/0.1/ModalPopups.js"></script>
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}"  />
    <apex:stylesheet value="{!URLFOR($Resource.jQueryGraph, '/jqui/css/start/jquery-ui-1.8.17.custom.css')}"  />
    <apex:includeScript value="{!URLFOR($Resource.highstocks,'/js/highstock.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.highstocks,'/js/highstock.src.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.highstocks,'/js/modules/exporting.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.highstocks,'/js/modules/exporting.src.js')}"/>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />
    <apex:stylesheet value="{!$Resource.PMCStyle}">
    
    <script type="text/javascript">
        function esc(myid) {
            return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
        }
    </script>
    
    <apex:form >
        <apex:actionfunction name="updateSelectedProject" action="{!selectProject}" rerender="selectedProject, searchButton, searchButtonTop, panelRegions, panelOA, panelGroups, panelTasks" status="statusFields" >
            <apex:param name="selectedProject" assignTo="{!selectedProject}" value=""/>
            <apex:param name="selectedProjectLabel" assignTo="{!selectedProjectLabel}" value=""/>
        </apex:actionfunction>
        
        <apex:outputpanel id="pageTitleHeader">
            <apex:sectionHeader title="Forecast Module" subtitle="{!selectedProjectName}" >
                <apex:outputText value="{!$ObjectType['Client_Project__c'].Fields['Migrated_date__c'].Label}: {0,date,dd-MMM-yyyy}" style="float:right;font-weight: bolder;">
                                            <apex:param value="{!selectedProjectMigratedDate}" />
                </apex:outputText>
            </apex:sectionHeader>
        </apex:outputpanel>
        <div id="searchPanelId">       
            <apex:image value="/s.gif" id="imgSearchBox" styleClass="showSearch"/>
            <span>Forecast Units Search</span>
        </div>
        <script>
            var idImgSearchBox = '{!$Component.imgSearchBox}';
        </script>   
        
            <apex:pageBlock title="Filter your search" id="fullSearchBox">
                <script>
                    var idFullSearchBox = '{!$Component.fullSearchBox}';
                </script>
                <apex:pageBlockSection columns="1" title="Search for Units">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Project Search" for="searchProject" />
                        <apex:outputPanel >
                            <apex:inputText id="searchProject" value="{!selectedProjectLabel}" styleClass="placeHolder"/>
                            <apex:outputPanel id="searchTextPanel">
                                <apex:outputText styleClass="searchWarningMessage" value="Please reset the search before searching for a new project." rendered="{! NOT(ISNULL(selectedProject)) && NOT(selectedProject == '') && NOT(selectedProject == 'None') }"/>
                            </apex:outputPanel>
                            <apex:inputHidden id="searchProjectId" value="{!selectedProject}" />
                            <script>
                            var idInput = '{!$Component.searchProject}';
                            var idInputId = '{!$Component.searchProjectId}';
                            </script>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Project Selected" for="searchProject" />
                        <apex:outputPanel id="selectedProject">
                            <apex:outputText value="{!selectedProjectLabel}" />
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1" title="Selection Criteria " id="searchBlock">
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Region" for="selectedRegions" />
                        <apex:outputPanel id="panelRegions">
                            <apex:selectList value="{!selectedRegions}" id="selectedRegions" size="5" disabled="{!selectedProject == 'Select'}" multiselect="true">
                                <apex:selectOptions value="{!regionOptions}"/>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Operational Area" for="OperationalArea" />
                        <apex:outputPanel id="panelOA">
                            <apex:selectList value="{!selectedOperationalAreas}" id="OperationalArea" size="5" disabled="{!selectedProject == 'Select'}" multiselect="true">
                                <apex:selectOptions value="{!operationalAreaOptions}"/>
                                <apex:actionsupport event="onchange" action="{!operationalAreaOnChange}" rerender="panelGroups, panelTasks, searchButton, searchButtonTop" status="statusFields" />
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Client Unit Group" for="group" />
                        <apex:outputPanel id="panelGroups">
                            <apex:selectList value="{!selectedGroups}" id="group" size="5" disabled="{!OR(selectedProject == 'Select', selectedOperationalAreas == 'None')}" multiselect="true">
                                <apex:selectOptions value="{!groupOptions}"/>
                                <apex:actionsupport event="onchange" action="{!groupOnChange}" rerender="panelTasks, searchButton, searchButtonTop" status="statusFields" />
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Client Unit Name" for="selectedTasks" />
                        <apex:outputPanel id="panelTasks">
                            <apex:selectList value="{!selectedTasks}" id="selectedTasks" size="5"  disabled="{!OR(selectedProject == 'None', selectedOperationalAreas == 'None')}" multiselect="true">
                                <apex:selectOptions value="{!taskOptions}"/>
                            </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
               <!--  <apex:pageBlockSection columns="1" title="Other filters: ">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Unconfirmed Units Only" for="unconfOnly" />
                        <apex:outputPanel id="panelUnconf">
                            <apex:inputCheckbox value="{!unconfirmedOnly}" id="unconfOnly"  disabled="{!selectedProject == 'Select'}"/>
                           
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Confirmed Units Only" for="confOnly" />
                        <apex:outputPanel id="panelConf">
                            <apex:inputCheckbox value="{!confirmedOnly}" id="confOnly"  disabled="{!selectedProject == 'Select'}"/>
                            
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>-->
                <!--Unconfirmed Units Only-->
                <script>
                    var idUnconfOnly = '{!$Component.unconfOnly}';
                    $(esc(idUnconfOnly)).on( "click", function(){
                        $(esc(idConfOnly)).prop("checked", false);
                    });
                </script>
                <!--Confirmed Units Only-->
                <script>
                    var idConfOnly = '{!$Component.confOnly}';
                    $(esc(idConfOnly)).on( "click", function(){
                        $(esc(idUnconfOnly)).prop("checked", false);
                    });
                </script>
                <apex:pageBlockButtons location="bottom" >
                    <apex:outputPanel id="searchButton">
                        <apex:commandButton value="Search" action="{!searchTasksVF}" rerender="searchTextPanel, pageTitleHeader,data, searchButton, searchButtonTop" disabled="{!selectedProject == 'None'}" status="statusData" onclick="toggleSearchBox();" oncomplete="initGraphicalView();"/>
                        <apex:commandButton value="Reset" action="{!reset}" rerender="searchTextPanel, pageTitleHeader,selectedProject, searchButton, searchButtonTop, data, searchBlock, panelConf, unconfOnly, confOnly, panelUnConf" disabled="{!selectedProject == 'None'}" status="statusData" id="resetButton"/>
                        <script>
                            var idResetButton = '{!$Component.resetButton}';
                            // Reset Button
                            $(esc(idResetButton)).click(function(){
                                $(esc(idInput)).val(PLACEHOLDER);
                                $(esc(idInput)).addClass('placeHolder');
                            });
                        </script>                             
                    </apex:outputPanel>
                </apex:pageBlockButtons>
                <apex:pageBlockButtons location="top" >
                    <apex:outputPanel id="searchButtonTop">
                        <apex:commandButton value="Search" action="{!searchTasksVF}" rerender="searchTextPanel, pageTitleHeader,data, searchButton, searchButtonTop" disabled="{!selectedProject == 'None'}" status="statusData" onclick="toggleSearchBox();" oncomplete="initGraphicalView();"/>
                        <apex:commandButton value="Reset" action="{!reset}" rerender="searchTextPanel, pageTitleHeader,selectedProject, searchButton, searchButtonTop, data, searchBlock, panelConf, unconfOnly, confOnly, panelUnConf" disabled="{!selectedProject == 'None'}" status="statusFields" id="resetButtonTop"/>
                        <script>
                            var idResetButtonTop = '{!$Component.resetButtonTop}';
                            // Reset Button
                            $(esc(idResetButtonTop)).click(function(){
                                $(esc(idInput)).val(PLACEHOLDER);
                                $(esc(idInput)).addClass('placeHolder');
                            });
                        </script>      
                    </apex:outputPanel>
                    <apex:actionStatus startText="Updating Fields list" id="statusFields" >
                       <apex:facet name="start">
                         <apex:outputPanel >
                            <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                            <span class="spinnerText">Updating</span>
                         </apex:outputPanel>
                       </apex:facet>
                    </apex:actionStatus>
                </apex:pageBlockButtons>
            </apex:pageBlock>
        </apex:form>
        
        <apex:actionStatus startText="Updating Fields list" id="statusData" >
           <apex:facet name="start">
             <apex:outputPanel >
                <apex:image value="/img/loading32.gif" style="height: 15px;"/>
                <span class="spinnerText">Updating</span>
             </apex:outputPanel>
           </apex:facet>
        </apex:actionStatus>
        
        <div id="container">
        <apex:outputpanel id="data">
            <apex:form >
            <apex:pagemessages />
            
            <apex:actionStatus startText="Searching for Tasks..." id="searchProject">
                <apex:facet name="start">
                    <apex:image value="/img/loading.gif" title="Searching for Tasks..." />
                </apex:facet>
                <apex:facet name="stop"></apex:facet>
            </apex:actionStatus>
            
            <apex:pageBlock title="No rows returned" rendered="{! AND(NOT(ISNULL(liWrappers)) , liWrappers.size == 0) }">
                <apex:outputText value="No rows returned. Please change your selection criteria. Note: Only open client units will be displayed." style="color:red;font-size:16px;" />
            </apex:pageBlock>
            
            <apex:outputPanel rendered="{!AND(NOT(ISNULL(liWrappers)), NOT(liWrappers.size == 0))}">
                <p><a href="#" id="linkToggleGraphical">Tabular View / Graphical View</a></p><br/>
            </apex:outputPanel>
            <apex:pageBlock title="Forecast Units" rendered="{! AND(NOT(ISNULL(liWrappers)) , NOT(liWrappers.size == 0)) }" id="blockGraphical">
                <div id="charts_area" ></div>
            </apex:pageBlock>
            <script>
                var blockGraphical = '{!$Component.blockGraphical}';
            </script>
            <apex:pageBlock title="Forecast Units" rendered="{! AND(NOT(ISNULL(liWrappers)) , NOT(liWrappers.size == 0) )}" id="blockTabular">
                <apex:pageBlockSection columns="1" id="sectionTabular">
                    <div class="boxChangeMonths">
                        <a href="#" id="firstMonthButton" class="paginate_disabled_previous"><div class="paginate_disabled_previous">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></a>
                        
                        <a href="#" id="previousButton" class="paginate_disabled_previous">Prev Month(s)</a>
                        <a href="#" id="previousButtonSave" class="paginate_disabled_previous" style="display: none">Save And Prev 9 Months</a>
                        <a href="#" id="nextButtonSave" class="paginate_enabled_next" style="display: none">Save And Next 9 Months</a>
                        <a href="#" id="nextButton" class="paginate_enabled_next">Next Month(s)</a>
                        
                        <a href="#" id="lastMonthButton" class="paginate_enabled_next"><div class="paginate_disabled_next"></div></a>
                    </div>
                    <apex:pageBlockTable value="{!liWrappers}" var="wrap" id="resultTable" style="display: none">
                        <apex:column styleClass="tableColText" headerValue="Unit Number">{!wrap.unitnumber}</apex:column>
                        <apex:column styleClass="tableColText" headerValue="Unit Name">{!wrap.taskName}</apex:column>
                        <apex:column styleClass="tableColText" headerValue="Region"> {!wrap.region}</apex:column>
                        <apex:column styleClass="tableColText" headerValue="Unit Driver"> {!wrap.unitOfMeasurement}</apex:column>                      
                       
                        <!--<apex:column styleClass="tableColText" headerValue=" "><span class="plusMinus" data-mode="plus" data-crctId="{!wrap.crctId}">[+]</span></apex:column>-->                         
                        <!--<apex:column styleClass="tableColText" >
                            <apex:facet name="header">Forecast<br />Option</apex:facet>
                            Proposed
                        </apex:column>-->
                        <apex:column styleClass="tableColText" headerValue="Combo Code">{!wrap.combocode}</apex:column>
                        <apex:column styleClass="tableColNumber">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="0" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="0" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="1" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="1" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="2" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="2" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="3" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="3" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="4" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="4" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="5" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="5" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="6" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="6" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="7" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="7" data-unitid="" style="display: none"/>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header"></apex:facet>
                            <span id="view" data-crctId="{!wrap.taskId}" data-month="8" data-unitid=""></span>
                            <input id="edit" type="text" value="" class="inputValue" data-crctId="{!wrap.taskId}" data-month="8" data-unitid="" style="display: none"/>
                        </apex:column>
                        
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header">WTD<br />Units</apex:facet>
                            <span data-crctId="{!wrap.taskId}" data-column="wtd" >
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!wrap.workedToDateUnits}" />
                                </apex:outputText>                             
                            </span>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header">Total<br />(WTD+ETC) Units</apex:facet>
                            <span data-crctId="{!wrap.taskId}" data-column="total" >
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!wrap.TotalForecastUnits}" />
                                </apex:outputText>     
                            </span>
                        </apex:column>
                        <apex:column styleClass="tableColNumber" headerClass="tableHeaderRight">
                            <apex:facet name="header">Var from<br /> contract</apex:facet>
                            <span data-crctId="{!wrap.taskId}" data-column="variance" >
                                <apex:outputText value="{0,number,##,##,##,##0.00}">
                                    <apex:param value="{!wrap.varianceFromContract}" />
                                </apex:outputText>
                            </span>
                        </apex:column>     
                    </apex:pageBlockTable>
                    <script type="text/javascript">
                        var idResultTable = '{!$Component.resultTable}';
                    </script>
                </apex:pageBlockSection>
                <apex:pageBlockButtons location="top" id="dataButtons">   
                    <apex:outputPanel rendered="{!if(blocked=true,false,true)}">              
                    <input type="button" id="editButton" value="Edit" class="btn"/></apex:outputPanel>
                    <input type="button" id="saveButton" value="Save" class="btn" style="display: none"/>
                    <input type="button" id="cancelButton" value="Cancel" class="btn" style="display: none"/>
                    <script>
                        var exportToExcelButtonId = '{!$Component.exportToExcel}';
                    </script>
                </apex:pageBlockButtons>
            </apex:pageBlock>
            
                        <apex:actionFunction name="rerenderTable" action="{!searchTasksVF}" status="searchProject" rerender="container"/>
                        
            <script>
                var blockTabular = '{!$Component.blockTabular}';
            </script>
            <div id="results" style="width: 400px"></div>
            <script type="text/javascript">
                var monthIndex = 0;
                var noOfPages = 0;
                var pageNo = 0;
                var previouslinesCreated = false;
                var crctIdsBefore = '{!taskIdsForVF}';
                var crctIds = crctIdsBefore.split(',');
                var paginationInitialized = false;
                
                var m = 1;
                
                String.prototype.format = function() {
                  var args = arguments;
                  return this.replace(/\{(\d+)\}/g, function (m, n) { return args[n]; });
                };
                
                // Click on Next 9 months 
                $('a#previousButton').on('click', previousMonths);
                $('a#previousButtonSave').on('click', saveAndPreviousMonths);
                $('a#nextButton').on('click', nextMonths);
                $('a#nextButtonSave').on('click', saveAndNextMonths);
                $('a#firstMonthButton').on('click', firstMonth);
                $('a#lastMonthButton').on('click', lastMonth);
                
                function saveAndPreviousMonths() {
                    // Don't do anything if disabled 
                    if($('a#previousButtonSave').attr("class") == "paginate_disabled_previous"){
                        return;
                    }
                    m = 0;
                    saveValues();
                    previousMonths(); 
                    m = 1;                     
                    return false;
                }
                
                function saveAndNextMonths() {
                    // Don't do anything if disabled 
                    if($('a#nextButtonSave').attr("class") == "paginate_disabled_next") {
                        return;
                    }
                    m = 0;
                    //alert(m);
                    saveValues();
                    nextMonths();  
                    m = 1;                      
                    return false;    
                    
                }
                
                function nextMonths() {
                    // Don't do anything if disabled 
                    if($('a#nextButton').attr("class") == "paginate_disabled_next") {
                        return;
                    }
                    monthIndex++;
                    if(monthIndex > 0) {
                        $('a#previousButton').removeClass("paginate_disabled_previous");
                        $('a#previousButton').addClass("paginate_enabled_previous");
                        $('a#previousButtonSave').removeClass("paginate_disabled_previous");
                        $('a#previousButtonSave').addClass("paginate_enabled_previous");
                        $('a#firstMonthButton').removeClass("paginate_disabled_previous");
                        $('a#firstMonthButton').addClass("paginate_enabled_previous");
                    }
                    // Removing the previous rows 
                    $(".previousMonth").remove();
                    $("span[class='plusMinus']").html("[+]");
                    
                    if(m == 1) {
                        ModalPopups.Indicator("idProcessIndicator",  
                                "Please wait",  
                                "<div style=''>" +   
                                "<div style='float:left;'><img src='{!$Resource.modelpopup}/0.1/spinner.gif'></div>" +   
                                "<div style='float:left; padding-left:10px;'>" +   
                                "Processing your request... <br/>" +   
                                "</div>",   
                                {  
                                    width: 300,  
                                        height: 100  
                                }  
                        );  
                        setTimeout('ModalPopups.Close(\"idProcessIndicator\");', 1000);
                    }
                            
                    changeMonths();
                    return false;
                }
                
                function previousMonths() {
                    // Don't do anything if disabled 
                    if(monthIndex == 0) {
                        return;
                    }
                    monthIndex--;
                    if(monthIndex == 0) {
                        $('a#previousButton').addClass("paginate_disabled_previous");
                        $('a#previousButton').removeClass("paginate_enabled_previous");
                        $('a#previousButtonSave').addClass("paginate_disabled_previous");
                        $('a#previousButtonSave').removeClass("paginate_enabled_previous");
                        $('a#firstMonthButton').addClass("paginate_disabled_previous");
                        $('a#firstMonthButton').removeClass("paginate_enabled_previous");
                    }
                    // Removing the previous rows 
                    $(".previousMonth").remove();
                    $("span[class='plusMinus']").html("[+]");
                    
                    if(m == 1) {
                                ModalPopups.Indicator("idProcessIndicator",  
                                "Please wait",  
                            "<div style=''>" +   
                            "<div style='float:left;'><img src='{!$Resource.modelpopup}/0.1/spinner.gif'></div>" +   
                            "<div style='float:left; padding-left:10px;'>" +   
                            "Processing your request... <br/>" +   
                            "</div>",   
                            {  
                                width: 300,  
                                height: 100  
                            }  
                        );  
                        setTimeout('ModalPopups.Close(\"idProcessIndicator\");', 1000);
                    }        
                    changeMonths();
                    return false;
                }
                function firstMonth() {
                    if($('a#firstMonthButton').attr("class") == "paginate_disabled_previous") {
                        return;
                    }
                    monthIndex = 1; // set to 1 as previous function will reduce it 
                    previousMonths();
                }
                function lastMonth() {
                    //console.debug(noOfPages); 
                    monthIndex = noOfPages -1;
                    nextMonths();
                }
                var visibleCRCTIds = new Array();
                function changeMonths() {
                    // Preparing the visible crctIds 
                    $(esc(idResultTable) + " tbody span[data-month='0']").each(function() {
                        visibleCRCTIds.push($(this).attr("data-crctId"));
                    });
                    // Calling the next mont method with MOnth Index = 0 
                    PRA_ForecastUnitsModuleController.nextMonths(monthIndex, visibleCRCTIds, function(result, event) {
                        if(event.type == 'exception') {
                            alert(event.message);
                        }
                        // Parsing the JSON result 
                        var globalWrapper = JSON.parse(result);
                        
                        // number of pages 
                        noOfPages = globalWrapper.noPages;
                        // Getting the labels of the 9 next months 
                        var liLabelsMonth = globalWrapper.liLabelMonth;
                        // Updating the TH label 
                        for(var i = 0; i < 9; i++) {
                            $(esc(idResultTable) + ' th:eq(' + (i + 5) + ')').html(liLabelsMonth[i]);
                        }
                        
                        // Getting the values (List<LineWrapper>) 
                        var liLine = globalWrapper.liLineWrapper;
                        
                        // If we have no value for last column => no Next 
                        var hasLastValue = false;
                        
                        // MLH:     the problem here is what happens if there are no records in the unit table 
                        //          for that CRCT for that month? Nothing gets displayed. 
                        //          so wipe grid first and then repopulate the values 
                        
                        for(var j = 0; j < visibleCRCTIds.length; j++) {
                            var crctId = visibleCRCTIds[j];
                            for(var k = 0; k < 9; k++) {
                                $span = $(esc(idResultTable) + " tbody span[data-crctId='" + crctId + "'][data-month='" + k + "']");
                                var $inp = $span.siblings("input:first");
                                var value = '';
                                var unitId = '';
                                
                                $span.html(value);
                                $span.attr("data-unitid", unitId);
                                
                                $inp.val(value);
                                $inp.attr("data-unitid", unitId);
                                $inp.hide();
                            }
                        }
                        
                        // Updating the values for each Line 
                        for(var j = 0; j < liLine.length; j++) {
                            var crctId = liLine[j].taskId;
                            
                            // We foudn a vlue for last column => show Next button 
                            if(liLine[j].liValueMonthProposed.length == 9) {
                                hasLastValue = true;
                            }
                                
                            // Updating Month values 
                            var $span;
                            for(var k = 0; k < 9; k++) {

                                // Getting the element 
                                $span = $(esc(idResultTable) + " tbody span[data-crctId='" + crctId + "'][data-month='" + k + "']");
                                //$("div#results").append('<p>span: '+$span+'</p>'); 
                                var $inp = $span.siblings("input:first");
                                var value = '';
                                var unitId = '';
                                // Checking that we actually received a value for this month 
                                if(k < liLine[j].liValueMonthProposed.length) {
                                    
                                    value = parseFloat(liLine[j].liValueMonthProposed[k].valueMonth).toFixed(2);
                                    if(isNaN(value)) {
                                        value= '';
                                    }
                                    unitId = liLine[j].liValueMonthProposed[k].unitId;
                                    // We flag the cell as Editable 
                                    if(monthIndex != 0) {
                                        $span.attr("data-isedit", "true");
                                    } else if(k > 2) { // But not the 3 first cells when monthIndex = 0 (they are worked units) 
                                        $span.attr("data-isedit", "true");
                                    } else {
                                        $span.attr("data-isedit", "false");
                                    }
                                }
                                $span.html(value);
                                $span.attr("data-unitid", unitId);
                                
                                $inp.val(value);
                                $inp.attr("data-unitid", unitId);
                                $inp.hide();                                
                            }
                        }
                        // Disbaling Next button 
                        if(!hasLastValue) {
                            $('a#nextButton').addClass("paginate_disabled_next");
                            $('a#nextButton').removeClass("paginate_enabled_next");
                            $('a#nextButtonSave').addClass("paginate_disabled_next");
                            $('a#nextButtonSave').removeClass("paginate_enabled_next");
                            $('a#lastMonthButton').addClass("paginate_disabled_next");
                            $('a#lastMonthButton').removeClass("paginate_enabled_next");
                            
                        } else {
                            $('a#nextButton').addClass("paginate_enabled_next");
                            $('a#nextButton').removeClass("paginate_disabled_next");
                            $('a#nextButtonSave').addClass("paginate_enabled_next");
                            $('a#nextButtonSave').removeClass("paginate_disabled_next");
                            $('a#lastMonthButton').addClass("paginate_enabled_next");
                            $('a#lastMonthButton').removeClass("paginate_disabled_next");
                        }
                    }, {escape:false});
                   
                }
                
                // Click on [+]/[-] => WORKS ONLY ONCE (to prevent double click) 
                $("span[class='plusMinus']").one("click", clickOnPlusMinus);
                function clickOnPlusMinus() {
                    var crctid = $(this).attr("data-crctid");
                    var $origin = $(this);
                    
                    if($origin.html() == "[+]") {
                        PRA_ForecastUnitsModuleController.getPreviousMonth(monthIndex, crctid, function(result, event) {
                            if(event.type == 'exception') {
                                alert(event.message);
                            }
                            var values = result;
                            var $mytr = $origin.parents("tr:first");
                            var newTr = "<tr class='previousMonth dataRow'><td></td><td></td><td></td><td></td><td>Previous</td>";
                            newTr = newTr + "<td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td>{7}</td><td>{8}</td>";
                            newTr = newTr + "<td></td><td></td><td></td></tr>";
                            // Preparing the data 
                            for(var k = 0; k < 9; k++) {
                                var value = parseFloat(values[k].valueMonth).toFixed(1);
                                if(isNaN(value)) {
                                    value= '';
                                }
                                values[k].valueMonth = value;
                            }
                            // Replacing the tokens with the formatetd data 
                            $mytr.after(newTr.format(
                                    values[0].valueMonth, 
                                    values[1].valueMonth, 
                                    values[2].valueMonth, 
                                    values[3].valueMonth, 
                                    values[4].valueMonth, 
                                    values[5].valueMonth, 
                                    values[6].valueMonth, 
                                    values[7].valueMonth, 
                                    values[8].valueMonth));
                            
                            //$("div#results").append('<p>YO</p>'); 
                            $origin.html("[-]");
                            $origin.one("click", clickOnPlusMinus);
                        });
                    } else {
                        $origin.parents("tr:first").next("tr").remove();
                        $origin.html("[+]");
                        $origin.one("click", clickOnPlusMinus);
                    }
                }
                
                // Click on Edit button 
                $("input#editButton").on("click", function(event) {
                    $("span[id='view'][data-isedit='true']:visible").each(function() {
                        $(this).hide();
                        
                        var $inp = $(this).siblings("input:first");
                        $inp.attr("data-old", $inp.val());
                        $inp.show();
                    });
    
                    // Switch the buttons 
                    $("input#saveButton").show();
                    $("input#cancelButton").show();
                    $(this).hide();
                    
                    // Hide the month pagination controls 
                    $('a#nextButton').hide();
                    $('a#previousButton').hide();
                    $('a#nextButtonSave').show();
                    $('a#previousButtonSave').show();
                    $('a#firstMonthButton').hide();
                    $('a#lastMonthButton').hide();
                    
                    
                    // Hide the pagination controls 
                    $("div.dataTables_wrapper div.dataTables_paginate").hide();
                });

                
                // End Edit mode and switch to view Mode 
                function endEditMode() {
                    // Switch the buttons 
                    $("input#editButton").show();
                    $("input#saveButton").hide();
                    $("input#cancelButton").hide();
                    
                    // Show the month pagination controls 
                    $('a#nextButton').show();
                    $('a#previousButton').show();
                    $('a#nextButtonSave').hide();
                    $('a#previousButtonSave').hide();
                    $('a#firstMonthButton').show();
                    $('a#lastMonthButton').show();
                    
                    // Show the pagination controls 
                    $("div.dataTables_wrapper div.dataTables_paginate").show();
                }
                
                // Click on Cancel button 
                $("input#cancelButton").on("click", function(event) {
                    // Check if any of the values has changed 
                    var isValueChanged = false;
                    $(":input[id='edit']:visible").each(function() {
                        if($(this).val() != $(this).attr("data-old")) {
                            isValueChanged = true;
                            return;
                        }
                    });
                    
                    if(isValueChanged) {
                        var conf = confirm("Some of the values on this page have changed. Click OK to continue without saving. Click Cancel to go back to your changes.");
                        if(!conf) {
                            return;
                        } 
                    }
                    
                    // Revert to the old values 
                    $(":input[id='edit']:visible").each(function() {
                        // Storing the value before Edit for the Cancel 
                        $(this).val(parseFloat($(this).attr("data-old")).toFixed(1));
                        // Switch to View mode 
                        var $span = $(this).siblings("span:first");
                        $span.show();
                    });
                    $(":input[id='edit']:visible").hide();
                    
                    // End Edit mode and switch to view Mode 
                    endEditMode();
                });
                
                // Click on Save button 
                $("input#saveButton").on("click", saveValues);
                function saveValues() {
                    var liDataSend = new Array();
                    var shouldSave = true;
                    $(":input[id='edit']:visible").each(function() {
                        // Regular expressions to test for non numeric input 
                        var regEx = new RegExp('^[+-]?([0-9]+)?(\.[0-9]{1,2})?$');
                        $viewEl = $("span[id='view'][data-unitid='" + $(this).attr('data-unitid') + "']");
                        if(!regEx.test($(this).val())) {
                                $(this).val($(this).attr("data-old")); 
                                shouldSave = false;
                        }
                    });
                    if(shouldSave) {
                            $(":input[id='edit']:visible").each(function() {
                                // Switch to View mode 
                                $viewEl = $("span[id='view'][data-unitid='" + $(this).attr('data-unitid') + "']");
                                $viewEl.html(parseFloat($(this).val()).toFixed(2));
                                $viewEl.show();
                                $(this).hide();
                                
                                var dataToSend = {
                                    recordId: $(this).attr('data-unitid'),
                                    value: $(this).val()
                                }
                                liDataSend.push(dataToSend);
                            });
                            
                            PRA_ForecastUnitsModuleController.saveForecasts(JSON.stringify(liDataSend), function(result, event) {
                                for(var i = 0; i < result.length; i++) {
                                    $("span[data-crctid='" + result[i].taskId + "'][data-column='wtd']").html(parseFloat(result[i].wtd).toFixed(2));
                                    $("span[data-crctid='" + result[i].taskId + "'][data-column='total']").html(parseFloat(result[i].total).toFixed(2));
                                    $("span[data-crctid='" + result[i].taskId + "'][data-column='variance']").html(parseFloat(result[i].variance).toFixed(2));
                                }
                            }, {escape:true});
                        // End Edit mode and switch to view Mode 
                        endEditMode();
                        rerenderTable();
                                        } else {
                                                alert('Only numeric values with format of #.## can be entered');
                                        }
                }
                
                // Pagination: done only at init 
                if(!paginationInitialized) {
                    // Init of Datatable 
                                
                    $(esc(idResultTable)).dataTable({
                        "bFilter": false,
                        "bLengthChange": false,
                        "iDisplayLength": 20,
                        "fnDrawCallback": function() {
                            // un expend ("+") the previous 
                            $("a[id$='resultTable_next']").on( "click",  unexpandPreviousForecast());
                            $("a[id$='resultTable_previous']").on( "click",  unexpandPreviousForecast());
                                
                            if(paginationInitialized) {
                                // Pagination finished re-drawing 
                                monthIndex = 0;
                                $('a#previousButton').addClass("paginate_disabled_previous");
                                $('a#previousButton').removeClass("paginate_enabled_previous");
                                $('a#firstMonthButton').addClass("paginate_disabled_previous");
                                $('a#firstMonthButton').removeClass("paginate_enabled_previous");
                                ModalPopups.Indicator("idProcessIndicator",  
                                        "Please wait",  
                                        "<div style=''>" +   
                                        "<div style='float:left;'><img src='{!$Resource.modelpopup}/0.1/spinner.gif'></div>" +   
                                        "<div style='float:left; padding-left:10px;'>" +   
                                        "Processing your request... <br/>" +   
                                        "</div>",   
                                        {  
                                                width: 300,  
                                                height: 100  
                                        });  
                               setTimeout('ModalPopups.Close(\"idProcessIndicator\");', 800);
                               changeMonths();
                            }
                        },
                        "aoColumns": [ 
                                null,
                                null,
                                null,                         
                                null,
                                null,
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                                { "bSortable": false },
                          
                        ]
                    });
    
                    // Display the Result table 
                    $(esc(idResultTable)).show();
                }
                paginationInitialized = true;
                // Call to Controller to get the values 
                changeMonths();
                
                function unexpandPreviousForecast() {
                        $("span[class='plusMinus']").each(function(){
                                $(this).html('[+]');
                        });
                }

        </script>
        </apex:form>
        </apex:outputpanel>
        </div>
        
    <script type="text/javascript">

        var PLACEHOLDER = 'Enter Project ID'; 
        var sObjects;
        var queryTerm;
        initGraphicalView();
        var isTabularDisplayed = true;
        
        function initGraphicalView(){
            isTabularDisplayed = true;
            $(esc(blockGraphical)).hide();
            // Hide the Tabular view + get the Graphical data 
            $("#linkToggleGraphical").on("click", function() {
                if(isTabularDisplayed) {
                    // Preparing the visible crctIds
                    visibleCRCTIds.length = 0;
                    $(esc(idResultTable) +" tbody span[data-month='0']").each(function() {
                        visibleCRCTIds.push($(this).attr("data-crctId"));
                    });
                    // We get the graphs only for VISIBLE crct 
                    getGraphs();
                    // Toggle the visibility between the tabular view and the graph view 
                    $(esc(blockTabular)).slideToggle('slow');
                    $(esc(blockGraphical)).slideToggle('slow');
                    isTabularDisplayed = false;
                } else {
                    $(esc(blockTabular)).slideToggle('slow');
                    $(esc(blockGraphical)).slideToggle('slow');
                    isTabularDisplayed = true;
                }
                ModalPopups.Indicator("idProcessIndicator",  
                        "Please wait",  
                        "<div style=''>" +   
                        "<div style='float:left;'><img src='{!$Resource.modelpopup}/0.1/spinner.gif'></div>" +   
                        "<div style='float:left; padding-left:10px;'>" +   
                        "Processing your request... <br/>" +   
                        "</div>",   
                        {  
                                width: 300,  
                            height: 100  
                        });  
                setTimeout('ModalPopups.Close(\"idProcessIndicator\");', 4000);
                return false;
            });             
        }
        // Init the autocomplete 
        $(esc(idInput)).autocomplete({
            minLength: 2,
            source: function(request, response) {
                queryTerm = request.term;
                PRA_ForecastUnitsModuleController.searchProject(request.term, function(result, event){
                    if(event.type == 'exception') {
                          alert(event.message);
                    } else {
                         sObjects = result;
                         response(sObjects);
                    }
                });
            },
            focus: function(event, ui) {
                    $(esc(idInput)).val(ui.item.Name);
                    return false;
            },
            select: function(event, ui) {
                    $(esc(idInput)).val(ui.item.Name);
                    $(esc(idInputId)).val(ui.item.Id);
                    
                    // Call VF JS method to select a project => rerender 
                    updateSelectedProject(ui.item.Id, ui.item.Name);
                    return false;
                },
         })
         .data("autocomplete")._renderItem = function(ul, item) {
            var entry = "<a>" + item.Name;
           
            entry = entry + "</a>";
            entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append(entry)
                .appendTo(ul);
        };
        // Placeholder 
        
        $(esc(idInput)).val(PLACEHOLDER);
        $(esc(idInput)).on("focus", function(event) {
            $tgt = $(event.target);
            if($tgt.val() === PLACEHOLDER ) {
                $tgt.val('');
                $tgt.removeClass('placeHolder');
            }
        });
        $(esc(idInput)).on("blur",  function(event) {
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
        // Click on Confirmed only 
        $(esc(idUnconfOnly)).on("click", function() {
            $(esc(idConfOnly)).prop("checked", false);
        });
        // Click on Unconfirmed only 
        $(esc(idConfOnly)).on("click", function() {
            $(esc(idUnconfOnly)).prop("checked", false);
        });
        // Click on arrow for Search box 
        var isCollapsed = {!isCollapsed};
        $(esc(idImgSearchBox)).on("click", toggleSearchBox);
        function toggleSearchBox() {
            $(esc(idFullSearchBox)).slideToggle('fast');
            if(isCollapsed) {
                $(this).removeClass('showSearch');
                $(this).addClass('hideSearch');
                isCollapsed = false;
            } else {
                $(this).addClass('showSearch');
                $(this).removeClass('hideSearch');
                isCollapsed = true;
            }
        }
        // Init 
        if(isCollapsed) {
            $(esc(idFullSearchBox)).slideToggle('fast');
            $(esc(idImgSearchBox)).removeClass('showSearch');
            $(esc(idImgSearchBox)).addClass('hideSearch');
        }
        
        // Overriding Salesforce auto-focus 
        function setFocusOnLoad() {}
        
        /** GRAPHICAL VIEW **/

        var unitGraphs = new Array(); // 3 dimensional array 
        var months = new Array();
        
        // unit sections from jquery.html() to dynamically insert divs 
        function createChartsHTML(size) {
            var htmlString = "";
            for( var i = 0; i < size; i++) {
                    htmlString += '<div id="unit';
                    htmlString += i;
                    if ( i % 2 == 0 )
                        htmlString += '" style="min-width: 200px; height: 400px; margin: 0 auto; ">'; // hammer this one into size! 
                    else
                        htmlString += '" style="min-width: 200px; height: 400px; margin: 0 auto; ">'; // bam ! 
                    htmlString += '</div><br><br>';
                    if ( (i+1) % 2 == 0 )
                        htmlString += '<br style="clear:both">';
            }
            $('#charts_area').html(htmlString);
        }
        
        function getGraphs() {
            // MLH: this is a dirty way of avoiding wrappers (which get tangled up in JSON if they have strings) 
            PRA_ForecastUnitsModuleController.getDescriptions(visibleCRCTIds, function(result, event) {
                var liDescriptions = result;
                        
                PRA_ForecastUnitsModuleController.getGraphs(visibleCRCTIds, function(result, event) {
                        var liData = result;
                        populateGraphs(liData, liDescriptions);
                                                
                }, {escape:false});
            
            }, {escape:false});
            
        }
        
        function createLineString(stringName, linearArray) {
            var arrayString = 'var ' + stringName + ' = [ ';
            for(var b = 0; b < linearArray.length; b++) {
                arrayString += "[" + linearArray[b] + "]";
                if((b + 1) < linearArray.length) {
                    arrayString += ",";
                } else {
                    arrayString += "]";
                }
            }
            if(linearArray.length == 0) {
                arrayString += "]";
            }
            return arrayString;
        }
        
        function populateGraphs(theGraphs, descriptions) {
                createChartsHTML(theGraphs.length); // dynamically create divs for charts on page load 
            
                for(var i = 0; i < theGraphs.length; i++) { // dynamically create charts on page load 
                    // convert strings to highstocks format 
                    
                    var baselineString = createLineString( "baselineData", theGraphs[i][0]);
                    eval(baselineString);
                    var previousString = createLineString( "previousData", theGraphs[i][1]);
                    eval(previousString);
                    var proposedString = createLineString( "proposedData", theGraphs[i][2]);
                    eval(proposedString);
                    var workedString = createLineString( "workedData", theGraphs[i][3]);
                    eval(workedString);
                    
                    var chart;
                    chart = new Highcharts.StockChart({
                        chart: {
                            renderTo: 'unit' + i,
                            zoomType: 'x',
                            type: 'line'
                        },
                        title: {
                            style: {
                                fontWeight: 'bold'
                            },
                            text: descriptions[i]
                        },
                        subtitle: {
                            style: {
                                fontWeight: 'bold'
                            },
                            text: ''
                        },
                        xAxis: {
                            categories: months,
                            title: {
                                text: 'Months',
                                align: 'high'
                            }
                        },
                        yAxis: {
                            title: {
                                text: 'Units Complete'
                            }
                        },
                        
                        legend: {
                            enabled: true,
                            align: 'down',
                            backgroundColor: 'white',
                            borderColor: 'gray',
                            borderWidth: 1,
                            layout: 'horizontal',
                            verticalAlign: 'down',
                            x: 10,
                            y: 2,
                            shadow: false
                        },
                        rangeSelector: {
                            enabled: false,
                            selected: 5
                        },
                       
                        series: [{
                            name: 'Baseline',
                            data:   baselineData
                        }, {
                            name: 'Last Approved',
                            data:   previousData
                        }, {
                            name: 'Proposed',
                            data:   proposedData
                        }, {
                            name: 'Worked',
                            data:   workedData
                        }]
                    });     // end chart 
                }
        }

        $(function() {
            $(esc(idResultTable)).show();
        });
    </script>
    </apex:stylesheet>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />
</apex:page>