<apex:page standardController="Change_Order__c" extensions="PRA_ChangeOrderDisplayModifyController" tabStyle="Change_Order__tab">

    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-1.7.1.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jQueryGraph, '/jqui/js/jquery-ui-1.8.17.custom.min.js')}"  />
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
    <script type="text/javascript" src="{!$Resource.modelpopup}/0.1/ModalPopups.js"></script>
    <apex:styleSheet value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/css/smoothness/jquery-ui-1.8.21.custom.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.jqueryUI, 'jquery-ui-1.8.21.smoothness/js/jquery-ui-1.8.21.custom.min.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jqueryBlockUI, '/')}"  />     
    <apex:stylesheet value="{!URLFOR($Resource.jQueryGraph, '/jqui/css/start/jquery-ui-1.8.17.custom.css')}"  />
    <apex:styleSheet value="{!$Resource.PMCStyle}" />

    <apex:form >
        <apex:sectionHeader title="Display/Modify A Change Order"  subtitle="{!selectedProject}/{!ChangeorderNo}" ></apex:sectionHeader>   
        <apex:pagemessages />  
        <apex:pageBlock >
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem >
                    <apex:outputText >Project Name</apex:outputText>
                    <apex:commandLink value="{!selectedProject}" action="{!viewRecord}"  >
                        <apex:param name="coId" value="{!selectedProjectid}" assignTo="{!selectedRecord}"/>
                    </apex:commandLink>
                </apex:pageBlockSectionItem>
                <apex:outputfield value="{! Change_Order__c.Name}" />
                <apex:pageBlockSectionItem >
                    <apex:outputText >Estimated End Date</apex:outputText> 
                        <apex:outputText value="{0,date,dd-MMM-yyyy}" >
                            <apex:param value="{!Change_Order__c.Client_Project__r.Estimated_End_Date__c}" />
                        </apex:outputText>   
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                    <apex:outputText >Proposed Estimated End Date</apex:outputText>                    
                    <apex:commandLink action="{!viewEndDate}"  >
                        <apex:outputText value="{0,date,dd-MMM-yyyy}" >
                            <apex:param value="{!Change_Order__c.Proposed_Estimated_End_Date__c}" />
                        </apex:outputText>                        
                    </apex:commandLink>
                </apex:pageBlockSectionItem>
                <apex:outputfield value="{! Change_Order__c.Last_Refreshed__c }" />                                
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:pageBlock id="b">    
            <apex:pageBlockButtons location="top" rendered="{!(status=false)}" >    
                <apex:commandButton id="CloneChangeOrder" value="Clone Change Order"  onClick="return getCloneChangeOrder();"  action="{!CloneCO}" disabled="{!IF(LiWrappers2.size<=0,true,false)}" />
                <script>
                    var CloneChangeOrderButtonId = '{!$Component.CloneChangeOrder}';
                </script>                                   
                <apex:commandButton id="exportToExcel" value="Export to Excel"  onClick="return getExporttoExcel()" action="{!ExportExcel}"  disabled="{!IF(LiWrappers2.size<=0,true,false)}"/>
                <script>
                    var exportToExcelButtonId = '{!$Component.exportToExcel}';
                </script>
            </apex:pageBlockButtons> 
            <apex:pageBlockButtons location="top" id="dataButtons" rendered="{!(status=true)}" > 
            <apex:outputPanel rendered="{!(Change_Order__c.Is_Project_Updated__c==false)}">
                <apex:outputPanel rendered="{!(Change_Order__c.Client_Project__r.Is_Project_Locked__c==false)}">
                    <input type="button" id="ExecuteChangeOrder" value="Execute Change Order" class="btn" onclick="getExecuteCO()"  /></apex:outputPanel>
                    <input type="button" id="editButton" value="Edit" class="btn"   />
                    <input type="button" id="saveButton" value="Save" class="btn displayNone"/>
                    <input type="button" id="cancelButton" value="Cancel" class="btn displayNone"/>                    
                    <apex:commandButton id="AddNewClient" action="{!addNewClientUnit}" value="Add New Client Unit" />
                </apex:outputPanel>
                
                <apex:commandButton id="btnRefresh" action="{!RefreshChangeOrder}" value="Refresh" rendered="{!(Change_Order__c.Is_Project_Updated__c==true)}"  />
                <script>
                    var AddNewClientButtonId = '{!$Component.AddNewClient}';
                    var RefreshButtonId='{!$Component.btnRefresh}';
                </script> 
                 
                <apex:commandButton id="CloneChangeOrder" value="Clone Change Order" onClick="return getCloneChangeOrder();" action="{!CloneCO}" status="SearchProjectStatus" disabled="{!IF(LiWrappers2.size<=0,true,false)}">
                    <apex:actionstatus id="SearchProjectStatus" onstart="$.blockUI();" onstop="$.unblockUI();"/>
                </apex:commandButton>
                <script>
                    var CloneChangeOrderButtonId = '{!$Component.CloneChangeOrder}';
                </script>                                   
                
                <apex:commandButton id="exportToExcel" value="Export to Excel"  onClick="return getExporttoExcel()"  action="{!ExportExcel}" disabled="{!IF(LiWrappers2.size<=0,true,false)}" />
                <script>
                    var exportToExcelButtonId = '{!$Component.exportToExcel}';
                </script>                     
                
                <apex:commandButton id="DeleteCO" value="Delete Change Order"  onclick="if(!confirm('Are you sure you want to Delete this CO?'))return false;"  action="{!DeleteCO}" />
                <script>
                    var deleteButtonId = '{!$Component.DeleteCO}';
                </script>
            </apex:pageBlockButtons> 
            
            <apex:inputHidden id="ExcelName" value="{!ChangeOrderExcelName}" />
            <apex:inputHidden id="CloneCOName" value="{!ClonechangeOrderName}" />
            
            <apex:pageBlock title="Summary Values">
                <apex:pageBlockTable rowclasses="white,lightyellow" value="{!LiWrappers4}" var="obj" id="searchResultID1">
                    <apex:column styleClass="tableColText" headerValue="Current Contract Value" rendered="{!(Change_Order__c.Status__c!='Executed')}">
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.totalCost}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Previous Contract Value" rendered="{!(Change_Order__c.Status__c=='Executed')}">
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.totalCost}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column styleClass="tableColText" > 
                        <apex:facet name="header">Amendment <br />Contract Value</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.amendTotalCost}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column styleClass="tableColText" >
                        <apex:facet name="header">Revised<br />Contract Value</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.revisedTotalCost}" />
                        </apex:outputText>
                    </apex:column>                      
                </apex:pageBlockTable>
            </apex:pageBlock><br></br>                          
            <apex:pageBlock title="Change Order Client Units">
                <apex:pageBlockTable rowclasses="white,lightyellow" value="{!LiWrappers2}" var="obj" id="searchResultID"   > 
                    <apex:column styleClass="tableColText"  rendered="{!(status=true)}" >
                        <apex:facet name="header">Delete from<br />Change Order <input id="confAllId" type="checkbox" data-type="confAll" disabled="disabled"/></apex:facet>
                        <input type="checkbox" data-type="conf" data-sfid="{!obj.Id}" disabled="disabled" id="cb"/>                        
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Client Unit Number" title="Client Unit Number">                     
                       <apex:outputpanel rendered="{!if(obj.ClientTaskId='',true,false)}">
                             <apex:commandLink value="{!obj.unitNumber}" action="{!editChangeOrderItem}"  style="color: blue;">
                                <apex:param name="coId" value="{!obj.changeOrderItemId}" assignTo="{!selectedChangeOrderId}"/>
                             </apex:commandLink></apex:outputpanel>
                             <apex:outputpanel rendered="{!if(obj.ClientTaskId!='',true,false)}">
                             <apex:commandLink value="{!obj.unitNumber}" action="{!editChangeOrderItem}"  >
                                <apex:param name="coId" value="{!obj.changeOrderItemId}" assignTo="{!selectedChangeOrderId}"/>
                             </apex:commandLink></apex:outputpanel>  
                        <input type="hidden" value="{!obj.unitNumber}" data-sfid="{!obj.Id}" data-type="unitNo"/>
                        <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>
                    </apex:column>   
                   <!-- <apex:column styleClass="tableColText" headerValue="Client Unit Number" rendered="{!(status=false)}"> 
                       <apex:outputpanel rendered="{!if(obj.ClientTaskId='',true,false)}"><span id="msg" style="color:blue;"  >
                            <apex:outputLabel value="{!obj.unitNumber}"/></span></apex:outputpanel>
                                <apex:outputpanel rendered="{!if(obj.ClientTaskId!='',true,false)}">
                            <apex:outputLabel value="{!obj.unitNumber}"/>
                       </apex:outputpanel>   
                       <apex:facet name="footer" ><apex:outputlabel value="Totals"></apex:outputlabel></apex:facet>                     
                    </apex:column>  -->                      
                    <apex:column styleClass="tableColText" headerValue="Client Unit Name" title="Client Unit Name">                        
                        <apex:outputLabel value="{!obj.description}"/>
                    </apex:column>                       
                    <apex:column styleClass="tableColText" headerValue="Client Region" title="Client Region">
                        <apex:outputLabel value="{!obj.clientRegion}"/>
                    </apex:column>
                     <apex:column styleClass="tableColText" headerValue="Combo Code" title="Combo Code">
                        <apex:outputLabel value="{!obj.comboCode}"/>
                    </apex:column>
                    <apex:column styleClass="tableColText" headerValue="Unit Driver" title="Unit Driver">
                        <apex:outputLabel value="{!obj.unitDriver}"/>
                    </apex:column>
                    <apex:column styleClass="tableColNumber"  footerClass="tableColNumber"  headerClass="tableHeaderRight" title="# of Contracted Units"> 
                        <apex:facet name="header"># of Contracted<br />Units</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.noOfUnits}" />
                        </apex:outputText>
                        <input type="hidden" value="{!obj.noOfUnits}" data-sfid="{!obj.Id}" data-type="contractUnit"/>
                       <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"  > 
                                   <apex:param value="{!LiWrappers3[0].noOfUnits}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                    </apex:column>                       
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber"  headerClass="tableHeaderRight" headerValue="Unit Cost" title="Unit Cost">
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.unitCost}" />
                        </apex:outputText>
                        <!--<apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].unitCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>-->
                    </apex:column>   
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber"  headerClass="tableHeaderRight" headerValue="Total Cost" title="Total Cost">
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.totalCost}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}" > 
                                   <apex:param value="{!LiWrappers3[0].totalCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber" headerClass="tableHeaderRight" title="Amendment Incremental CO #of Units">
                        <apex:facet name="header">Amendment Incremental<br />CO #of Units</apex:facet>
                        <span id="view" data-sfid="{!obj.Id}">
                            <apex:outputText value="{0,number,##,##,##,##0.00}"  >
                                <apex:param value="{!obj.amendIncremental}" />
                            </apex:outputText> 
                        </span>
                         <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].amendIncremental}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                        <input id="edit" type="text" value="{!obj.amendIncremental}" class="displayNone" data-sfid="{!obj.Id}" data-type="counits"/>                 
                    </apex:column>                        
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber"  headerClass="tableHeaderRight" title="Amendment Unit Cost"> 
                        <apex:facet name="header">Amendment <br />Unit Cost</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.amendUnitCost}" />
                        </apex:outputText>
                        <!--<apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].amendUnitCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>-->
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber" headerClass="tableHeaderRight" title="Amendment Total Cost"> 
                        <apex:facet name="header">Amendment <br />Total Cost</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.amendTotalCost}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].amendTotalCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                    </apex:column>
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber" headerClass="tableHeaderRight" title="Revised #of Units">
                    <apex:facet name="header">Revised<br />#of Units</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.revisedNoUnits}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].revisedNoUnits}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                    </apex:column>                      
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber" headerClass="tableHeaderRight" title="Revised Unit Cost">
                    <apex:facet name="header">Revised<br />Unit Cost</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.revisedUnitCost}" />
                        </apex:outputText>
                        <!--<apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].revisedUnitCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>-->
                    </apex:column>   
                    <apex:column styleClass="tableColNumber" footerClass="tableColNumber"  headerClass="tableHeaderRight" title="Revised Total Cost">
                        <apex:facet name="header">Revised<br />Total Cost</apex:facet>
                        <apex:outputText value="{0,number,##,##,##,##0.00}">
                            <apex:param value="{!obj.revisedTotalCost}" />
                        </apex:outputText>
                        <apex:facet name="footer" >
                               <apex:outputText value="{0,number,##,##,##,##0.00}"> 
                                   <apex:param value="{!LiWrappers3[0].revisedTotalCost}" />                     
                               </apex:outputText>                           
                        </apex:facet>
                    </apex:column>  
                     
                </apex:pageBlockTable>
                <script type="text/javascript">
                    var idResultTable = '{!$Component.searchResultID}';
                    $("div#container").find("input[type=checkbox][data-val=true]").attr("checked", true);
                </script>
            </apex:pageBlock>
        </apex:pageBlock>  
        <script type="text/javascript">               
            //Execute CO 
            function getExecuteCO() {
                var CO_ID = "{! Change_Order__c.ID }";    // first check to see if this change order contains duplicate combo codes 
                PRA_ChangeOrderDisplayModifyController.ComboCodeValid( CO_ID, function(result, event){
                    if (result != "passed") {
                        alert( result );
                    } else {  // no duplicates 
                        input_box = confirm("Are you sure you want to execute this change order");
                        if (input_box == true) { 
                            execute();
                        } else {         
                            // Cancel is clicked 
                            return false;
                        }  
                    }
                }, {escape:false});
            }
              
            //Export To Excel          
            function getExporttoExcel(){
                var coName=window.prompt("Name this CO Excel Sheet");
                if (coName != null) {
                    $('input[id$="ExcelName"]').val(coName);
                    return true;
                } else {
                    return false;
                }
            }
                        
            //Clone Change Order 
            function getCloneChangeOrder() {
                
                var coName=window.prompt("Name this Cloned Change Order");
                if (coName != null) {
                    $('input[id$="CloneCOName"]').val(coName);
                    return true;
                } else {
                    return false;
                }
                                  
            }
                  
            // Click on Confirm All checkbox 
            $("input#confAllId").on("click", function(event){
                //Get hold of the target 
                $tgt = $(event.target);
                if($tgt.attr("checked")=="checked") { // if the confirm all is checked then check all 
                    $(":input:visible:not(:checked)[data-type=conf]").each(function(){
                        $(this).prop("checked", true);
                    });
                } 
                
                if($tgt.attr("checked")!="checked") { // if the confirm all is unchecked then uncheck all 
                    $(":input:visible(:checked)[data-type=conf]").each(function(){
                        $(this).prop("checked", false);
                    });
                }
                
                // Prevent from bubling 
                stopPropagation(event);
                return false;
            });
                    
            // Click on Edit button 
            $("input#editButton").on("click", function(event){
                
                $("span[id='view']:visible").each(function(){
                    $(this).hide();
                    var inp = $(":input[id='edit'][data-sfid='" + $(this).data('sfid') + "']");
                    inp.removeClass('displayNone');
                    inp.attr("data-old", ''+inp.val());
                });
                
                // Hide the pagination controls 
                $("div.dataTables_wrapper div.dataTables_paginate").hide();
                
                // Enable checkboxes 
                $(":input[data-type='conf']:visible").removeAttr('disabled');
                $(":input[data-type='counits']:visible").removeAttr('disabled');
                
                // Enable the confirm all button 
                $(":input[id='confAllId']").removeAttr("disabled");
                
                // Switch the buttons 
                $("input#saveButton").removeClass('displayNone');
                $("input#cancelButton").removeClass('displayNone');
                $(esc(CloneChangeOrderButtonId)).hide();
                $("input#ExecuteChangeOrder").hide();
                $("input#AddNewClient").hide();                               
                $(this).hide();
                //Hide the export to excel button 
                $(esc(exportToExcelButtonId)).hide();
                $(esc(AddNewClientButtonId)).hide();
                $(esc(RefreshButtonId)).hide();
                $(esc(deleteButtonId)).hide();  
            });
            var deleteRecords;
            
            // Click on Save button 
            $("input#saveButton").on("click", function(event) {
                var doSave = true;
                var errorMsg = 'The contracted number of units plus the amended number of units must be 0 or more. Please update the following units: ';
                updatedChangeOrders = new Array(0);
                deleteChangeOrders = new Array(0);
                $(":input[id='edit']:visible").each(function() {
                    
                    // Getting the Conf value 
                    var valConf = ($(":input[data-type='conf'][data-sfid='" + $(this).data('sfid') + "']").attr("checked")=="checked");
                    var contracted = $(':input[data-type="contractUnit"][data-sfid="' + $(this).data('sfid') + '"]').val();
                    var unitNo = $(':input[data-type="unitNo"][data-sfid="' + $(this).data('sfid') + '"]').val();
                    var sfdcId = $(this).data("sfid");
                    var counitVal = $(this).val();
                    
                    if((parseInt(contracted,10) + parseInt(counitVal,10)) < 0) {
                        doSave = false;
                        errorMsg += unitNo + ',';
                    }
                    
                    if(valConf == true) {
                        var changeOrderObj = {
                            id : sfdcId
                        };
                        deleteRecords=true;
                        deleteChangeOrders.push(changeOrderObj);
                    } else {
                        // add record to list of updated units sended by Ajax 
                        var updatedChangeOrderObj = {
                            id : sfdcId,
                            Amendment_CO_Number_of_Units__c : counitVal,
                        };
                        updatedChangeOrders.push(updatedChangeOrderObj);                     
                    }
                });         
                if(deleteRecords!=null && deleteRecords==true){
                    PRA_ChangeOrderDisplayModifyController.deleteChangeOrders(deleteChangeOrders, function(result, event){
                        if(event.type == 'exception')
                            alert(event.message);
                    });
                }
                // End Edit mode and switch to view Mode 
                if(doSave) {
                    PRA_ChangeOrderDisplayModifyController.updateChangeOrders(updatedChangeOrders, function(result, event) {
                        if(event.type == 'exception') {
                            alert(event.message);
                        } else {
                            ModalPopups.Indicator("idProcessIndicator",  
                                "Please wait",  
                                "<div style=''>" +   
                                "<div style='float:left;'><img src='{!$Resource.modelpopup}/0.1/spinner.gif'></div>" +   
                                "<div style='float:left; padding-left:10px;'>" +   
                                "Processing your request... <br/>" +   
                                "</div>",   
                                {  
                                    width: 300,  
                                    height: 100  
                                }  
                            );  
                            setTimeout('ModalPopups.Close(\"idProcessIndicator\");', 5000); 
                             // Switch the buttons 
                            $("input#saveButton").hide();
                            $("input#cancelButton").hide();
                            $("input#editButton").show();
                            $(esc(CloneChangeOrderButtonId)).show();
                            $("input#ExecuteChangeOrder").show();
                            $("input#AddNewClient").show();                
                            $(esc(exportToExcelButtonId)).show();   
                            $(esc(AddNewClientButtonId)).show(); 
                            $(esc(RefreshButtonId)).show(); 
                            $(this).hide();
                            location.reload();
                        }
                    });
                } else {
                    errorMsg = errorMsg.substring(0, errorMsg.length - 1);
                    alert(errorMsg);
                }
            });
            
            // Click on Cancel button 
            $("input#cancelButton").on( "click",  function(event){
                var isValueChanged = false;
                $(":input[id='edit']:visible").each(function(){
                    if($(this).val() != $(this).data("old")) {
                        isValueChanged = true;
                        return;
                    }
                });
                
                if(isValueChanged) {
                    var conf = confirm("Some of the values on this page have changed. Click OK to continue without saving. Click Cancel to go back to your changes.");
                    if(!conf) {
                        return;
                    } 
                }
                
                // Revert to the old values 
                $(":input[id='edit']:visible").each(function(){
                    // Storing the value before Edit for the Cancel 
                    $(this).val(parseFloat($(this).data("old")).toFixed(2));
                    // Switch to View mode 
                    $("span[id='view'][data-sfid='" + $(this).data('sfid') + "']").show();
                });
                $(":input[id='edit']:visible").addClass('displayNone');
                
                // Disable the confirm all checkbox 
                $(":input[id='confAllId']").attr("disabled", true);
                
                // Disable checkboxes 
                $(":input[data-type='conf']:visible").attr('disabled', 'disabled');
                $(":input[data-type='counits']:visible").attr('disabled', 'disabled');
                
                $(":input[data-type='conf']:visible").each(function(){
                  $(this).prop("checked", false);
                });
                
                $(":input[data-type='confAll']:visible").each(function(){
                    $(this).prop("checked", false);
                });
                
                // Show the pagination controls 
                $("div.dataTables_wrapper div.dataTables_paginate").show();                 
                
                // Switch the buttons 
                $("input#saveButton").addClass('displayNone');
                $("input#cancelButton").addClass('displayNone');
                $("input#editButton").show();
                $(esc(CloneChangeOrderButtonId)).show();
                $("input#ExecuteChangeOrder").show();
                $("input#AddNewClient").show();               
                $(esc(exportToExcelButtonId)).show();
                $(esc(AddNewClientButtonId)).show();
                $(esc(RefreshButtonId)).show();
                $(this).addClass('displayNone');
                $(esc(deleteButtonId)).show();  

            });
            var myDataString3 ="{!status}";
            
            $(esc(idResultTable)).dataTable({
                "bFilter": false,
                "bLengthChange": false,
                "iDisplayLength": 25,
                "aaSorting": [ [1,'asc'] ]
            });
            function esc(myid) {
                return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
            }           
        </script>
        <apex:actionFunction action="{!ExecuteCO}" name="execute"  /> 
    </apex:form>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />
</apex:page>