<apex:page id="actionTabPage" showHeader="true" title="PRAFIT App - Actions List" tabStyle="PRAFIT_Action__c">
    <apex:enhancedList type="PRAFIT_Action__c" height="725" rowsPerPage="25" id="PRAFITActionList" />
</apex:page>