<apex:page standardController="WFM_Project__c" extensions="RM_ViewProjectControllerExt" cache="true" contentType="application/vnd.ms-excel#Project Assignments for {!proj.name}.xls" language="en-US" >
<apex:pageblock >
<apex:pageBlockSection >
   <apex:pageBlockTable value="{!Assignments}" var="a" border="1"> 
    	
        <apex:column headerValue="Name" value="{!a.resouce_name}"> 
        </apex:column>
         <apex:column headerValue="Lead" value="{!a.IsLead}" >
        </apex:column>         
        <apex:column headerValue="Role" value="{!a.role}">
        </apex:column>
         
         <apex:column headerValue="PSSV" value="{!a.pssv}" >
        </apex:column>  
         <apex:column headerValue="UnBL" value="{!a.Unblinded}" >
        </apex:column>          
        <apex:column headerValue="Country" value="{!a.countryCap}">
        </apex:column>
        
        <apex:column headerValue="BUF" value="{!a.bufCode}"> 
        </apex:column>
        
        <apex:column headerValue="Status" value="{!a.status}">
        </apex:column>
        <apex:column headerValue="Type" value="{!a.assign_type}">
        </apex:column>
        <apex:column headerValue="Start" value="{!a.allStartDate}">
        </apex:column>
        <apex:column headerValue="End" value="{!a.allocationDate}" >
        </apex:column>
         <apex:column headerValue="{!MonthLab[0]}" value="{!a.Month[0]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[1]}" value="{!a.Month[1]}" rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[2]}" value="{!a.Month[2]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[3]}" value="{!a.Month[3]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[4]}" value="{!a.Month[4]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[5]}" value="{!a.Month[5]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[6]}" value="{!a.Month[6]}"  rendered="{!bVisHr}">
        </apex:column>
         <apex:column headerValue="{!MonthLab[7]}" value="{!a.Month[7]}"  rendered="{!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[8]}" value="{!a.Month[8]}"  rendered="{!bVisHr}">
        </apex:column>
        
        <apex:column headerValue="{!MonthLab[0]}" value="{!a.MonthFTE[0]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[1]}" value="{!a.MonthFTE[1]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[2]}" value="{!a.MonthFTE[2]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[3]}" value="{!a.MonthFTE[3]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[4]}" value="{!a.MonthFTE[4]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[5]}" value="{!a.MonthFTE[5]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[6]}" value="{!a.MonthFTE[6]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[7]}" value="{!a.MonthFTE[7]}" rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="{!MonthLab[8]}" value="{!a.MonthFTE[8]}"  rendered="{!!bVisHr}">
        </apex:column>
        <apex:column headerValue="Business Unit" value="{!a.bu}" rendered="{!(if(displayType=='Resource',true,false))}">
        </apex:column>    
                 
    </apex:pageBlockTable><br/>  
</apex:pageBlockSection>
</apex:pageblock>
</apex:page>