<apex:page sidebar="false" controller="RM_EmployeeDetailsController" showHeader="false" readonly="false" cache="false" tabStyle="WFM_Project__c">
    <head><title>{!empl.Full_Name__c}</title>
      <apex:styleSheet value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/styles/jqx.base.css')}" />
      <apex:styleSheet value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/styles/jqx.pra.css')}" /> 
       
       <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/scripts/jquery-1.10.2.min.js')}"  />  
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxcore.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxsplitter.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxbuttons.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxscrollbar.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxpanel.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxtree.js')}"  /> 
      <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxresponse.js')}"  /> 
       
      
       <apex:stylesheet value="{!$Resource.RM_Style}"/> 

      <script type="text/javascript"> 
         var boolvar = {!bNewAssignment};          
         var destLink =''; 
         var j$ = jQuery.noConflict();         
        j$(document).ready(function () {            
            var theme = "pra"; 
            var source = [
                { id: "{!empl.id}", value: "rm_viewResource?id={!empl.id}", label: "{!empl.Full_Name__c}", icon:"{!URLFOR($Resource.JQwidgets, '/images/folder.png')}",  expanded: true, selected: true, items: [
                    { label: "Assignments" , value: "rm_viewassignments?id={!empl.id}&idType=Resource&displayType=Project", icon:"{!URLFOR($Resource.RM_Images,'Assignment.png')}", expanded: true, items:[
                        {label: "Add Assignments", value: "rm_ManualAssignment?eid={!empl.id}"}
                    ]},
                    { label: "Allocation Review", value: "rm_employeeAllocation?id={!empl.id}", icon:"{!URLFOR($Resource.RM_Images,'stackNote.png')}"},
                    { label: "Availability", value: "RM_AdjustAvailability?id={!empl.id}", icon:"{!URLFOR($Resource.RM_Images,'timesheet.png')}"},
                    
                    
                    { label: "Work History", value: "rm_employeeWorkHistory?id={!empl.id}", icon:"{!URLFOR($Resource.RM_Images,'finishedwork.png')}" }
                 ]
                }
                
                
            ];
            
            var response = new j$.jqx.response();
            var device = response.device;           
            var screenWidth = device.width;
            var screenHeight = device.height; 
            
            var top = 486;
            if ('{!bNewAssignment}' == 'false'){
               // alert('{!bNewAssignment}');
                top = 340;
            }             
            j$('#jqxTree').jqxTree({ source: source, theme: theme, height: '100%', width: '100%' });           
            j$('#mainSplitter').jqxSplitter({ width: '100%', height: screenHeight-230, theme: theme, panels: [{ size: 170 }]  });  
            j$('#firstNested').jqxSplitter({ width: '100%', height: '100%', theme: theme, orientation: 'horizontal', panels: [{ size:top, collapsible: true}] });      
            j$("#ContentPanel").html("<iframe src='/apex/rm_viewResource?id={!empl.id}' width='100%' height='100%' ></iframe> ");       
           // j$("#ContentPanel").html("<iframe src='/apex/RM_AdjustedAvailability?id={!empl.id}' width='100%' height='100%' ></iframe> ");       
            
            var treeItems = j$("#jqxTree").jqxTree('getItems');
            //alert({!bNewAssignment});
            if ('{!bNewAssignment}' == 'false'){
                
                var ItemNote = treeItems[2];
                if (ItemNote.label = 'Add Assignments'){
                    j$('#jqxTree').jqxTree('disableItem', ItemNote);                    
                    
                }
            }
            
            j$('#jqxTree').on('select', function (event) {
                
                var args = event.args;
                var item = j$('#jqxTree').jqxTree('getItem', args.element);
                var label = item.label; 
                //alert(item.value);
                var parentItem = item.parentElement;            
            
                
                if (item.value!= null){
                    
                    if (item.value.indexOf('viewResource') > 0){                        
                          j$('#firstNested').jqxSplitter('expand');
                          fnexpand();                   
                    }
                    
                    else{                       
                         j$('#firstNested').jqxSplitter('collapse');
                         j$('#firstNested').on('expanded', function (event) {
                            j$('#firstNested').jqxSplitter({panels: [{ size: 340 }, { size: 500}] }); 
                                
                        });                         
                    }
                    if (!item.disabled){ 
                        if (label =='Add Assignments'){
                             var win=window.open('/apex/' + item.value, '_blank');
                            win.focus();
                            
                        }
                        
                        else {
                            j$("#ContentPanel").html("<iframe src='/apex/"+ item.value + "' width='100%' height='100%' border='0' ></iframe> ");
                        }
                    }       
                }
            });
            function fnexpand(){
            if ('{!bNewAssignment}' == 'false'){
            //alert('hsdkjhfkjsd'+{!bNewAssignment});
                j$('#firstNested').jqxSplitter({panels: [{ size: 340 },{ size: 340 }] });
                } else{
                j$('#firstNested').jqxSplitter({panels: [{ size: 495 },{ size: 340 }] });
                }        
            } 
            
        });
           
       </script>
   </head>
   <apex:sectionHeader title="Resource Details" subtitle="{!empl.Full_Name__c}"  ></apex:sectionHeader>   
<body class='default'>
    <div id='jqxWidget'>        
        <div id="mainSplitter"> 
            <div class="splitter-panel">                
                         
                <div style="border: none;" id='jqxTree'>                
                          
                </div>
            
            </div>            
            <div class="splitter-panel2">                
                <div id="firstNested">                        
                      <div> 
                      <c:RM_EmployeeInfo emplRID="{!$CurrentPage.parameters.id}" id="EInfo"/>
                      </div>                      
                    <div id="ContentPanel">                           
                          <span>Main</span>
                        <!--<apex:iframe src="{!destLink}" scrolling="false" id="MyIframe"/>  -->
                    </div>                    
                </div>
            </div>          
                              
                
               
        </div>    
    </div>
</body>
</apex:page>