<apex:page standardController="Help__c" extensions="RM_HelpExt" sidebar="false" showHeader="false" readonly="true" cache="false" >
<apex:pageBlock id="pb" title="Resource Management Help">
    <apex:outputField value="{!Help.Content__c}"/>
</apex:pageBlock>
</apex:page>