<apex:page sidebar="false" showHeader="false" readonly="false" cache="false" >
 <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>  
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"></script>
 <apex:stylesheet value="{!$Resource.RM_Style}">

 
 
 
 <apex:pageBlock >
 	 
 	 <c:RM_ViewAssignmentsComp recordID="{!$CurrentPage.parameters.id}" IDType="Project" startMonth="-3" endMonth="5" DisplayType="Resource" bEdit="false" pgeName="/apex/RM_MyProjectAssignmentDetail?id={!$CurrentPage.parameters.id}@flag=1" id="viewAss"/> 
 </apex:pageBlock>
 
  
  
 </apex:stylesheet>
</apex:page>