<apex:page sidebar="false" controller="RM_ProjectDetailsController" showHeader="false" readonly="false" tabStyle="WFM_Project__c" >
 	<head><title>{!project.name}</title>
	  <apex:styleSheet value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/styles/jqx.base.css')}" />
	  <apex:styleSheet value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/styles/jqx.pra.css')}" /> 
	   
	   <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/scripts/jquery-1.10.2.min.js')}"  />  
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxcore.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxsplitter.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxbuttons.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxscrollbar.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxpanel.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxtree.js')}"  /> 
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/jqwidgets/jqxresponse.js')}"  /> 
	   <apex:stylesheet value="{!$Resource.RM_Style}"/> 

	  <script type="text/javascript">   
	  		var destLink =''; 
		  	 var j$ = jQuery.noConflict();         
		  	 j$(document).ready(function () {            
			  	var theme = "pra"; 
			  			
				var source = null;
	            
					
			  	var response = new j$.jqx.response();
				var device = response.device;			
				var screenWidth = device.width;
				var screenHeight = device.height;
				j$('#jqxTree').jqxTree({ source: source, theme: theme, height: '100%', width: '100%' });           
			  	j$('#mainSplitter').jqxSplitter({ width: '99%', height: screenHeight-170, theme: theme, panels: [{ size: 225 }]  });  
			  	j$('#firstNested').jqxSplitter({ width: '100%', height: '100%', theme: theme, orientation: 'horizontal', panels: [{ size: 135, collapsible: true}] });     
			  	j$("#ContentPanel").html("<iframe src='/apex/rm_siteinfo?id={!project.id}' width='100%' height='100%' ></iframe> ");       
				j$('#jqxTree').jqxTree('addTo', {id: "{!project.id}", label: "{!project.name}", value:"rm_siteinfo?id={!project.id}", icon:"{!URLFOR($Resource.JQwidgets, '/images/folder.png')}", selected: true, expanded: true});	 			
				               //add children
	           	var elementByID = j$('#jqxTree').find("#{!project.id}")[0];
	           
	           	j$('#jqxTree').jqxTree('addTo', {id: "Assignments", label: "Assignments" , value: "rm_viewassignments?id={!project.id}&idType=Project&displayType=Resource", icon:"{!URLFOR($Resource.RM_Images,'Assignment.png')}", expanded: true }, elementByID);
				var assignElementByID = j$('#jqxTree').find("#Assignments")[0];
					j$('#jqxTree').jqxTree('addTo', {label: "Add Assignments" , value: "rm_projectassignments?id={!project.id}"}, assignElementByID);
				
				j$('#jqxTree').jqxTree('addTo', {label: "Planning" , value: "RM_ProjectPlanning?id={!project.id}&name={!project.name}", icon:"{!URLFOR($Resource.RM_Images,'paper.gif')}" }, elementByID);
				j$('#jqxTree').jqxTree('addTo', {id: "allocation", label: "Allocation" , value: "rm_MyProjectRoleChart?id={!project.id}", icon:"{!URLFOR($Resource.RM_Images,'stackNote.png')}"}, elementByID);
				var alloElementByID = j$('#jqxTree').find("#allocation")[0];
				j$('#jqxTree').jqxTree('addTo', {label: "Allocation Chart" , value: "rm_MyProjectAlloChart?id={!project.id}"}, alloElementByID);
				j$('#jqxTree').jqxTree('addTo', {label: "Allocation Detail" , value: "rm_MyProjectAllocation?id={!project.id}"}, alloElementByID);
				//BU
				<apex:repeat value="{!lstBU}" var="b">
					var bu =  "{!b}";
					var buRemoveSpace = "BU_" + bu.split(' ').join('-');
					j$('#jqxTree').jqxTree('addTo', {id: buRemoveSpace, label: "{!b}" ,  icon:"{!URLFOR($Resource.RM_Images,'group.jpg')}" }, elementByID);
					fnPopulateRole(bu, buRemoveSpace);
				</apex:repeat>
				j$('#jqxTree').jqxTree('addTo', {label: "Work History" , value: "rm_projectworkhistory?id={!project.id}", icon:"{!URLFOR($Resource.RM_Images,'finishedwork.png')}" }, elementByID);
				
			   	
           
			  //	var treeItems = j$("#jqxTree").jqxTree('getItems');
			
			  	if ('{!project.status_desc__c}' == 'Closed' || '{!project.status_desc__c}' == 'Lost'){
			  		var treeItems = j$("#jqxTree").jqxTree('getItems');
					var ItemNote = treeItems[2];
					if (ItemNote.label = 'Add Assignment'){
						j$('#jqxTree').jqxTree('disableItem', ItemNote);					
						
					}
			  	}
			  
			  
			  	
			  	j$('#jqxTree').on('select', function (event) {
			  		
			  		var args = event.args;
				   // var item = j$('#jqxTree').jqxTree('getItem', args.element);
				    var item = j$('#jqxTree').jqxTree('getSelectedItem');
				    var label = item.label; 
				   
			  		//alert(item.value);
			  		if (item.value!= null){
				  		if (item.value.indexOf('employee') > 0||item.value.indexOf('viewResource') > 0||item.value.indexOf('Availability') > 0){
				  			//alert("in");
				  			 j$('#firstNested').jqxSplitter('collapse');
				  		}
				  		
				  		else{
				  			 j$('#firstNested').jqxSplitter('expand');
				  		}
				  	//	alert(item.disabled);
				  		if (!item.disabled){ 
					  		if (label =='Add Assignments'){
					  			 var win=window.open('/apex/' + item.value, '_blank');
		  						win.focus();
					  			
					  		}
					  		
					  		else {
					  			j$("#ContentPanel").html("<iframe src='/apex/"+ item.value + "' width='100%' height='100%' border='0' ></iframe> ");
					  		}
				  		}       
				  	}
			  		
			  	});
				
				j$('#jqxTree').on('expand', function (event) {
	                var selectedItem = j$('#jqxTree').jqxTree('getItem', event.args.element);
	              //  alert(bu);
	                var j$element = j$(event.args.element);
	                var loader = false;
	                var loaderItem = null;
	                var children = j$element.find('ul:first').children();
	                var numChildren = children.length;
	               
	                j$.each(children, function () {
	                    var item = j$('#jqxTree').jqxTree('getItem', this);
	                  //  alert(item.label);
	                    if (item && item.label == 'Loading...') {
	                        loaderItem = item;
	                        loader = true;
	                        return false
	                    };
	                   
	                });
	                if (loader) {
	                    j$.ajax({
	                        url: loaderItem.value,
	                        success: function (data, status, xhr) {
	                        	var parentElement = event.args.element.parentElement.parentElement;                
		                    	var parent = j$('#jqxTree').jqxTree('getItem', parentElement);                
		                    	 
		                    	var roleName = selectedItem.label.substring(0, selectedItem.label.lastIndexOf('(')-1);
		                    	var projectID = parent.id.split('_')[0];
		                    	//alert(projectID);
                        		fnPopulateEmployee(roleName, selectedItem, parent.label, loaderItem);
                          
	                        }
	                    });
	                }
	            });
				
			});
	  		
	 		function fnPopulateRole(bu, buID ){
	  		
	  			RM_ProjectDetailsController.getRoleData("{!project.id}", bu, function(result, event){	                        
	                 if (!event.status){ 
	                     if(event.type == 'exception') { 
	                         alert(event.message);                         
	                     }                           
	               	 }
	               	 else{
	               	 	
	               		var role = result;	               		
	               	 	
	               	 	var BUElementByID = j$('#jqxTree').find("#" + buID)[0];
	               	 
	               	 	for(var i = 0; i < role.length; i++) {
	               	 		
	               	 		var roleID = role[i].split(' ').join('_');
	               	 		roleID = roleID.substring(0, roleID.lastIndexOf('(')-1);
	               	 		
               	 			var roleNoteID = bu.split(' ').join('-')+"_"+roleID;
	               	 		j$('#jqxTree').jqxTree('addTo', {id: roleNoteID, label: role[i] ,  value: "rm_myprojectAlloRoleChart?role=" + roleID + "&id={!project.id}&bu="+bu }, BUElementByID);
	               	 		var roleName = role[i].substring(0, role[i].lastIndexOf('(')-1);;
	               	 		var RoleElementByID = j$('#jqxTree').find("#"+ roleNoteID)[0];
		               	 	j$('#jqxTree').jqxTree('addTo', {label: 'Loading...', icon: '/img/loading.gif'}, RoleElementByID);
	               	 		//alert("name --" + roleName + "--bu--" + bu);
	               	 		//fnPopulateEmployee(roleName, bu);
				            
	               	 	}
	               	 	
					}
	            }); 
				
			
	  	} 
	  	function fnPopulateEmployee(roleName, selectedItem, bu, loaderItem){
	  		//alert("role---" + roleName + '---' + bu);
	  		Visualforce.remoting.escape = false;
	  		RM_ProjectDetailsController.getEmplData( "{!project.id}", roleName, bu, function(result, event){	                        
                 if (!event.status){ 
                     if(event.type == 'exception') {
                         alert(event.message);                         
                     }                           
               	 }
               	 else{
               	 	//alert("role---" + roleName + '---' + result);

               	 	for(var i = 0; i < result.length; i++) {
               	 		var emplList = result[i];
               	 		var empl = emplList.split("_");
               	 		//alert(empl);
               	 		j$('#jqxTree').jqxTree('addTo', {id: selectedItem.id + "_" + empl[0], label: empl[1] ,  icon: "{!URLFOR($Resource.RM_Images, 'person.gif')}", value: "rm_viewResource?id=" +  empl[0] + "&info=1" }, selectedItem.element);
               	 		var elementByID = j$('#jqxTree').find("#"+ selectedItem.id + "_" + empl[0])[0];
		             	j$('#jqxTree').jqxTree('addTo', {label: "Assignments" , value: "rm_viewassignments?id=" + empl[0] + "&idType=Resource&displayType=Project", icon:"{!URLFOR($Resource.RM_Images,'Assignment.png')}" }, elementByID);
						j$('#jqxTree').jqxTree('addTo', {label: "Allocation" , value: "rm_employeeAllocation?id=" + empl[0], icon:"{!URLFOR($Resource.RM_Images,'stackNote.png')}"}, elementByID);
						j$('#jqxTree').jqxTree('addTo', {label: "Availability" , value: "rm_adjustAvailability?id=" + empl[0], icon:"{!URLFOR($Resource.RM_Images,'timesheet.png')}" }, elementByID);
						j$('#jqxTree').jqxTree('addTo', {label: "Work History" , value: "rm_employeeWorkHistory?id=" + empl[0], icon:"{!URLFOR($Resource.RM_Images,'finishedwork.png')}" }, elementByID);
							               	 		
							               	 		
               	 	}
               	 	
             	 	j$('#jqxTree').jqxTree('removeItem', loaderItem.element);
				}
            });
	  	}
	   </script>
   </head>
  <apex:sectionHeader title="Project Details" subtitle="{!Project.Name}"  />
<body>
    
	<div id='jqxWidget'>        
		<div id="mainSplitter">            
			<div class="splitter-panel">                
				         
				<div style="border: none;" id='jqxTree'>                
					      
				</div>
	 		
		 	</div>            
			<div class="splitter-panel2">                
				<div id="firstNested">                        
					  <div> 
					  <c:RM_ProjectInfo projectRID="{!$CurrentPage.parameters.id}" id="pInfo"/>                       
						
        			  </div>                      
					<div id="ContentPanel">                           
					 	  <span>Main</span>
					 	<!--<apex:iframe src="{!destLink}" scrolling="false" id="MyIframe"/>  -->
				 	</div>                    
			 	</div>
		 	</div>        
		</div>    
	</div>
</body>
</apex:page>