<apex:page controller="RM_SearchResourcesController" sidebar="false" readonly="false" cache="false" >
    
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.jqueryDatatables,'DataTables/css/jquery.dataTables.css')}" /> 
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>    
    <script type="text/javascript" src=" {!URLFOR($Resource.jqueryDatatables,'DataTables/js/jquery.dataTables.min.js')}"/>
    <apex:stylesheet value="{!$Resource.RM_Style}">  
     
    <apex:form id="frm">     
    <script type="text/javascript">
            var j$ = jQuery.noConflict();  
            j$.fx.speeds._default = 400;
            j$(function() {
                j$("#popup").dialog({
                    autoOpen: false,
                    show: "blind",
                    modal: true,
                    width: 400,
                    height: 175
                });
                j$("[id$=newSearch]").click(function() {
                    
                    j$("#popup").dialog("open");
                });
               j$("[id$=commAddSearch]").click(function() {
                     var searchName=document.getElementById("{!$Component.popupfrm.bpPopup.saveName}").value;
                     if (searchName != ''){
                    j$("#popup").dialog("close");
                    }
                });
                j$("[id$=closeAddDialog]").click(function() {
                     
                    j$("#popup").dialog("close");
                });
             });    
             j$(document).ready(function(){
                j$("Input[id$=date_1]").datepicker({ 
                              
                    changeMonth: true,
                    changeYear: true});
                j$("Input[id$=date_2]").datepicker({ 
                              
                    changeMonth: true,
                    changeYear: true});
               //   j$("#results").hide();
             });
            function popupwindow(){
                //alert("test");
                j$("#popup").dialog("open");
            }
             function jtable(){
                //hideCriteria();
                j$(document).ready(function(){                    
                   
                   //  fnSwitchAva();
                    
                   
                    j$("Table[id$=searchResultID]").show();
                    j$("Table[id$=searchResultID]").dataTable({   
                        
                        "sPaginationType": "full_numbers",
                        "bFilter": true,
                        "iDisplayLength": 25,
                        "aaSorting": [ [1,'asc'] ],
                        "oLanguage": {    "sSearch": "Find  " }   
                                    
                       // "fnDrawCallback": function() {
                       //   fnView();
                       // }
                    } );
                    
                });
             }  
              function fnView(){            
           
                var checkHr=document.getElementById("{!$Component.frm.searchResults.resultpbsID.checkHr}").checked;
                 /*   if (checkHr){
                         for (var i = 6; i <=9; i++)                            
                            oTable.fnSetColumnVis( i, true );                
                         for (var i = 10; i <=13; i++)
                            oTable.fnSetColumnVis( i, false ); 
                    }
                    else{
                         for (var i = 6; i <=9; i++)                            
                            oTable.fnSetColumnVis( i, false );                
                         for (var i = 10; i <=13; i++)
                            oTable.fnSetColumnVis( i, true );             
                    }*/
                // alert('fnView');
                 if (checkHr){
                       j$(".alignRightHr, .alignRightHr").show();
                       j$(".alignRightFTE, .alignRightFTE").hide();
                       j$(".alignRightNegHr, .alignRightNegHr").show();
                       j$(".alignRightNegFTE, .alignRightNegFTE").hide();
                 }
                 else{
                       j$(".alignRightHr, .alignRightHr").hide();
                       j$(".alignRightFTE, .alignRightFTE").show();
                       j$(".alignRightNegHr, .alignRightNegHr").hide();
                       j$(".alignRightNegFTE, .alignRightNegFTE").show();
                 }
                            
             }
              function hideTable(){
                      // twistSection(document.getElementById('{!$Component.frm.searchResults.resultpbsID}').getElementsByTagName('img')[0]);
                    //  j$("#results").hide();
                            
                } 
               function showTable(){
                      // twistSection(document.getElementById('{!$Component.frm.searchResults.resultpbsID}').getElementsByTagName('img')[0]);
                      j$("[id$=searchResults]").show();
                            
                }   
          
          //  $(document).ready(function()
           // {
            //  document.frm.searchOnId.focus();
           // });
           function hideCriteria(){     
                 // alert('test');      
                  twistSection(document.getElementById('{!$Component.frm.searchBlock.pbs}').getElementsByTagName('img')[0]);
            }     
            function fnSwitchAva(){
                document.getElementById("{!$Component.frm.searchResults.resultpbsID.checkHr}").checked = false;
                if (document.getElementById("{!$Component.frm.searchBlock.pbs.pb.availType}").selectedIndex== 1)  // hour
                    document.getElementById("{!$Component.frm.searchResults.resultpbsID.checkHr}").checked = true;
                
                
            } 
            function fnRoles(){
                var ele=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StudyRolesId}").value;
                if(ele=='Clinical Research Associate'){
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").disabled=false;  
                } else {
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").disabled=true;
                }                
            }   
           
            function fnProficiency(){
             var ele=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.proficiency}").checked;
             //alert(ele);
             if(ele==true){
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").disabled=false;
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").disabled=false;
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").disabled=false;
             }else{
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").disabled=true;
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").disabled=true;
               document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").disabled=true;
             }
            }
            function fnSearchText(){
                
                 var inputText=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchText}");
                 if(inputText.value!='' && inputText.value.indexOf('Enter') > -1){
                    inputText.value="";
                    inputText.className="NormalTextBox";
                 }
            }
            function fnReset(){
                //resetVals();
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchText}").value='Enter Last Name';
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchText}").className="WaterMarkedTextBox";
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchOnId}").selectedIndex=0;               
                                
                if("{!lstManagedBU.size}">0){
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.BUId}").selectedIndex=-1;
                    var lstManagedBU = new Array();                              
                    var select=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.BUId}");                
                    var idx=1;
                    <apex:repeat value="{!lstManagedBU}" var="ele">
                        lstManagedBU[idx++]="{!ele}";
                    </apex:repeat>
                    
                    //alert(lstManagedBU);
                    for ( var i = 0, l = select.options.length, o; i < l; i++ )
                    {
                      o = select.options[i];
                      if ( lstManagedBU.indexOf( o.text ) != -1)
                      {
                        o.selected = true;
                        //alert(l);
                        //alert(lstManagedBU.indexOf( o.text ));
                      }
                    }
                }else
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.BUId}").selectedIndex=0;
                
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.statusId}").selectedIndex=0;                   
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.roleId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.subRegionId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.bufCodeId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.funcCodeId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.languageId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.proficiency}").checked=false;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").disabled=true;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").disabled=true;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").disabled=true;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.availType}").selectedIndex=0;                
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value='';
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.theropeticAreaId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.YearOfExpId}").selectedIndex=0;                
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StudyRolesId}").selectedIndex=0;               
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.indicationsId}").innerHTML = "";
               // document.getElementById("{!$Component.frm.searchBlock.pbs.pb.monExperienceId}").value='';
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").checked=false;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minTenureID}").value='';
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.countryId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.RMRegionId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StateId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.termId}").selectedIndex=0;
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.date_1}").value='';
                document.getElementById("{!$Component.frm.searchBlock.pbs.pb.date_2}").value='';
               
                //These are added because when you reset the dependent picklist values are not resetting with default values.
                getroles();
                getCountryByRegion();
                getStateBySubRegion();
                
            }
            
            function fnSearch(){            
                var ele=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.proficiency}").checked;
                if(ele==true && document.getElementById("{!$Component.frm.searchBlock.pbs.pb.languageId}").selectedIndex==0){
                    alert('Please select Language');
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.languageId}").focus();
                    return;
                }
                if(ele==true && document.getElementById("{!$Component.frm.searchBlock.pbs.pb.languageId}").selectedIndex!=0 && 
                    (document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").selectedIndex==0 && 
                     document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").selectedIndex==0 &&
                     document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").selectedIndex==0)){
                    alert('Please select atleast one Proficiency level');
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").focus();
                    return;
                }
            /*    var praVal=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").checked;
                if(praVal==true && document.getElementById("{!$Component.frm.searchBlock.pbs.pb.monExperienceId}").value==''){
                    alert("Please enter the monitoring experience value");
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.monExperienceId}").focus();
                    return;
                }*/
                if((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.indicationsId}").selectedIndex!=-1)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StudyRolesId}").selectedIndex==0)){
                    alert("Please select the Study Role.");
                    document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StudyRolesId}").focus();
                    return false;
                }
                var minAvail=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value;
                var availType = document.getElementById("{!$Component.frm.searchBlock.pbs.pb.availType}").value;
                if(availType == "FTE" && minAvail!=''){
                    if(minAvail.indexOf(".") == 0){minAvail = 0 + minAvail;}
                    if(minAvail!='' && minAvail.length>0){
                        if(!(/^[+]?\d{1,1}(\.\d{1,2})?$/.test(minAvail))){
                            alert("Please enter the minimum availability in the format of x.xx");
                            document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").focus();
                            return false;
                        }
                    }
                    if(minAvail > 1){
                        alert('FTE must be between 0.00 and 1.00');
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value = '';
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").focus;
                        return false;
                    }               
                }
                if(availType == "Hours" && minAvail!=''){
                    if(minAvail.indexOf(".") == 0){minAvail = 0 + minAvail;}
                    if(minAvail!='' && minAvail.length>0){
                        if(!(/^[+]?\d{1,3}(\.\d{1,1})?$/.test(minAvail))){
                            alert("Please enter the minimum Hours availability in the format of xxx.x");
                            document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").focus();
                            return;
                        }
                    }
                    if(minAvail > 190){
                        alert('FTE must be between 0.0 and 190.0');
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value = '';
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").focus;
                        return false;
                    }
                }
                
               
                //var regex = /[0-9]/;
              
               /* var monExp=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.monExperienceId}").value;
                if(monExp!='' && monExp.length>0){
                    if(!(/^[+]?\d{1,2}(\.\d{1,2})?$/.test(monExp))){
                        alert("Please enter the monitoring Experience in the format of 00.00");
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.monExperienceId}").focus();
                        return;
                    }
                }*/
                var minTenure=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minTenureID}").value;
                if(minTenure!='' && minTenure.length>0){
                    if(!(/^[+]?\d{1,2}(\.\d{1,2})?$/.test(minTenure))){
                        alert("Please enter the PRA Tenure Experience in the format of 00.00");
                        document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minTenureID}").focus();
                        return;
                    }
                }
                
                var inputText = document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchText}").value;
                if((inputText==''||inputText.indexOf("Enter") > -1)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.searchOnId}").selectedIndex==0)                    
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.countryId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.countryId}").selectedIndex==0))
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.BUId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.BUId}").selectedIndex==0))
                   
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.statusId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.statusId}").selectedIndex==0))
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.roleId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.roleId}").selectedIndex==0))
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StateId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StateId}").selectedIndex==0))
                    &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.bufCodeId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.bufCodeId}").selectedIndex==0))
                     &&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.funcCodeId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.funcCodeId}").selectedIndex==0))
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.languageId}").selectedIndex==0)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.proficiency}").checked==false)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value=='' || document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minAvailabilityId}").value=='0.0')
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.theropeticAreaId}").selectedIndex==0)&&((document.getElementById("{!$Component.frm.searchBlock.pbs.pb.indicationsId}").selectedIndex==-1)||(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.indicationsId}").selectedIndex==0))
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.YearOfExpId}").selectedIndex==0)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.StudyRolesId}").selectedIndex==0)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").checked==false)
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minTenureId}").value=='' || document.getElementById("{!$Component.frm.searchBlock.pbs.pb.minTenureId}").value=='0.0')                
                    &&(document.getElementById("{!$Component.frm.searchBlock.pbs.pb.date_1}").value==''&&document.getElementById("{!$Component.frm.searchBlock.pbs.pb.date_2}").value=='')){
                
                    alert('Please select one or more criteria before submitting the search');
                   
                    return;
                }else{
                    //alert('Search Text Val :'+document.getElementById("{!$Component.pb.searchText}").value);
                   hideCriteria(); 
                   //   hideTable();
                    search();
                    
                   // fnSwitchAva();
                
                }
            }
            function fnInitialRole(){
            document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyIdInit}").value = document.getElementById("{!$Component.frm.searchBlock.pbs.pb.praOnlyId}").value;               
            }
            function fnSpeak(){
              document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speaking}").value=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.speak}").value;
            }
            function fnWrite(){
              document.getElementById("{!$Component.frm.searchBlock.pbs.pb.writing}").value=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.write}").value;
            }
            function fnTerminology(){
              document.getElementById("{!$Component.frm.searchBlock.pbs.pb.sTerminology}").value=document.getElementById("{!$Component.frm.searchBlock.pbs.pb.terminology}").value;
            }
             function fnLimitEndDate(){
                 var strDate = document.getElementById("{!$Component.frm.searchBlock.pbs.pb.date_1}").value;     
                //alert(strDate);
                j$(function(){
                    j$( "[id$=date_2]" ).datepicker( "option", "minDate", strDate );        
                 
                });
            }
         
         /*   function setDefaultValues(){
                document.getElementById("{!$Component.pb.roleId}").selectedIndex=0;
                document.getElementById("{!$Component.pb.locationsId}").selectedIndex=0;
                document.getElementById("{!$Component.pb.bufCodeId}").selectedIndex=0;
                document.getElementById("{!$Component.pb.availType}").selectedIndex=0;
            }*/
            function fnSaveSearch(){
                var searchName=document.getElementById("{!$Component.popupfrm.bpPopup.saveName}").value;
                var folder = document.getElementById("{!$Component.popupfrm.bpPopup.subId}");
                
                    if (searchName == ''){
                    alert("Please enter the name to save" );
                    
                    return false;
                    
                }
                else{
                    RM_SearchResourcesController.CheckSaveSearch(searchName, folder.options[folder.selectedIndex].value, function(result, event){
                        if (result){
                            if (confirm("Do you want to overwrite the existing saved search?")){
                                saveSearch();
                            }
                        }    
                        else{
                            saveSearch();
                        }                       
                    });
                }
            }
            function noenter(ev)  {
            if (window.event && window.event.keyCode == 13 || ev.which == 13) {
                var savebutton=document.getElementById("{!$Component.popupfrm.bpPopup.commAddSearch}");
                //fnSaveSearch();
                savebutton.click();
                return false;
                } else {
                return true;
                }
            }
             function setFocusOnLoad(){ first.focus();}
            </script>
   
       
        <apex:pageBlock title="Resource Search" id="searchBlock" helpTitle="Help for this Page" helpUrl="apex/rm_help?name=RM_Searchresources">
        <apex:actionStatus startText="Processing..." id="processing">
             <apex:facet name="start">
                   <apex:image value="/img/loading.gif" title="Processing..." width="16" height="16"/>
             </apex:facet>
             <apex:facet name="stop"></apex:facet>
        </apex:actionStatus>            
        <!-- <div id="proc"><apex:image value="/img/loading.gif" title="Processing..." /></div>   -->
        <apex:pageBlockSection columns="1" id="pbs" title="Search Criteria" > 
            <!--   <apex:outputLabel value="{!strSelectedMonth}"/>-->             
            <apex:outputPanel id="criteriaId" >
                <apex:pageBlock id="pb"> 
                    <table width="100%" cellpadding="5">
                        <tr>
                            <td colspan="9">
                                <apex:outputLabel styleClass="title" value="Search by Employee Name, Manager, Project ID, or Client/Sponsor"/>
                            </td>
                        </tr>
                    
                        <tr>
                           <td  class="label" width="20%" >Type</td>
                            <td width="20%">
                                <apex:selectList value="{!searchOn}" multiselect="false" size="1" tabindex="1" id="searchOnId" accesskey="1"  >
                                    <apex:selectOptions value="{!searchOnItems}"/>
                                    <apex:actionSupport action="{!SearchType}" event="onchange" reRender="pbs"/> 
                                </apex:selectList>
                            </td> 
                             
                            <td width="20%">
                                <apex:inputText tabindex="2" styleClass="{!searchTextStyle}" id="searchText" value="{!strSearchText}" style="width:170px"  onclick="javascript:fnSearchText();return false;" onkeydown="javascript:if(event.keyCode==13)fnSearch();">
                                    <c:AutoCompleteComp objectname="{!searchObject}" searchField="{!searchfield}" additionalfield="{!additionalfield}" additionalfilter="{!additionalfilter}" autocomplete_textbox="{!$Component.searchText}" />
                                    <apex:inputHidden value="{!selSearch}" id="searchText_lkold"/> 
                                </apex:inputText>
                            </td>
                         
                            <td colspan="6" align="right" width="40%">
                                <apex:commandButton value="Submit Search" tabindex="3" status="processing" onclick="javascript:fnSearch();return false;" reRender="searchResults"/>&nbsp;&nbsp;
                                <apex:commandButton value="Reset" tabindex="4" title="Clears all search options to perform new search" alt="this tooltip" onclick="javascript:fnReset();return false;"/>&nbsp;&nbsp;

                               <!-- <apex:commandButton value="Back" action="/apex/RM_SearchPage"/>-->
                               <!--   <apex:actionFunction action="{!resetVals}" name="resetVals" rerender="viewer"/>-->
                            </td>   
                        </tr>
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle"><apex:outputLabel styleClass="title" value="Search Criteria for Resources"/></td>
                            <td colspan="8">
                                <i><apex:outputLabel value="Select one or more Search Criteria to view a list of matching Resources"/></i>
                            </td>
                        </tr>
                        
                        <tr>
                            <td valign="middle" class="label">Business Unit</td>
                            <td >
                                <apex:selectList value="{!selectedBusinessUnit}" tabindex="5" multiselect="true" size="8" style="width:300px" id="BUId" >
                                    <apex:selectOptions value="{!BusinessUnit}"/>
                                    <apex:actionSupport action="{!getJobClassWithBU}" event="onchange" reRender="RoleId" />
                                </apex:selectList>
                            </td>
                        
                           
                            <td valign="middle" class="label">Role(s)</td>
                            <td colspan="6">
                                <apex:selectList value="{!selectedRoles}" tabindex="6" multiselect="true" size="8" style="width:220px" id="RoleId" >
                                    <apex:selectOptions value="{!jobClass}"/>
                                </apex:selectList>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                         <tr>
                            <td valign="middle" class="label">BUF Code(s)</td>
                            <td valign="middle" colspan="8">
                                <apex:selectList value="{!selectedCodes}" tabindex="7" multiselect="true" size="5" style="width:125px" id="bufCodeId" >
                                     <apex:selectOptions value="{!codes}"/>
                                </apex:selectList>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <apex:selectList value="{!selectedFuncCodes}" tabindex="8" multiselect="true" size="5" style="width:125px" id="funcCodeId" >
                                     <apex:selectOptions value="{!FuncCodes}"/>
                                </apex:selectList>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" class="label">Region</td>
                            <td >
                                <apex:selectList value="{!selectedRMRegion}" tabindex="9" multiselect="true" size="5" style="width:300px" id="RMRegionId" >
                                     <apex:selectOptions value="{!RMRegion}"/>
                                     <apex:actionSupport action="{!getCountryByRegion}" event="onchange" reRender="countryId" />
                                </apex:selectList>
                            </td>
                            <td valign="middle" class="label">Country(s)</td>
                            <td colspan="6">
                                <apex:selectList value="{!selectedCountry}" tabindex="10" multiselect="true" size="5" style="width:220px" id="countryId" >
                                     <apex:selectOptions value="{!lstCountry}"/>
                                </apex:selectList>   
                            </td>
                        </tr>
                    
                       <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" class="label">Sub-Region</td>
                            <td>
                                <apex:selectList value="{!selectedSubRegion}" tabindex="11" multiselect="true" size="5" style="width:300px" id="subRegionId" >
                                     <apex:selectOptions value="{!SubRegion}"/>
                                     <apex:actionSupport action="{!getStateBySubRegion}" event="onchange" reRender="StateId" />
                                </apex:selectList>
                            </td>
                            <td valign="middle" class="label">State/Province</td>
                            <td colspan="8">
                                <apex:selectList value="{!selectedState}" tabindex="12" multiselect="true" size="5" style="width:220px" id="StateId" >
                                     <apex:selectOptions value="{!lstState}"/> 
                                </apex:selectList>
                            </td>
                        </tr>
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                        <tr>
                            <td valign="middle" class="label">Status</td>
                            <td colspan="8">
                                <apex:selectList value="{!selectedStatus}" tabindex="13" multiselect="true" size="5" style="width:300px" id="statusId">
                                    <apex:selectOptions value="{!status}"/>
                                </apex:selectList>
                            </td>
                        </tr>   
                        
                    
                         
                        <tr >
                            <td class="label" valign="middle">Language</td>
                            <td>
                                <apex:selectList value="{!strLanguage}" tabindex="14" multiselect="false" size="1" style="width:160px" id="languageId" >
                                     <apex:selectOptions value="{!items}"/>
                                </apex:selectList>
                            </td>
                            <td valign="middle" class="labelLeft">
                                <apex:inputCheckbox value="{!blnLangProficiency}" tabindex="15" onchange="javascript:fnProficiency();" id="proficiency"/>Include resource if Proficiency level is
                            </td>
                            <td  class="label" valign="middle"><apex:outputLabel value="Speaking"/></td>
                            <td>
                                <apex:selectList multiselect="false" size="1" tabindex="16" disabled="{!!blnLangProficiency}" id="speak" onchange="javascript:fnSpeak();" value="{!strSpeaking}" >
                                    <apex:selectOptions value="{!proficiencyitems}"/>
                                </apex:selectList>
                                <apex:inputHidden value="{!strSpeaking}" id="speaking"/>
                            </td>
                            <td class="label" valign="middle"><apex:outputLabel value="Writing"/></td>
                            <td>
                                <apex:selectList value="{!strWriting}" tabindex="17" multiselect="false" size="1" disabled="{!!blnLangProficiency}" id="write" onchange="javascript:fnWrite();" >
                                     <apex:selectOptions value="{!proficiencyitems}"/>
                                </apex:selectList>
                                <apex:inputHidden value="{!strWriting}" id="writing"/>
                            </td>
                            <td valign="middle" class="label"><apex:outputLabel value="Medical Terminology"/></td>
                            <td>
                                <apex:selectList value="{!strMedical}" tabindex="18" multiselect="false" size="1" disabled="{!!blnLangProficiency}" id="terminology" onchange="javascript:fnTerminology();">
                                     <apex:selectOptions value="{!proficiencyitems}"/>
                                </apex:selectList>
                                <apex:inputHidden value="{!strMedical}" id="sTerminology"/> 
                            </td>
                        </tr>
                     
                        <tr >
                            <td class="label" valign="middle">Availability</td>
                            <td colspan="8" class="labelLeft">
                                <apex:selectList value="{!strAvailLevel}" tabIndex="19" multiselect="false" size="1" id="availLevel"  >
                                    <apex:selectOptions value="{!availabilityLevels}"/>
                                </apex:selectList>
                                <apex:outputLabel value="Availability of"/> &nbsp;
                                <apex:inputText value="{!dblMinAvailability}" tabindex="20" style="width:30px" id="minAvailabilityId"/>&nbsp;&nbsp;
                                <apex:selectList value="{!strAvailType}" tabIndex="21" multiselect="false" size="1" id="availType"  >
                                    <apex:selectOptions value="{!availabilityItems}"/>
                                </apex:selectList>&nbsp;&nbsp;
                                <!--<apex:outputLabel value=" per month (for the current and next five months)"/>-->
                                <apex:outputLabel value=" per month beginning"/>&nbsp;  
                                <apex:selectList value="{!strselectedMonth}" tabIndex="22" multiselect="false" size="1" id="availMonthlist"  >
                                    <apex:selectOptions value="{!MonthlabList}"/>
                                </apex:selectList>&nbsp;&nbsp;
                                <apex:outputLabel value=" and next"/>&nbsp;
                                <apex:selectList value="{!strselectmoreMonth}" tabIndex="23" multiselect="false" size="1" id="availMonthmore"  >
                                    <apex:selectOptions value="{!MonthmoreList}"/>
                                </apex:selectList>&nbsp;&nbsp;
                                <apex:outputLabel value=" Months"/>
                            </td>
                        </tr>                        
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                         </tr>
                        <tr>
                            <td class="label"><apex:outputLabel value="Therapeutic Area & Indication"/></td>
                            <td colspan="8">
                                <apex:selectList value="{!strTheropeticArea}" tabindex="24" multiselect="false" size="1" style="width:160px" id="theropeticAreaId" >
                                     <apex:selectOptions value="{!theropeticAreas}"/>
                                     <apex:actionSupport action="{!getIndicationsBasedOnTheropeticArea}" event="onchange" reRender="indicationsId,StudyRolesId,YearOfExpId" status="fetching"/>
                                </apex:selectList>                              
                                &nbsp;&nbsp;<apex:actionStatus id="fetching" startStyle="color:#ff0000;font-size:12px;font-weight:bold" startText="Fetching Indications...."/>
                                &nbsp;<apex:outputLabel value="and Years of Experience" styleclass="label"/> &nbsp;&nbsp;                           
                                    <apex:selectList value="{!selectedYearOfExp}" tabindex="25" multiselect="false" size="1" style="width:90px" id="YearOfExpId" >
                                     <apex:selectOptions value="{!YearOfExp}"/>
                                     <!-- <apex:actionSupport action="{!getIndicationsBasedOnTheropeticArea}" event="onchange" reRender="indicationsId" status="fetching"/>-->
                                </apex:selectList>                                
                                &nbsp;<apex:outputLabel value="in Study Role(s)" styleclass="label"/> &nbsp;&nbsp;                                
                                <apex:selectList value="{!selectedinStudyRoles}" tabindex="26" multiselect="false" size="1" style="width:210px" id="StudyRolesId" onchange="javascript:fnRoles();" >
                                <!--<apex:selectList value="{!selectedinStudyRoles}" tabindex="24" multiselect="false" size="1" disabled="{!blnInStudyRole}" style="width:220px" id="StudyRolesId" >-->
                                     <apex:selectOptions value="{!listinStudyRole}" />
                                     <apex:actionSupport action="{!getIndicationsBasedOnTheropeticArea}" event="onchange" reRender="indicationsId,StudyRolesId,YearOfExpId" />
                                     <apex:actionSupport event="onchange" reRender="YearOfExpId" />
                                </apex:selectList> 
                                &nbsp;&nbsp;&nbsp;&nbsp;<apex:inputCheckbox disabled="true" value="{!blnPraOnly}" tabindex="27" id="praOnlyId" onchange="javascript:fnInitialRole();"/><apex:outputLabel styleClass="label" value="PRA Only"/>                                                                                          
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="8">
                                <apex:selectList value="{!selectedIndications}" tabindex="28" multiselect="true" size="5" style="width:380px" id="indicationsId" >
                                     <apex:selectOptions value="{!Indications}"/>
                                </apex:selectList>
                            </td>
                        </tr>                     
                        <tr>
                            <td colspan = "9">
                                <hr color="#DCDCDC"></hr>
                            </td>
                        </tr>
                         <tr >
                            <td class="label" valign="middle">PRA Tenure</td>
                            <td colspan="8" class="labelLeft"><apex:outputLabel value="Minimum"/> &nbsp;
                                <apex:inputText value="{!dblMinTenure}" tabindex="29" style="width:30px" id="minTenureId"/>&nbsp;&nbsp;
                               
                                <apex:outputLabel value=" Years at PRA"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="label">Employment</td>
                            <td colspan="8" class="labelLeft"><apex:outputLabel value="List employees with a "/>&nbsp;
                                <apex:selectList value="{!selectedTerm}" tabindex="30" multiselect="false" id="termId" size="1" >
                                     <apex:selectOptions value="{!terms}"/>
                                </apex:selectList>&nbsp;&nbsp;
                                <apex:outputLabel value="  Date between  "/> &nbsp;&nbsp;<apex:inputText onchange="javascript:fnLimitEndDate();return false;" value="{!startDate}" id="date_1" tabindex="31" /> &nbsp;&nbsp;
                                <apex:outputLabel value=" and  "/>&nbsp;&nbsp; <apex:inputText value="{!EndDate}" id="date_2" tabindex="32" />
                                
                            </td>
                        </tr>
                        <tr><td colspan="9">&nbsp;</td></tr>
                        <tr>
                         <script>
                         var params = location.search;
                         var activeSearch = params.indexOf('cid');
                         if(activeSearch == -1)
                         fnReset();
                         </script>
                            <td align="right" colspan="9">
                                <apex:commandButton value="Submit Search" tabindex="33" reRender="searchResults" onclick="javascript:fnSearch();return false;"/>&nbsp;&nbsp;
                                <apex:commandButton value="Reset" tabindex="34" title="Clears all search options to perform new search" alt="this tooltip" onclick="javascript:fnReset();return false;" />
                           
                            </td>
                        </tr>
                    </table><br/><hr color="steelblue"/>
                             
                </apex:pageBlock>
           </apex:outputPanel> 
           </apex:pageBlockSection>
          
             
       
            
        </apex:pageBlock>
       
        <div id="results">
        
        <apex:pageBlock title="Search Results"  id="searchResults" >
         
        <apex:pageBlockButtons rendered="{!showResultsTable}">
        <td align="right" width="45%">
         <apex:commandButton action="{!exportExcel}" value="Export Results"/>&nbsp;&nbsp;
         <apex:commandButton value="Save Search" id="newSearch" onclick="javascript:popupwindow(); return false;"  rerender="popup"/>&nbsp;&nbsp;
         <!--<apex:commandButton value="Back" action="/apex/RM_SearchPage"/>-->
         </td>
        </apex:pageBlockButtons>
       
         <apex:pageMessage summary="No Records Found" strength="3" severity="info" rendered="{!showMessage}"/>
             <apex:pageMessage summary="The result contains too many records. Please refine your search criteria and run the search again." strength="3" severity="info" rendered="{!showerror}"/>
            
             <apex:actionStatus startText="Retrieving Records....."  startStyle="color:#ff0000;font-size:12px;font-weight:bold"  id="searching" >
        </apex:actionStatus>
         
            <apex:pageBlockSection title="Results" rendered="{!showResultsTable}" id="resultpbsID" columns="1">
            
            
           <!--   <apex:outputPanel >
                <table width="100%"> 
                    <tr>                    
                        <td width="100%" align="left">
                            <apex:inputCheckbox value="{!switchAvail}" onclick="javascript:fnView(); return true;" id="checkHr"/>View Availability in Hours
                        </td>
                                                
                             
                    </tr>  
              </table>
            </apex:outputPanel>     
            <br/>--> 
            
            <apex:pageBlockTable rowClasses="oddRow,evenRow" value="{!AllAvails}" var="a" rendered="{!showResultsTable}" width="100%" id="searchResultID" cellpadding="5px">
            
                 <apex:column headerValue="" title="Assignment" style=" border: 1px solid lightgray; width:20px" >
                 <center>
                   <apex:outputlink value="/apex/RM_manualassignment?eid={!a.id}" title="view" target="_blank" rendered="{!a.bLink}">
                 <apex:image value="{!URLFOR($Resource.RM_Images,'hammerWrech.png')}" width="16" height="16" title="Select to Add or Edit Assignments for Resource"/>
                 </apex:outputlink>
                 <!-- <apex:commandlink value=""  onclick="javascript:fnAssign(); return false;" title="Assign" >
                        <apex:param value="{!a.id}"  name="recordId" assignTo="{!selectedID}"/>
                        <apex:image value="{!$Resource.hammerWrech}" width="16" height="16" title="Select to Add or Edit Assignments for Resource"/>
                        
                    </apex:commandlink>   
                 <apex:commandLink value="Assign" action="{!assign}">
                    <apex:param name="selectedID"
                        value="{!a.id}"
                        assignTo="{!selectedRecord}"/>  
                </apex:commandLink>-->
                  
                 </center>
                 </apex:column>
                 <!--
                 <apex:column style=" border: 1px solid lightgray;" >
                    <apex:facet name="header"><apex:outputLabel value="Last Name" title="Click here to Sort"/></apex:facet>
                      <apex:outputlink value="/apex/rm_viewResource?id={!a.id}" title="view" target="_blank"> {!a.lastname}</apex:outputlink>                    
                 </apex:column>
                
                 <apex:column style=" border: 1px; border-color: lightgray; border-style: solid;" value="{!a.firstName}">
                    <apex:facet name="header" ><apex:outputLabel value="First Name" title="Click here to Sort"/> </apex:facet>                    
                 </apex:column>
                 -->
                 
                 <apex:column style=" border: 1px; border-color: lightgray; border-style: solid;" >
                    <apex:facet name="header" ><apex:outputLabel value="Employee Name" title="Click here to Sort"/> </apex:facet>  
                    <apex:outputlink value="/apex/rm_employeeDetails?id={!a.id}" title="view" target="_blank">{!a.empFullName}</apex:outputlink>                   
                 </apex:column>
                
               
                 <apex:column style=" border: 1px; border-color: lightgray;border-style: solid; " value="{!a.bufCode}">
                    <apex:facet name="header"><apex:outputLabel value="BUF Code" title="Click here to Sort"/> </apex:facet>                                         
                 </apex:column>
               
                 <!--
                 <apex:column style=" border: 1px solid lightgray;" value="{!a.managerLast}">
                    <apex:facet name="header"><apex:outputLabel value="Mgr Last" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>        
                <apex:column style=" border: 1px solid lightgray;" value="{!a.managerFirst}">
                    <apex:facet name="header"><apex:outputLabel value="Mgr First" title="Click here to Sort" /></apex:facet>                    
                 </apex:column>
                -->
                
                 <apex:column style=" border: 1px solid lightgray;" value="{!a.managerFullName}">
                    <apex:facet name="header"><apex:outputLabel value="Manager Name" title="Click here to Sort" /></apex:facet>                    
                 </apex:column>
                <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.minStyleHr}" value="{!a.minHr}" rendered="{!!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort" >
                        Min.&nbsp;&nbsp;&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[0]}" value="{!a.Month[0]}" rendered="{!!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[0]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;"  headerClass="alignRightHr" styleClass="{!a.avaStyleHr[1]}"  value="{!a.Month[1]}" rendered="{!!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[1]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                     
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;"  headerClass="alignRightHr" styleClass="{!a.avaStyleHr[2]}" value="{!a.Month[2]}" rendered="{!!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[2]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[3]}" value="{!a.Month[3]}" rendered="{!!fteSearch && minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[3]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[4]}" value="{!a.Month[4]}" rendered="{!!fteSearch && minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[4]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[5]}" value="{!a.Month[5]}" rendered="{!!fteSearch && minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[5]}&nbsp;&nbsp;<br/>Avail Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 
                <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.minStyleHr}" value="{!a.minHr}" rendered="{!!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort" >
                        Min.&nbsp;&nbsp;&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[0]}" value="{!a.Month[0]}" rendered="{!!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[0]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;"  headerClass="alignRightHr" styleClass="{!a.avaStyleHr[1]}"  value="{!a.Month[1]}" rendered="{!!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[1]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                     
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;"  headerClass="alignRightHr" styleClass="{!a.avaStyleHr[2]}" value="{!a.Month[2]}" rendered="{!!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[2]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[3]}" value="{!a.Month[3]}" rendered="{!!fteSearch && !minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[3]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[4]}" value="{!a.Month[4]}" rendered="{!!fteSearch && !minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[4]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightHr" styleClass="{!a.avaStyleHr[5]}" value="{!a.Month[5]}" rendered="{!!fteSearch && !minimumSearch}" >
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[5]}&nbsp;&nbsp;<br/>Adjust Hrs
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                 
                 
                 
                 
                 
                   <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.minStyleFTE}" value="{!a.minFTE}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort"> 
                        Min.&nbsp;&nbsp;&nbsp;&nbsp;<br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[0]}"  value="{!a.fte[0]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort" >
                        {!monthLab[0]}&nbsp;&nbsp;<br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[1]}" value="{!a.fte[1]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[1]}&nbsp;&nbsp;<br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                 
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[2]}"  value="{!a.fte[2]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[2]}&nbsp;&nbsp;<br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>               
                 </apex:column>
                
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[3]}" value="{!a.fte[3]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[3]}&nbsp;&nbsp;  <br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[4]}" value="{!a.fte[4]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[4]}&nbsp;&nbsp;  <br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[5]}" value="{!a.fte[5]}" rendered="{!fteSearch && minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[5]}&nbsp;&nbsp;  <br/>Avail FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.minStyleFTE}" value="{!a.minFTE}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort"> 
                        Min.&nbsp;&nbsp;&nbsp;&nbsp;<br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                    
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[0]}"  value="{!a.fte[0]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort" >
                        {!monthLab[0]}&nbsp;&nbsp;<br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[1]}" value="{!a.fte[1]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[1]}&nbsp;&nbsp;<br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                 
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[2]}"  value="{!a.fte[2]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel title="Click here to Sort">
                        {!monthLab[2]}&nbsp;&nbsp;<br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>               
                 </apex:column>
                
                 
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[3]}" value="{!a.fte[3]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[3]}&nbsp;&nbsp;  <br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[4]}" value="{!a.fte[4]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[4]}&nbsp;&nbsp;  <br/>Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                 <apex:column style=" border: 1px solid lightgray;" headerClass="alignRightFTE" styleClass="{!a.avaStyle[5]}" value="{!a.fte[5]}" rendered="{!fteSearch && !minimumSearch}">
                    <apex:facet name="header">
                        <apex:outputLabel value=" " title="Click here to Sort">
                        {!monthLab[5]}&nbsp;&nbsp;  <br/> Adjust FTE
                        </apex:outputLabel>
                    </apex:facet>                  
                 </apex:column>
                                  
                 <apex:column style=" border: 1px solid lightgray;" value="{!strTheropeticArea}" rendered="{!if(strTheropeticArea !='' || strTheropeticArea !=null ,true,false)}">
                    <apex:facet name="header"><apex:outputLabel value="Therapeutic Area" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>
                 
                 <apex:column style=" border: 1px solid lightgray;" value="{!selectedIndicationsStr}" rendered="{!if(selectedIndicationsStr !='' || selectedIndicationsStr !=null ,true,false)}">
                    <apex:facet name="header"><apex:outputLabel value="Primary Indications" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" value="{!selectedinStudyRoles}" rendered="{!if(selectedinStudyRoles !='' || selectedinStudyRoles !=null ,true,false)}">
                    <apex:facet name="header"><apex:outputLabel value="TA Role" title="Click here to Sort"/></apex:facet>                   
                 </apex:column> 
                 
                 <apex:column style=" border: 1px solid lightgray;" value="{!a.mapTAexp[a.id]}" rendered="{!if(selectedYearOfExp !='' || selectedYearOfExp !=null,true,false)}">
                     <apex:facet name="header"><apex:outputLabel value="TA Years" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>               
                 
                 <apex:column style=" border: 1px solid lightgray;" value="{!a.jobClass}">
                    <apex:facet name="header"><apex:outputLabel value="Current Role" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>
                
                 <apex:column style=" border: 1px solid lightgray;" value="{!a.location}">
                    <apex:facet name="header"><apex:outputLabel value="Location" title="Click here to Sort"/></apex:facet>                   
                 </apex:column>
                
                  <apex:column style=" border: 1px solid lightgray;"  styleClass="alignRight" value="{!a.atPra}" headerClass="alignRight">
                    <apex:facet name="header"><apex:outputLabel value="Yrs at PRA" title="Click here to Sort"/> </apex:facet>                   
                 </apex:column>
              
                  <apex:column style=" border: 1px solid lightgray;"  styleClass="alignRight" value="{!a.currentRole}" headerClass="alignRight">
                    <apex:facet name="header"><apex:outputLabel value=" Yrs in Role" title="Click here to Sort"/></apex:facet>                  
                 </apex:column>  
                 <apex:column style=" border: 1px solid lightgray;"  styleClass="alignRight" value="{!a.BU}" headerClass="alignRight">
                    <apex:facet name="header"><apex:outputLabel value=" Business Unit" title="Click here to Sort"/></apex:facet>                  
                 </apex:column>                   
            </apex:pageBlockTable> 
                        
        </apex:pageBlockSection>
        
        </apex:pageBlock>
        </div>
      
  
       
        <apex:actionFunction action="{!Search}" name="search" reRender="searchResults"  oncomplete="javascript:jtable(); return false;" status="processing"/>
        <apex:actionfunction action="{!getJobClassWithBU}" name="getroles" reRender="RoleId" />
        <apex:actionfunction action="{!getCountryByRegion}" name="getCountryByRegion" reRender="countryId" />
        <apex:actionfunction action="{!getStateBySubRegion}" name="getStateBySubRegion"  reRender="StateId" />
      
         </apex:form>
    </apex:stylesheet>
    
    <div id="popup" title="Save Search">
   
          <apex:form id="popupfrm" >
          
                
         <script>
          
        </script>
            <apex:pageBlock id="bpPopup">
           
                <table width="100%" border="0" cellpadding="5">
                    <tr>
                        <td><b><apex:outputLabel value="Save Search As"></apex:outputLabel></b></td>
                        <td><apex:inputText value="{!searchName}" id="saveName" onkeypress="return noenter(event);"/></td>
                    </tr>
                    <tr>
                        <td><b>Select destination:</b></td>
                        <td><apex:selectList value="{!saveSubFolder}" multiselect="false" size="1" id="subId">
                                <apex:selectOptions value="{!resourceFolders}" id="subF" ></apex:selectOptions>
                            </apex:selectList></td>
                    </tr>
                </table>
                <apex:commandButton id="commAddSearch"  value="Save" onclick="javascript:fnSaveSearch(); return false;" rerender="view"/>
                <apex:commandButton id="closeAddDialog" value="Cancel" rerender="view"/>
                 
                <apex:actionFunction action="{!saveSearch}" name="saveSearch" reRender="view"/>
            </apex:pageBlock>
         </apex:form>
    </div>
     <script>
          var first = document.getElementById('{!$Component.frm.searchBlock.pbs.pb.searchOnId}')
        </script>
</apex:page>