<apex:page controller="RM_SearchController"  sidebar="false" >
<!--<apex:page controller="RM_SearchController"  sidebar="false" tabStyle="Search__tab">-->
 
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <apex:includeScript value="{!URLFOR($Resource.jsTree, '/js/_lib/jquery.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jsTree, '/js/_lib/jquery.cookie.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jsTree, '/js/_lib/jquery.hotkeys.js')}"  />
    <apex:includeScript value="{!URLFOR($Resource.jsTree, '/js/jquery.jstree.js')}"  />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>  
    
   
        
    
    
   
    
   </apex:page>