<apex:page sidebar="false" showHeader="false" readonly="false" cache="false" >
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/redmond/jquery-ui.css" rel="stylesheet" type="text/css"/>
	  <apex:includeScript value="{!URLFOR($Resource.JQwidgets, '/scripts/jquery-1.10.2.min.js')}"  /> 
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>   
	  
 <script type="text/javascript">
 	
 </script>
 <c:RM_NoteComp SemployeeRID="{!$CurrentPage.parameters.id}" ID="resourceNoteID" rendered="{!IF($CurrentPage.parameters.idType='Resource',  true, false)}" />
 <apex:pageBlock >
 
 	 <c:RM_ViewAssignmentsComp recordID="{!$CurrentPage.parameters.id}" IDType="{!$CurrentPage.parameters.idType}" startMonth="-3" endMonth="5" DisplayType="{!$CurrentPage.parameters.displayType}" bEdit="false"  id="viewAss"/> 

 </apex:pageBlock>


</apex:page>