<apex:page standardcontroller="SRM_Model__c" extensions="SRMModelCloneController" tabStyle="SRM_Model__c">
    <apex:form >
     <apex:sectionHeader title="New SRM Model"/>
        <apex:pageBlock title="SRM Model Edit">
        
   <!-- ------------------------------------buttons section start------------------------------------------------------------- -->
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!doSRMClone}"/>
                <apex:commandButton value="Save&New" action="{!SaveandNew}"/>
                <apex:commandButton value="Cancel" action="{!Cancel}"/>
            </apex:pageBlockButtons>
     <!-- ------------------------------------buttons section end------------------------------------------------------------- -->
     
        <!-- ------------------------------------information section start------------------------------------------------------------- -->          
            <apex:pageBlockSection title="Information" >
              <apex:pageBlockSectionItem >
                  <apex:outputLabel value="Status"></apex:outputLabel>                
                    <apex:inputField value="{!srmModelObjClone.Status__c}" required="true"/>
              </apex:pageBlockSectionItem>
         <!-- ------------------------------------information section end------------------------------------------------------------- -->
         
            <!-- ------------------------------------buttons section start------------------------------------------------------------- -->        
              <apex:pageBlockSectionItem >
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >      
                  <apex:outputLabel value="Comments"></apex:outputLabel>  
                    <apex:inputField value="{!srmModelObj.Comments__c}" required="true"/>  
              </apex:pageBlockSectionItem>      
            <!-- ------------------------------------buttons section start------------------------------------------------------------- -->     
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>