<!---------------------------------For Displaying SRM_Site Activation Export in a excel --By Ramya 10/29/2014--------------------------------------------->
<apex:page standardController="SRM_Scenario__c" extensions="SRM_ScenarioController"  contentType="application/vnd.excel#SiteActivation Export.xls" cache="true">

    <apex:pageBlock >  
    
        <!--------------------------To Display Site activation by country--------------------------------------->  
        <table>
            <tbody>
                <apex:repeat value="{!siteActivationNonCumulatveListexpt}" var="s">
                    <tr>
                        <td><b> {!s.countryName} </b></td>
                            <apex:repeat value="{!s.dataValues}" var="dv">
                                <td> {!dv} </td>
                            </apex:repeat>
                        </tr>
                </apex:repeat>
            </tbody>
        </table>      
        <!--------------------------End of Display Site activation by country--------------------------------------->    
    </apex:pageblock>
    
</apex:page>