<!---------------------------------For Displaying SRM_Enrollement Export in a excel --By Ramya 10/29/2014--------------------------------------------->
<apex:page standardController="SRM_Scenario__c" extensions="SRM_ScenarioController"  contentType="application/vnd.excel#Enrollment Export.xls" cache="true">
	<apex:pageblock >
        <!--------------------------For Displaying Enrollment details--------------------------------------->  
		<apex:pageblocktable value="{!avg}" var="Key" columns="2" title="HeadLines" >
			
			<apex:column >
				<apex:facet name="header" >Country Name</apex:facet>
					<apex:outputText value="{!Key}" />
			</apex:column>
	  
			<apex:column >
				<apex:facet name="header" >Final Adjusted Enrollment Rate for Country </apex:facet>
				    <apex:outputText value="{0, number, 00.00}">
					   <apex:param value="{!avg[Key]}" />
					</apex:outputText>
			</apex:column>
		 
		</apex:pageblockTable>
       <!--------------------------End of Displaying Enrollment details--------------------------------------->     
	</apex:pageblock>
</apex:page>