<apex:page standardController="SRM_Model_Questions__c" extensions="SRM_ModelQuestionsController" tabStyle="SRM_Model_Questions__c" id="pg">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <apex:form id="fmobj">
  <apex:sectionHeader title="New SRM Model Questions">
   <apex:pageBlock title="SRM Model Questions Edit" id="pb">
   <apex:pageMessages />
   <!-- ------------------------------------buttons section start------------------------------------------------------------- -->
     <apex:pageBlockButtons >
         <apex:commandButton value="Save" action="{!saveModelQuestions}"/>
         <apex:commandButton value="Save & New" action="{!saveandnewQuestions}"/>
         <apex:commandButton value="Cancel" action="{!cancel}"/>
     </apex:pageBlockButtons>
   <!-- ------------------------------------buttons section end------------------------------------------------------------- -->
   
    <!-- ------------------------------------information section start------------------------------------------------------------- -->   
     <apex:pageBlockSection id="info" title="Information">   
         <apex:outputField value="{!srmQuestions.SRM_Model__c}"/>
        <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>     
        <!--<apex:inputField value="{!srmQuestions.Therapeutic__c}"/>-->
        <apex:selectList multiselect="false" size="1" value="{!srmQuestions.Therapeutic_Area__c}" id="ta"> 
              <apex:selectOptions value="{!therptic}"/>
        </apex:selectList>     
     </apex:pageBlockSection>
     <apex:pageBlockSection id="questn" title="Question" >    
        <apex:inputField value="{!srmQuestions.Question__c}" style="width:300px;height:100px;" required="true"/>
        <apex:inputField value="{!srmQuestions.Information__c}"/>      
        <apex:inputField value="{!srmQuestions.Primary_Role__c}" required="true"/>
        <apex:inputField value="{!srmQuestions.Required_for_Approval__c}"/>    
     </apex:pageBlockSection>
   <!-- ------------------------------------information section end------------------------------------------------------------- -->
   
    <!-- ------------------------------------Filter Criteria section start------------------------------------------------------------- -->   
     <apex:actionRegion >
     <apex:pageBlockSection id="filter" title="Filter Criteria">
        <apex:inputField value="{!srmQuestions.Group__c}" id="group" required="true">
        <apex:actionSupport event="onchange" rerender="countryblk"/>
        </apex:inputField>
        <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
        <apex:inputField value="{!srmQuestions.Sub_Group__c}" id="subgroup" required="true">
        <apex:actionSupport event="onchange" rerender="countryblk"/>
        </apex:inputField>
     </apex:pageBlockSection>
  <!-- ------------------------------------Filter Criteria section end------------------------------------------------------------- -->
  
   <!-- ------------------------------------country selection section start------------------------------------------------------------- -->    
     <apex:pageBlockSection id="countryblk" title="Country Selection" showHeader="{!if((srmQuestions.Group__c == 'Country' && srmQuestions.Sub_Group__c != null),true,false)}" >
        <apex:inputField value="{!srmQuestions.Selecting_Country__c}" id="countrySel" style="border-left:3px solid red" rendered="{!if((srmQuestions.Group__c == 'Country' && srmQuestions.Sub_Group__c != null),true,false)}">
        <apex:actionSupport event="onchange" rerender="countryblk"/>
        </apex:inputField>
        <apex:outputPanel id="country" rendered="{!if((srmQuestions.Group__c == 'Country' && srmQuestions.Sub_Group__c != null && srmQuestions.Selecting_Country__c == 'Specific Countries'),true,false)}">
            <c:COM_MultiselectPicklist leftLabel="Available Countries"     leftOption="{!allCountries}"  rightLabel="Selected Countries"
                rightOption="{!selectedCountries}"       size="14"   width="150px" />
        </apex:outputPanel>
     </apex:pageBlockSection>
      <!-- ------------------------------------country selection section end------------------------------------------------------------- -->
     </apex:actionRegion>          
    </apex:pageBlock>
  </apex:sectionHeader>
 </apex:form>
</apex:page>