<apex:component controller="BDT_MainRightStudyDetails">
	<apex:form >
		<div class="BDT_SideBarContainer">
			<div class="BDT_SideBarTitle"><h3>Project Details</h3></div>
			<div style="line-height:20px;">
				<apex:outputText rendered="{!project.Code__c!=null}">{!project.Code__c}<br/></apex:outputText>
				<apex:outputText rendered="{!project.Project_Description__c!=null}">
					<div class="tiptip" title="{!project.Project_Description__c}" style="overflow:hidden;text-overflow:ellipsis;width:220px;white-space: nowrap;">
						{!project.Project_Description__c}
					</div>
				</apex:outputText>
				<apex:outputText rendered="{!project.Drug_Administered__c!=null}">
					<div class="tiptip" title="{!project.Drug_Administered__c}" style="overflow:hidden;text-overflow:ellipsis;width:220px;white-space: nowrap;">
						{!project.Drug_Administered__c}
					</div>
				</apex:outputText>
				<apex:outputText rendered="{!project.Client__r.Sponsor__r.Name!=null}">
					<div class="tiptip" title="{!project.Client__r.Sponsor__r.Name}" style="overflow:hidden;text-overflow:ellipsis;width:220px;white-space: nowrap;">
						{!project.Client__r.Sponsor__r.Name}
					</div>
				</apex:outputText>
				<apex:outputText rendered="{!project.Client__r.Name!=null}">
					<div class="tiptip" title="{!project.Client__r.Name}" style="overflow:hidden;text-overflow:ellipsis;width:220px;white-space: nowrap;">
						{!project.Client__r.Name}
					</div>
				</apex:outputText>
			</div>
		</div>
	</apex:form>
</apex:component>