<apex:component allowDML="true">
    <apex:attribute name="serviceModelController" description="controller instance" type="ServiceModelController" required="true"/>
    <apex:actionFunction name="removeServiceArea" 
        action="{!serviceModelController.removeService}" 
        reRender="serviceModelMessages, body, serviceAreaBlock, serviceFunctionBlock, serviceTaskBlock" 
        onComplete=""
        status="instanceServiceModelStatus">
        <apex:param name="editServiceAreaId" value=""/>
        <apex:param assignTo="{!serviceModelController.createObjectAPIName}" name="createObjectAPIName" value="{!serviceModelController.getServiceAreaObjectApiName}"/> 
    </apex:actionFunction>  
    <script type="text/javascript">    
        function createOrUpdateServiceFunction(id) {
            if(id == '') {
                createNewServiceFunction();
            } else {
                updateServiceFunction();
            }
        }
        
        function removeServiceAreaWithCheck(areaId){
            if ( confirm('Do you want to delete this Service area?') ){
                removeServiceArea(areaId);
            }
        }
            
    </script>

    <div class="model-details-wrapper">
        <div class="model-details-title">
            {!serviceModelController.serviceArea.serviceArea.Name}
        </div>
        <div class="model-details-content">
            <div class="model-details-fields float-left">
                <div class="model-details-row">
                    <label class="field-name">Parents</label>
                    <div class="field-value">{!serviceModelController.serviceModel.serviceModel.Name}</div>
                </div>
                <div class="model-details-row">
                    <label class="field-name">Description</label>
                    <div class="field-value">{!serviceModelController.serviceArea.serviceArea.Description__c}</div>
                </div>
                <div class="model-details-row float-left">
                    <label class="field-name">Created By</label>
                    <div class="field-value">
                        {!serviceModelController.serviceArea.serviceArea.CreatedBy.FirstName} {!serviceModelController.serviceArea.serviceArea.CreatedBy.LastName}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!serviceModelController.serviceArea.serviceArea.CreatedDate}"/>
                        </apex:outputText>
                    </div>
                </div>
                <div class="model-details-row float-left">
                    <label class="field-name">Last Modified By</label>
                    <div class="field-value">
                        {!serviceModelController.serviceArea.serviceArea.LastModifiedBy.FirstName} {!serviceModelController.serviceArea.serviceArea.LastModifiedBy.LastName}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!serviceModelController.serviceArea.serviceArea.LastModifiedDate}"/>
                        </apex:outputText>
                    </div>
                </div>
            </div>
            <div class="model-details-buttons float-right">
                <button type="button" class="button float-right" onclick="removeServiceAreaWithCheck('{!serviceModelController.serviceArea.serviceArea.Id}');">Delete</button>
                <button type="button" class="button float-right" onclick="preparationCloneServiceArea('{!serviceModelController.serviceArea.serviceArea.Id}');">Clone</button> 
                <button type="button" class="button float-right" onclick="preparationCreateOrEditServiceArea('{!serviceModelController.serviceArea.serviceArea.Id}');">Edit</button>
            </div>
            <div class="clr"></div>
            <div class="tabs">
    
                <button type="button" class="button new-record" onclick="preparationCreateOrEditServiceFunction();">
                    New Service Function
                </button>
                    
                <div class="clr"></div>
            </div>
        </div>
    </div>

</apex:component>