<apex:component controller="IPA_EventsHolidaysComponentController">
<apex:attribute name="pageWidgetVar" description="Page Widget instance the component represents."
                    type="IPA_Page_Widget__c" required="false" assignTo="{!pageWidgetObj}"/>
                    
                     <!-- Data Fetching -->
                     {!FetchContent}
                
    <div class="pra-widget small events-holidays" id="divEvents" style="margin-bottom:10px">
        <h2 class="widget-title orange-gradient">Events &amp; Holidays <i class="pra-icon-events-holidays"></i></h2>
            <div class="pra-widget-content">
                <div class="events">
                    <p class="events-title">Upcoming Events</p>
                       <ul>
                          <apex:repeat value="{!lstEvents}" var="rEv">
                            <li>
                                <table width="100%">
                                	<tr>
                                      <td style="border: 0; width: 40px; text-align: left; vertical-align: middle">	
                                        <div class="date">
                                        	<span class="month">
		                                        <apex:outputText value="{0,date,MMM}">
		                                            <apex:param value="{!rEv.Display_Date__c}" /> 
		                                        </apex:outputText>
	                                        </span>
	                                        <span class="day">
	                                            <apex:outputText value="{!If((rEv.Display_Date__c.Date < 10),'0'+TEXT(rEv.Display_Date__c.Date),rEv.Display_Date__c.Date)}"/>
	                                        </span>
	                                     </div>
                                    </td>
                                    <td style="border: 0; text-align: left; vertical-align: middle">
                                        <div class="title">
                                            <apex:outputLink value="{!IF(pageWidgetObj!=null,'/apex/IPA_DynamicPage?Id='+pageWidgetObj.Page__c+'&ArticleId='+rEv.Id,'/apex/IPA_Article?Id='+rEv.Id)}">
                                                {!rEv.Title__c}
                                            </apex:outputLink>
                                        </div>
                                  </td>
                                </tr>  
                             </table>    
                           </li>
                   </apex:repeat>
                </ul>
            </div>

            <div class="holidays" >
                <p class="events-title">Upcoming Holidays</p>
                <ul>
                    <apex:repeat value="{!lstHolidays}" var="rEv">
                        <li>
                            <table width="100%">
                            	<tr>
                                 	<td style="border: 0; width: 40px; text-align: left; vertical-align: middle">
                                        <div class="date" >
                                        	<span class="month">
		                                        <apex:outputText value="{0,date,MMM}">
		                                            <apex:param value="{!rEv.Display_Date__c}" /> 
		                                        </apex:outputText>
	                                        </span>
	                                        <span class="day">
	                                            <apex:outputText value="{!If((rEv.Display_Date__c.Date < 10),'0'+TEXT(rEv.Display_Date__c.Date),rEv.Display_Date__c.Date)}"/>
	                                        </span>
	                                     </div>
                                    </td>
                                    <td style="border: 0; text-align: left; vertical-align: middle">
                                        <div class="title" >
                                            <apex:outputLink value="/apex/IPA_Article?Id={!rEv.Id}">
                                                {!rEv.Title__c}
                                            </apex:outputLink>
                                        </div>
                                    </td>
                                </tr> 
                            </table>     
                         </li>
                   </apex:repeat>
                </ul>
            </div>
            	<a href="/apex/IPA_Calendar?Month={!Month(Today())}&Year={!Year(Today())}" class="read-more">View Full Calendar</a>
     	</div>	    
      </div>
</apex:component>