<apex:component >
  <div class="pra-widget fillup" style="border-top:solid 4px #f47c28;border-top-left-radius:0;border-top-right-radius:0;">
                                    <table width="100%" cellspacing="10" cellpadding="5">                                               
                                        <tr>
                                            <td style="border:0"><h2 class="title" style="font-size:26px; font-weight: normal;">Department Overview</h2>
                                            <p class="excerpt">As a leading CRO, PRA is transforming clinical trials through our people, innovation and operational transparency. with 5,000+ employees in 30+ countries, PRA provides a full suite of services across all phases. we have conducted the pivotal or supportive trials that led to FDA and/or international regulatory approval of 40+ drugs marketed across several therapeutic areas.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0"><h2 class="titleheading">Secondary Heading</h2></td>
                                        </tr>
                                        <tr>
                                            <td style="border:0">
                                               <!-- <img src="{!URLFOR($Resource.PTL_PRAPortalTheme, 'PTL_PRAPortalTheme/images/PTL_Loading.gif')}"/> -->
                                                <img src="{!URLFOR($Resource.IPA_DepartmentDefaultTheme,'insidePRA/images/videoimg.jpg')}" width="100%" />
                                               <!-- <img src="images/videoimg.jpg" width="100%" /> -->
                                            </td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <table cellspacing="10" cellpadding="5">
                                        <tr>
                                            <td style="border:0">
                                                <div class="biotechnology">
                                                    <table cellspacing="0" cellpadding="5">
                                                        <tr>
                                                            <td style="border:0; vertical-align:middle" width="8%"  id="Biotechnologybutton" onClick="javascript: toggle('Biotechnology_data', 'Biotechnologybutton');"><img src="{!URLFOR($Resource.IPA_DepartmentDefaultTheme,'insidePRA/images/plus.png')}"/></td> 
                                                            <td style="border:0" class="corp-title">Biotechnology Partnership &amp; Biologics Expertise</td>
                                                        </tr>
                                                        <tr id = "Biotechnology_data" style=" display: none">
                                                            <td style="border:0; vertical-align:middle" width="8%">&nbsp;</td>
                                                            <td style="border:0" class="excerpt">PRA offers virtual, small and mid-sized biotech companies flexible,customized partnerships that accelerate drugs to market,while maximizing value.</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0">
                                                <div class="biotechnology">
                                                    <table cellspacing="0" cellpadding="5">
                                                        <tr>
                                                            <td style="border:0; vertical-align:middle" width="8%" id="Centralbutton" onClick="javascript: toggle('Central_data', 'Centralbutton');"><img src="{!URLFOR($Resource.IPA_DepartmentDefaultTheme,'insidePRA/images/plus.png')}"/></td>
                                                            <td style="border:0" class="corp-title">Central and Eastern Europe</td>
                                                        </tr>
                                                        <tr id = "Central_data" style=" display: none">
                                                            <td style="border:0; vertical-align:middle" width="8%">&nbsp;</td>
                                                            <td style="border:0" class="excerpt">PRA offers virtual, small and mid-sized biotech companies flexible,customized partnerships that accelerate drugs to market,while maximizing value.</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:0">
                                                <div class="biotechnology">
                                                    <table cellspacing="0" cellpadding="5">
                                                        <tr>
                                                            <td style="border:0; vertical-align:middle" width="8%" id="Exploratorybutton" onClick="javascript: toggle('Exploratory_data', 'Exploratorybutton');"><img src="{!URLFOR($Resource.IPA_DepartmentDefaultTheme,'insidePRA/images/plus.png')}"/></td>
                                                            <td style="border:0" class="corp-title">Exploratory Clinical Trials</td>
                                                        </tr>
                                                        <tr id = "Exploratory_data" style=" display: none">
                                                            <td style="border:0; vertical-align:middle" width="8%">&nbsp;</td>
                                                            <td style="border:0" class="excerpt">PRA offers virtual, small and mid-sized biotech companies flexible,customized partnerships that accelerate drugs to market,while maximizing value.</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
</apex:component>