<apex:component controller="IPA_QuickLinksComponentController">
    <apex:attribute name="pageWidgetVar" description="Page Widget instance the component represents."
                    type="IPA_Page_Widget__c" required="false" assignTo="{!pageWidgetObj}"/>
    <div class="pra-widget small quick-links" id="divQL" style="margin-bottom: 10px">
        <h2 class="widget-title blue-gradient">Quick Links<i class="pra-icon-quick-links"></i></h2>
        <div class="pra-widget-content">
            <ul>
               <apex:repeat value="{!lstQuickLinks}" var="rQL">
                    <apex:variable value="{!if(rQL.External_Link__c,true,false)}" var="ExSite"/>                                  
                    <apex:variable value="{!if(rQL.Restricted_Link__c,true,false)}" var="ResSite"/>
                    <li>
                        <apex:outputLink value="{!rQL.Link__c}" target="_blank">
                        <apex:outputText value="{!rQL.Name}"/><i class="{!rQL.CSS_Class__c}"></i>
                                                            <i class="{!if((ExSite),'pra-icon-external','')}"></i>
                                                            <i class="{!if((ResSite),'pra-iconql-restrictedicon','')}"></i>
                        </apex:outputLink>                                     
                    </li>
                </apex:repeat>
            </ul>
        </div>
    </div>
</apex:component>