<apex:component controller="IPA_HeroGraphicComponentController">
    <apex:attribute name="pageWidgetVar" description="Page Widget instance the component represents."
                    type="IPA_Page_Widget__c" required="false" assignTo="{!pageWidgetObj}"/>
                    
    {!FetchContent}
    
    <div class="pra-widget departmentheader" style="background-image: url('{!content.Featured_Image__c}'); background-size: cover; height: 63px;">    
       <h3 style="color: #ffffff;font-size: 2.33em;padding-left: 25px;margin-top: 25px;text-transform: capitalize;font-weight:normal;
            font-family: ProximaNovaSbold, arial, sans-serif;">
            {!content.Title__c}
       </h3>
    </div>

</apex:component>