<apex:component controller="IPA_IndustryWatchComponentController">
    <div class="news-verticals">
        <div class="pra-widget group">
            <div class="flexslider" id="pra-industry-watch">
              <ul class="slides">
                <apex:repeat value="{!lsindustryWatch}" var="rNW2">
                   <li>
                     <figure><img src="{!rNW2.Featured_Image__c}" style="height: 265px; width: 265px" /></figure>
                     <a href="/apex/IPA_Industry_Watch?Type=Industry Watch"><p class="news-category" style="margin: 1.5em 0 0em;">Industry Watch</p></a>
                     <h2 class="title">
                        <!--<apex:outputLink value="/apex/IPA_Article?Id={!rNW2.Id}">-->
                        <apex:outputLink value="{!rNW2.URL__c}" target="_blank">
                            {!rNW2.Title__c}
                        </apex:outputLink>
                    </h2>
                    <p class="date">
                        <apex:variable value="{!CASE(MOD(rNW2.Display_Date__c-DATE(1900,1,7),7 ),0,"SUN",1,"MON",2,"TUE",3,"WED",4,"THU",5,"FRI","SAT")}" var="dayofweek"/>
                          <apex:outputText value="{!dayofweek}, {0,date,MMM} {!If((rNW2.Display_Date__c.date < 10),'0'+TEXT(rNW2.Display_Date__c.date),rNW2.Display_Date__c.Date)}, {!Year(rNW2.Display_Date__c)}">
                               <apex:param value="{!rNW2.Display_Date__c}"/>
                        </apex:outputText>  
                    </p>
                    <p class="excerpt">{!rNW2.Teaser__c}...</p>
                   </li>
                </apex:repeat>
              </ul>
            </div>
        </div>
    </div>
</apex:component>