<apex:component controller="IPA_ResourceCabinetComponentController" >
    <apex:attribute name="pageWidgetVar" description="Page Widget instance the component represents."
                    type="IPA_Page_Widget__c" required="false" assignTo="{!pageWidgetObj}"/>
                    
    <div class="pra-widget small quick-links" style="margin: 0px 10px 10px 0px">
        <h2 class="widget-title lightblue-gradient"> Resource Cabinet <i class="pra-iconctr-resource-cabinet"></i></h2>
        <div class="pra-widget-content">
            <ul>
                <!--
                <li><img class="pra-medialib-icon-article"  />
                    <a href="">Article Title</a></li>
                <li> <img class="pra-medialib-icon-brochure" />
                    <a href="">Brochure Title</a></li>
                <li><img class="pra-medialib-icon-casestudy" />
                    <a href="">Case Study Title</a></li>
                <li><img class="pra-medialib-icon-factsheet" />
                    <a href="">Fact Sheet Title</a></li>
                <li><img class="pra-medialib-icon-podcast" />
                    <a href="">Podcast Title</a></li>
                <li> <img  class="pra-medialib-icon-video" />
                    <a href="">Video Title</a></li>
                <li><img class="pra-medialib-icon-webcast" />
                    <a href="">Webcast Title</a></li>
                <li><img class="pra-medialib-icon-whitepaper" />
                    <a href="">White Paper Title</a></li>-->
                <apex:repeat value="{!lstMediaLibraries}" var="l">
                    <li>
                        <div class="{!l.CSS_Class__c}">
                            <apex:outputLink value="{!l.Link__c}" rendered="{!(l.Link__c != null && l.Link__c != '')}" target="_blank">
                               <div style="margin-left:30px;line-height: normal;padding-bottom: 10px;">
                                 <apex:outputText value="{!l.Name}" />
                                </div>
                            </apex:outputLink>
                                                  
                             <apex:outputText rendered="{!(l.Link__c == null && l.Link__c == '')}" value="{!l.Name}">
                                <span style="margin-left:30px;line-height: normal;padding-bottom: 10px;">
                                     <apex:outputText value="{!l.Link__c}" />
                                </span>
                              </apex:outputText>                                 
                        </div>
                      </li>
                </apex:repeat>
                <!--<li><a class="read-more" href="#">View More Resources </a></li>-->
             </ul>
        </div>
    </div>
</apex:component>