<apex:component controller="IPA_HeroGraphicComponentController">
    <apex:attribute name="pageWidgetVar" description="Page Widget instance the component represents."
                    type="IPA_Page_Widget__c" required="false" assignTo="{!pageWidgetObj}"/>
                    
    <!--<div class="pra-widget departmentheader ">-->
    {!FetchContent}
    
    <!--<div class="pra-widget" style="background-image: -webkit-linear-gradient(right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0, 0,0.65)100%),url('{!content.Featured_Image__c}'); background-size: cover; height: 244px;">-->
     <div class="pra-widget departmentheader" style="background-image: url('{!content.Featured_Image__c}'); background-size: cover; height: 200px !important;">    
       <!--<br></br><br></br><br></br>-->
       <h3 style="color: #ffffff;font-size: 2.33em;padding-left: 25px;margin-top: 155px;text-transform: capitalize;font-weight:normal;
            font-family: ProximaNovaSbold, arial, sans-serif;">{!content.Title__c}
       </h3>
    </div>
  
</apex:component>