<apex:component Controller="PBB_RegionModelsController" allowDML="true">
    <apex:includeScript value="{!URLFOR($Resource.PBB_jqueryUiMin)}"/>
    <apex:includeScript value="{!URLFOR($Resource.PBB_DataTablesJs)}"/>
    <script type="text/javascript">     
        // Jquery Table 
        jQuery(document).ready(function() {
            jQuery("#region_model_table").dataTable({
                "bFilter": true,
                "bLengthChange": false,
                "bSort": true,
                //"aoColumnDefs": [ { "sType": "alt-string", "aTargets": [ 0 ] }, {"sWidth": "50%", "aTargets":[3]} ],
                "iDisplayLength": 5,
                "aaSorting": [ [5,'desc'] ], 
                "fnDrawCallback": function() {},
                "aoColumns": [ 
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                ]
            });
            
            // Extension to Sort the Column based on alt string of image.
            jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                "alt-string-pre": function ( a ) {
                    return a.match(/alt="(.*?)"/)[1].toLowerCase();
                },
                
                "alt-string-asc": function( a, b ) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },
                
                "alt-string-desc": function(a,b) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });
        });
    </script>
    <apex:commandlink action="{!getNewPageReference}" target="_blank" style="text-decoration:none" value="New Region Model"  styleClass="button float-right bottom-margin"/>
    <table id="region_model_table">
        <thead>
            <tr>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.Name.Label}</th>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.Model_Number__c.Label}</th>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.Model_Type__c.Label}</th>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.WFM_Client__c.Label}</th>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.CreatedDate.Label}</th>
                <th>{!$ObjectType.Mapping_Region_Model__c.fields.LastModifiedById.Label}</th>
            </tr>
        </thead>
        <tbody>
            <apex:repeat value="{!Region_Models}" var="rr">
                <tr>
                    <td><apex:outputLink value="/{!rr.id}" target="_blank">{!rr.Name}</apex:outputLink></td>
                    <td>{!rr.Model_Number__c}</td>
                    <td>{!rr.Model_Type__c}</td>
                    <td>{!rr.WFM_Client__c}</td>
                    <td>
                        {!rr.CreatedBy.Name}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!rr.CreatedDate}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        {!rr.LastModifiedBy.Name}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!rr.LastModifiedDate}"/>
                        </apex:outputText>
                    </td>
                </tr>
            </apex:repeat>
        </tbody>
    </table>
</apex:component>