<apex:component >
    <br></br>
    <apex:attribute name="PageParameters" description="The users current page parameters" type="string" required="false" />
    <apex:attribute name="DisableTabsList" description="To disable links of tabs" type="String[]" required="false" />    
    
     <apex:attribute name="PBBProjectID" description="The users current page parameters" type="string" required="false" />
    <apex:attribute name="PBBScenarioID" description="The users current page parameters" type="string" required="false" />
<!-- 
        *** USAGE INSTRUCTIONS ***
        
        For new menu items; copy an entire <A> tag and adjust the target page name in the HREF attribute. Keep
        the "?bid={!bidnumber}" at the end to transfer the bid number as a parameter to the target page.
        
        Multiple pages under one navigation item; when multiple pages need a menu item active then concatinate the page
        names in the class attribute at the location indicated with the "*" here: "IF(CONTAINS(LOWER('*****')"
        Example: IF(CONTAINS(LOWER('BDTPR_LoadBid,BDTPR_SomethingElse1,BDTPR_SomethingElse2')
-->
    
    <left class="nav">
    
        <a id="PCpage" href="/apex/PBB_ProjectCriteria?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>=0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ProjectCriteria,PBB_ProjectInformation,PBB_ScenarioDetails,PBB_CountryServices,PBB_ScenarioQuestionnaire,PBB_InterimMonitoring'),LOWER($CurrentPage.Name)),'active','')}">
            Project Criteria
            
        </a>
        
        <a id="PRpage" href="/apex/PBB_ProjectResults?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>=0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ProjectResults,PBB_ProjectPlan,PBB_ClientUnitGrid,PBB_SiteActivation,PBB_SubjectEnrollment'),LOWER($CurrentPage.Name)),'active','')}">
            Projected Results
        </a>
        
        <!--<a id="PSpage" href="/apex/PBB_ProjectStrategies?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>=0,'Please save any changes before proceeding!','')}"
           class="nav {!IF(CONTAINS(LOWER('PBB_ProjectStrategies,PBB_SiteandSubjectGraphs'),LOWER($CurrentPage.Name)),'active','')}">
           Project Strategies
        </a>-->
        
        
       
 <!-- -----------------------Disable the Client Unit Grid Tab---------------------------------- -->
      <script>
           
            var TabList = new Array();
            TabList = '{!DisableTabsList}';
            //alert(TabList);
            if(TabList!=''){
                //alert(TabList);
                TabList =TabList.slice(1, TabList.length-1); 
                //alert(TabList);             
                var TabfullList   = TabList.split(", "); 
                //alert(TabfullList); 
                for (var i = 0; i < TabfullList.length; i++) {                     
                    var v= TabfullList[i];
                    var obj = document.getElementById(v);
                    //alert(obj);
                    var href = obj.getAttribute("href");                      
                    //alert(href);
                    if(href && href != "" && href != null)
                        obj.setAttribute('href_bak', href);
                    obj.removeAttribute('href');
                    //alert(obj);
                }  
            }
                           
             
        </script> 
        
    </left>
    
    <style>
    left.nav {padding: 50px 0px 50px 0px;}
    
    a.nav {
    background-color:#f8f8f8;
    color:#333;
    text-decoration:none;
    border-top:2px solid #747E96;
    border-bottom:1px solid #DBDBDB;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:1.0em;
    margin:5px 0;
    padding:5px 10px;
    }
    
    a.nav:hover {
    color:#7af;text-decoration:none;
    }
    
    a.nav:first-child {
    -moz-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    }
    
    a.nav:nth-child(1n+1) {
    margin-left:-4px;
    }
    
    a.nav:last-child {
    -moz-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    }
    
    a.active,a.active:hover {
    background-color:#35B4E9;
    color:#FFF;
    }
    </style>

</apex:component>