<apex:component allowDML="true">
    <apex:attribute name="serviceModelController" description="controller instance" type="PBB_ServiceModelComponentController" required="true"/>  
    <script type="text/javascript"> 
        function openLookup(baseURL, width, modified, searchParam){
            var originalbaseURL = baseURL;
            var originalwidth = width;
            var originalmodified = modified;
            var originalsearchParam = searchParam;
            //alert(originalsearchParam);
            
            var isGlobal="{!serviceModelController.serviceTaskToServiceImpact.serviceTask.Global__c}";
            //alert(isGlobal);
            var lookupType = baseURL.substr(baseURL.length-3, 3);
            if (modified == '1') baseURL = baseURL + searchParam;    
            var isCustomLookup = false;    
            // Following 3 digit code is the lookup type for idSTtSIQuestionName object so change this as per your standard or custom object
            var kp= "{!serviceModelController.serviceTaskToServiceImpact.keyPrefix}";
            if (baseURL.indexOf(kp) != -1) {    
                var urlArr = baseURL.split("&");
                var txtId = '';
                if(urlArr.length > 2) {
                    urlArr = urlArr[1].split('=');
                    txtId = urlArr[1];
                }    
                // Following is the url of Custom Lookup page. You need to change that accordingly
                baseURL = "/apex/PBB_ActiveQuestionsforServiceTasks?"+"Global="+isGlobal+"&txt=" + txtId;    
                // Following is the id of apex:form control "myForm". You need to change that accordingly
                baseURL = baseURL + "&frm=" + escapeUTF("{!$Component.myForm}");
                if (modified == '1') {
                    baseURL = baseURL + "&lksearch=" + searchParam;
                }    
                // Following is the ID of inputField that is the lookup to be customized as custom lookup
                if(txtId.indexOf('idSTtSIQuestionName') > -1 ){
                    isCustomLookup = true;
                }
            }
            if(isCustomLookup == true){
                openPopup(baseURL, "lookup", 350, 480, "width="+width+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
            }
            else {
                if (modified == '1') originalbaseURL = originalbaseURL + originalsearchParam;
                    openPopup(originalbaseURL, "lookup", 350, 480, "width="+originalwidth+",height=480,toolbar=no,status=no,directories=no,menubar=no,resizable=yes,scrollable=no", true);
            } 
      }
    </script>
    
    
    <apex:actionFunction name="createOrUpdateServiceTaskToServiceImpact" 
        action="{!serviceModelController.createService}" 
        reRender="serviceTaskToServiceImpactListBlock, newOrEditServiceTaskToServiceImpactBlock" 
        onComplete="closeDialog({!serviceModelController.isValid});"
        status="instancePopupServiceStatus">
        <apex:param assignTo="{!serviceModelController.createObjectAPIName}" name="createObjectAPIName" value="{!serviceModelController.getServiceTaskToServiceImpactObjectApiName}"/>   
    </apex:actionFunction>
    
    <div id="newOrEditServiceTaskToServiceImpactDialog">
        <apex:outputPanel id="newOrEditServiceTaskToServiceImpactBlock" layout="block">
            <h3 class="title">{!if(serviceModelController.serviceTaskToServiceImpact.serviceTaskToServiceImpact.Id == '', 'New', 'Edit')} Service Task To Service Impact</h3>
            <div class="dialog-content">
                <apex:pageMessages id="serviceTaskToServiceImpactWindowMessages"></apex:pageMessages>
                <table>
                    <tr>
                        <td>{!$ObjectType.Service_Task_To_Service_Impact__c.fields.Name.Label}</td>
                        <td><apex:inputField value="{!serviceModelController.serviceTaskToServiceImpact.serviceTaskToServiceImpact.Name}" id="idSTtSIName" /></td>
                    </tr>
                    <tr>
                        <td>{!$ObjectType.Service_Task_To_Service_Impact__c.fields.Service_Task__c.Label}</td>
                        <td><apex:outputField value="{!serviceModelController.serviceTaskToServiceImpact.serviceTaskToServiceImpact.Service_Task__c}"/></td>
                    </tr>
                    <tr>
                        <td>{!$ObjectType.Service_Task_To_Service_Impact__c.fields.Service_Impact_Question_Name__c.Label}</td>
                        <td><div class="requiredBlock"></div><apex:inputField value="{!serviceModelController.serviceTaskToServiceImpact.serviceTaskToServiceImpact.Service_Impact_Question_Name__c}" id="idSTtSIQuestionName" /></td>
                    </tr>
                </table>
            </div>
            <div class="ui-dialog-buttonset">
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow =''; createOrUpdateServiceTaskToServiceImpact();">
                    <span class="ui-button-text">Save</span>
                </button>
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow = '{!serviceModelController.getServiceTaskToServiceImpactObjectApiName}'; createOrUpdateServiceTaskToServiceImpact();">
                    <span class="ui-button-text">Save &amp; New</span>
                </button>
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow =''; closeDialog(true);">
                    <span class="ui-button-text">Cancel</span>
                </button>
            </div>
        </apex:outputPanel>
    </div>    
</apex:component>