<apex:component allowDML="true">
    <apex:attribute name="serviceModelController" description="controller instance" type="PBB_ServiceModelComponentController" required="true"/>
    
    <apex:actionFunction name="createNewServiceArea" 
        action="{!serviceModelController.createService}" 
        reRender="body, serviceAreaBlock, newOrEditServiceAreaBlock" 
        onComplete="closeDialog({!serviceModelController.isValid});"
        status="instancePopupServiceStatus">
        <apex:param assignTo="{!serviceModelController.createObjectAPIName}" name="createObjectAPIName" value="{!serviceModelController.getServiceAreaObjectApiName}"/>   
    </apex:actionFunction>       

    <apex:actionFunction name="updateServiceArea" 
        action="{!serviceModelController.updateService}" 
        reRender="newOrEditServiceAreaBlock, serviceAreaBlock, body" 
        onComplete="closeDialog({!serviceModelController.isValid});"
        status="instancePopupServiceStatus">
        <apex:param assignTo="{!serviceModelController.createObjectAPIName}" name="createObjectAPIName" value="{!serviceModelController.getServiceAreaObjectApiName}"/> 
    </apex:actionFunction>   

    <div id="newOrEditServiceAreaDialog">
        <apex:outputPanel id="newOrEditServiceAreaBlock" layout="block">
            <h3 class="title">{!if(serviceModelController.serviceArea.serviceArea.Id == '', 'New', 'Edit')} Service Area</h3>
            <div class="dialog-content">
                <apex:pageMessages id="serviceAreaWindowMessages"></apex:pageMessages>
                <table>
                    <tr>
                        <td>{!$ObjectType.Service_Area__c.fields.Name.Label}</td>
                        <td><div class="requiredBlock"></div><apex:inputField value="{!serviceModelController.serviceArea.serviceAreaForUpdate.Name}"/></td>
                    </tr>
                    <tr>
                        <td>{!$ObjectType.Service_Area__c.fields.Service_Model__c.Label}</td>
                        <td><apex:outputField value="{!serviceModelController.serviceArea.serviceAreaForUpdate.Service_Model__c}"/></td>
                    </tr>
                    <tr>
                        <td>{!$ObjectType.Service_Area__c.fields.Description__c.Label}</td>
                        <td><apex:inputField value="{!serviceModelController.serviceArea.serviceAreaForUpdate.Description__c}"/></td>
                    </tr>
                </table>
            </div>
            <div class="ui-dialog-buttonset">
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow =''; createOrUpdateServiceArea('{!serviceModelController.serviceArea.serviceAreaForUpdate.Id}');">
                    <span class="ui-button-text">Save</span>
                </button>
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow = '{!serviceModelController.getServiceAreaObjectApiName}'; createOrUpdateServiceArea('{!serviceModelController.serviceArea.serviceAreaForUpdate.Id}');">
                    <span class="ui-button-text">Save &amp; New</span>
                </button>
                <button type="button" class="button float-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" onclick="currentObjectNameForNewWindow =''; closeDialog(true);">
                    <span class="ui-button-text">Cancel</span>
                </button>
            </div>
        </apex:outputPanel>
    </div>
</apex:component>