<apex:component allowDML="true">
    <apex:attribute name="serviceModelController" description="controller instance" type="PBB_ServiceModelComponentController" required="true"/>
    <apex:actionFunction name="removeServiceModel" 
        action="{!serviceModelController.removeService}" 
        reRender="serviceModelMessages, popupServiceBlock, body, serviceModelBlock, serviceAreaBlock, isReadOnlyBlock" 
        oncomplete="setServiceModelDataTable();"
        status="instanceServiceModelStatus">
        <apex:param assignTo="{!serviceModelController.createObjectAPIName}" name="createObjectAPIName" value="{!serviceModelController.getServiceModelObjectApiName}"/> 
    </apex:actionFunction>
    <script type="text/javascript">    
        function createOrUpdateServiceArea(id) {
    
            if(id == '') {
                createNewServiceArea();
            } else {
                updateServiceArea();
            }
        }
        
        function closeDialogForServiceArea(isValid) {
            if(isValid == true) {
                jQuery( "#newOrEditServiceAreaDialog" ).dialog( "close" );
            }
        }
        
        function openDialogForServiceArea() {
            jQuery( "#newOrEditServiceAreaDialog" ).dialog( "open" );
        }
        function removeServiceModelWithCheck(){
            if ( confirm('Do you want to delete this Service model?') ){
                removeServiceModel();
            }
        }
    </script>
    
    <div class="model-details-wrapper">
        <div class="model-details-title">
            {!serviceModelController.serviceModel.serviceModel.Name}
        </div>
        <div class="model-details-content">
            <div class="model-details-fields float-left">
                <div class="model-details-row">
                    <label class="field-name">Status</label>
                    <div class="field-value">{!serviceModelController.serviceModel.serviceModel.Status__c}</div>
                </div>
                <div class="model-details-row">
                    <label class="field-name">Description</label>
                    <div class="field-value">{!serviceModelController.serviceModel.serviceModel.Description__c}</div>
                </div>
                <div class="model-details-row">
                    <label class="field-name">Service Model Name</label>
                    <div class="field-value">{!serviceModelController.serviceModel.serviceModel.Service_Model_Unique_ID__c}</div>
                </div>
                <div class="model-details-row float-left">
                    <label class="field-name">Created By</label>
                    <div class="field-value">
                        {!serviceModelController.serviceModel.serviceModel.CreatedBy.FirstName} {!serviceModelController.serviceModel.serviceModel.CreatedBy.LastName}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!serviceModelController.serviceModel.serviceModel.CreatedDate}"/>
                        </apex:outputText>
                    </div>
                </div>
                <div class="model-details-row float-left">
                    <label class="field-name">Last Modified By</label>
                    <div class="field-value">
                        {!serviceModelController.serviceModel.serviceModel.LastModifiedBy.FirstName} {!serviceModelController.serviceModel.serviceModel.LastModifiedBy.LastName}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!serviceModelController.serviceModel.serviceModel.LastModifiedDate}"/>
                        </apex:outputText>
                    </div>
                </div>
            </div>
            <div class="model-details-buttons float-right">
                <button type="button" class="button float-right" onclick="removeServiceModelWithCheck();">Delete</button>
                <button type="button" class="button float-right" onclick="preparationCloneServiceModel('{!serviceModelController.serviceModel.serviceModel.Id}');">Clone</button> 
                <button type="button" class="button float-right" onclick="preparationCreateOrEditServiceModel('{!serviceModelController.serviceModel.serviceModel.Id}');">Edit</button>
            </div>
            <div class="clr"></div>
            <button type="button" class="button new-record" onclick="preparationCreateOrEditServiceArea();">
                    New Service Area
            </button>   
            <div class="clr"></div>
        </div>
    </div>
</apex:component>