<apex:component >
    <nav class="navigation">
        <a class="replace" href="{! $Page.PatientEnrollment_1}?projectId={!$CurrentPage.parameters.projectId}&page=1">{!$Label.PBB_Mobile_8_11_Enrollment_Summary}</a>
        <a class="replace" href="{! $Page.PatientEnrollment_1}?projectId={!$CurrentPage.parameters.projectId}&page=2">{!$Label.PBB_Mobile_8_11_Patient_Enrollment_Trend}</a>
        <a class="replace" href="{! $Page.PatientEnrollment_1}?projectId={!$CurrentPage.parameters.projectId}&page=3">{!$Label.PBB_Mobile_8_11_Enrollment_Status_by_Country}</a>
        <a class="active" href="">{!$Label.PBB_Mobile_8_11_Enrollment_Status_by_Site}</a>
    </nav>
    <script>
    	$('.navigation .replace').on('touchstart', function(){
   	        if (typeof sforce != 'undefined' && sforce != null) {
                sforce.one.navigateToURL($(this).attr('href'), true);
            } else {
                location.href($(this).attr('href'));
			}
            return false;
        });
    
    </script>
</apex:component>