<apex:component Controller="PBB_BillFormulaModelsController" allowDML="true">
    <apex:includeScript value="{!URLFOR($Resource.PBB_jqueryUiMin)}"/>
    <apex:includeScript value="{!URLFOR($Resource.PBB_DataTablesJs)}"/>

    <script type="text/javascript">

        // Jquery Table 
        jQuery(document).ready(function() {
            jQuery("#billformulaTableId").dataTable({
                "bFilter": true,
                "bLengthChange": false,
                "bSort": true,
                //"aoColumnDefs": [ { "sType": "alt-string", "aTargets": [ 0 ] }, {"sWidth": "50%", "aTargets":[3]} ],
                "iDisplayLength": 5,
                "aaSorting": [ [3,'desc'] ], 
                "fnDrawCallback": function() {},
                "aoColumns": [ 
                    null,
                    null,
                    null,
                    null,
                ]
            });
        });

        // Extension to Sort the Column based on alt string of image.
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "alt-string-pre": function ( a ) {
                return a.match(/alt="(.*?)"/)[1].toLowerCase();
            },
            
            "alt-string-asc": function( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            
            "alt-string-desc": function(a,b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );

    </script>
    <apex:commandlink action="{!getNewPageReference}" target="_blank" style="text-decoration:none" value="New Bill Formula Model"  styleClass="button float-right bottom-margin"/>
    <table id="billformulaTableId" class="modelTable">
        <thead>
            <tr>
                <th>{!$ObjectType.Formula_Name__c.fields.Name.Label}</th>
                <th>{!$ObjectType.Formula_Name__c.fields.Description__c.Label}</th>
                <th>{!$ObjectType.Formula_Name__c.fields.CreatedDate.Label}</th>
                <th>{!$ObjectType.Formula_Name__c.fields.LastModifiedById.Label}</th>
            </tr>
        </thead>
        <tbody>
            <apex:repeat value="{!billFormulaList}" var="bf">
                <tr>
                    <td><apex:outputLink value="/{!bf.id}" target="_blank">{!bf.Name}</apex:outputLink></td>
                    <td>{!bf.Description__c}</td>
                    <td>
                        {!bf.CreatedBy.Name}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!bf.CreatedDate}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        {!bf.LastModifiedBy.Name}
                        <span> </span>
                        <apex:outputText value="{0,date,dd'-'MMMM'-'yyyy}">
                            <apex:param value="{!bf.LastModifiedDate}"/>
                        </apex:outputText>
                    </td>
                </tr>
            </apex:repeat>
        </tbody>
    </table>
</apex:component>