<apex:component >
    <br></br>
    <apex:attribute name="PageParameters" description="The users current page parameters" type="string" required="false" />
    <apex:attribute name="DisableTabsList" description="To disable links of tabs" type="String[]" required="false" />
    
    <apex:attribute name="PBBProjectID" description="The users current page parameters" type="string" required="false" />
    <apex:attribute name="PBBScenarioID" description="The users current page parameters" type="string" required="false" />
        
    <!-- 
        *** USAGE INSTRUCTIONS ***
        
        For new menu items; copy an entire <A> tag and adjust the target page name in the HREF attribute. Keep
        the "?bid={!bidnumber}" at the end to transfer the bid number as a parameter to the target page.
        
        Multiple pages under one navigation item; when multiple pages need a menu item active then concatinate the page
        names in the class attribute at the location indicated with the "*" here: "IF(CONTAINS(LOWER('*****')"
        Example: IF(CONTAINS(LOWER('BDTPR_LoadBid,BDTPR_SomethingElse1,BDTPR_SomethingElse2')
    -->    
    <left class="nav">
        
         <a id="PIpage" onclick="NavPage('/apex/PBB_ProjectInformation'); return false;" href="javascript:void(0)" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ProjectInformation'),LOWER($CurrentPage.Name)),'active','')}">
            Project Information
            
        </a>
        <!-- <a id="PIpage" href="/apex/PBB_ProjectInformation?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ProjectInformation'),LOWER($CurrentPage.Name)),'active','')}">
            Project Information            
        </a> -->
        
         <a id="SRMpage" onclick="NavPage('/apex/PBB_ScenarioDetails'); return false;" href="javascript:void(0)" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ScenarioDetails'),LOWER($CurrentPage.Name)),'active','')}">
            SRM 
        </a>  
        <!-- <a id="SRMpage" href="/apex/PBB_SRMlist?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_SRMlist'),LOWER($CurrentPage.Name)),'active','')}">
            SRM old
        </a> -->
        
        <a id="CSpage" href="/apex/PBB_CountryServices?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_CountryServices'),LOWER($CurrentPage.Name)),'active','')}">
            Country Services
        </a>
        
        <a id="SDpage" href="/apex/PBB_ScenarioQuestionnaire?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_ScenarioQuestionnaire'),LOWER($CurrentPage.Name)),'active','')}">
            Service Details
        </a>
        
        <!--<a id="IMpage" href="/apex/PBB_InterimMonitoring?PBBScenarioID={!PBBScenarioID}" title="{!if(DisableTabsList.size>0,'Please save any changes before proceeding!','')}"
            class="nav {!IF(CONTAINS(LOWER('PBB_InterimMonitoring'),LOWER($CurrentPage.Name)),'active','')}">
            Interim Monitoring
        </a>-->
 <!-- -----------------------Disable the Client Unit Grid Tab---------------------------------- -->
        <script>           
            var TabList = new Array();
            TabList = '{!DisableTabsList}';
            //alert(TabList);
            if(TabList!=''){
                //alert(TabList);
                TabList =TabList.slice(1, TabList.length-1); 
                //alert(TabList);             
                var TabfullList   = TabList.split(", "); 
                //alert(TabfullList); 
                for (var i = 0; i < TabfullList.length; i++) {                     
                    var v= TabfullList[i];
                    var obj = document.getElementById(v);
                    //alert(obj);
                    var href = obj.getAttribute("href");                      
                    //alert(href);
                    if(href && href != "" && href != null)
                        obj.setAttribute('href_bak', href);
                    obj.removeAttribute('href');
                    //alert(obj);
                }  
            }
            
            //navigate to specific page if its new scenario 
            function NavPage(page) {
                //alert(page);
                //alert("{!PBBScenarioID}");
                var PBBID= "{!PBBScenarioID}";
                //alert(PBBID);
                if(PBBID.indexOf("retURL") > -1){
                    window.location=page+'?{!PBBScenarioID}';
                }else{
                    if(page =='/apex/PBB_ScenarioDetails')
                        window.location=page+'?id={!PBBScenarioID}';
                    else    
                        window.location=page+'?PBBScenarioID={!PBBScenarioID}'; 
                }
            }
        </script>       
    </left>    
    <style>
    left.nav {padding: 50px 0px 50px 0px;}
    
    a.nav {
    background-color:#f8f8f8;
    color:#333;
    text-decoration:none;
    border-top:2px solid #747E96;
    border-bottom:1px solid #DBDBDB;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:700;
    font-size:1.0em;
    margin:5px 0;
    padding:5px 10px;
    }
    
    a.nav:hover {
    color:#7af;text-decoration:none;
    }
    
    a.nav:first-child {
    -moz-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    }
    
    a.nav:nth-child(1n+1) {
    margin-left:-4px;
    }
    
    a.nav:last-child {
    -moz-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
    }
    
    a.active,a.active:hover {
    background-color:#35B4E9;
    color:#FFF;
    }
    </style>

</apex:component>