<apex:component controller="RM_EmployeeInfoCompController" id="employeeInfo" allowDML="true" >
<apex:attribute name="emplRID" description="Employee Record ID" type="string" required="true" assignTo="{!employeeRID}"/>
	 <script type="text/javascript">
 		{!EmployeeInfo}
 	</script>
 	<apex:pageBlock title="Resource Detail" id="ri">  
         
            <table width="90%">
                <tr>
                	<td width="15%" class="label">Employee ID</td>
                	<td width="15%"><apex:outputField value="{!empl.Name}"/> </td>
                    <td width="15%" class="label">Email</td>
                    <td width="15%"> <apex:outputField value="{!empl.Email_Address__c}"/></td> 
                    <td width="15%" class="label">Status</td>
                    <td width="15%"><apex:outputField value="{!empl.Status_Desc__c}" /> </td>
                    
                </tr>
                <tr>
                	 <td width="15%" class="label">Role</td>
                    <td width="15%"> {!empl.job_class_desc__c}</td>
                    <td width="15%" class="label">IsManager</td>
                    <td width="15%"><apex:outputField value="{!empl.Manager__c}" /></td>
                    <td width="15%" class="label">Hired</td>
                    <td width="15%"><apex:outputField value="{!empl.Date_Hired__c}" /> </td>
                </tr>
                <tr>
                	<td width="15%" class="label">Department</td>
                    <td width="15%"><apex:outputField value="{!empl.Department__c}" /> </td> 
                   <td width="15%" class="label">Supervisor/Manager</td>
                    <td width="15%"><apex:outputField value="{!empl.Manager_Full_Name__c}"/> </td>
                     <td width="15%" class="label">Term</td>
                    <td width="15%"><apex:outputField value="{!empl.Term_Date__c}"/> </td>
                </tr>
              
                <tr>
                	  <td width="15%" class="label">BUF Code</td>
                    <td width="15%"><apex:outputField value="{!empl.Buf_Code__c}"/>
                             </td>
                     <td width="15%" class="label">Mgr Email</td>
                    <td width="15%"><apex:outputField value="{!manager.Email_Address__c}" rendered="{!manager!=null}" /> </td>
                    <td width="15%" class="label">State/Province</td>
                    <td width="15%"><apex:outputField value="{!empl.State_Province__c}"/> </td>
                </tr>
                <tr>
                	  <td width="15%" class="label">Business Unit</td>
                    <td width="15%"><apex:outputField value="{!empl.Business_Unit_Desc__c}"/>
                             </td>
                     <td width="15%" class="label">Country</td>
                    <td width="15%"><apex:outputField value="{!empl.Country_Name__r.Name}"/> </td>
                    <td width="15%" class="label">Location</td>
                    <td width="15%"><apex:outputField value="{!empl.Location__c}"/> </td>
                </tr>
                <tr>
                	  <td width="15%" class="label">FTE Equivalent</td>
                    <td width="15%"><apex:outputField value="{!empl.FTE_Equivalent__c}"/>
                             </td>
                     <td width="15%" class="label">GL Code</td>
                    <td width="15%"><apex:outputField value="{!empl.Home_Company__c}"/> </td>
                    <td width="15%" class="label"></td>
                    <td width="15%"> </td>
                </tr>
            </table> 
       	</apex:pageBlock> 
       	<apex:pageBlock title="Experience Summary"  >
         	<table width="90%">
         		<tr>
         			<td width="15%" class="label"><apex:outputLabel style="font-weight: bold;color: #000080; font-size:13px" value="Experience"/></td>
                    <td width="15%"><apex:outputLabel style="font-weight: bold;color: #000080; font-size:13px" value="Years"/>
                             </td>
                     <td width="15%" class="label"><apex:outputLabel style="font-weight: bold;color: #000080; font-size:13px" value="Experience"/></td>
                    <td width="15%"><apex:outputLabel style="font-weight: bold;color: #000080; font-size:13px" value="Years"/> </td>
                    <td width="15%" class="label"></td>
                    <td width="15%"> </td>
         		</tr>
         		 <tr>
                	  <td width="15%" class="label">Study Roles</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_Study_Role_Yrs__c}"/>
                             </td>
                     <td width="15%" class="label">EDC Experience</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_EDC_Experience_Yrs__c}"/> </td>
                    <td width="15%" class="label">Number of PRA Protocols</td>
                    <td width="15%"> <apex:outputField value="{!empl.NBR_PRA_Protocols__c}"/></td>
                </tr>
                
                 <tr>
                	  <td width="15%" class="label">PRA Monitoring Experience</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_PRA_Monitoring_Yrs__c}"/>   </td>
                     <td width="15%" class="label">Current Functional Role</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_Current_Role_Yrs__c}"/> </td>
                    <td width="15%" class="label">Number of Non-PRA Protocols</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_Non_PRA_Protocols__c}"/>  </td>
                </tr>
                 <tr>
                	  <td width="15%" class="label">Non-PRA Monitoring Experience</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_Non_PRA_Monitoring_Yrs__c}"/>
                             </td>
                     <td width="15%" class="label">Years with PRA</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_At_PRA_Yrs__c}"/> </td>
                    <td width="15%" class="label"></td>
                    <td width="15%"> </td>
                </tr>
                <tr>
                	  <td width="15%" class="label">Lab Experience</td>
                    <td width="15%"><apex:outputField value="{!empl.NBR_Lab_Experience_Yrs__c}"/>
                             </td>
                     <td width="15%" class="label"></td>
                    <td width="15%"> </td>
                    <td width="15%" class="label"></td>
                    <td width="15%"> </td>
                </tr>
         	</table>
         </apex:pageBlock>
     	  
           
          <apex:pageBlock title="Resource Notes"  rendered="{!bViewNote}">  <!-- rendered="{!bViewNote}" -->
            <apex:form >
             <apex:outputPanel >
               <table width="100%"> 
                <tr>                    
                    <td align="left"> 
                        <apex:inputTextArea rows="3"   value="{!RMAddComment}" id="rmAddComment" />                      
                        
                        
                    </td> 
                    
                </tr>  
                <tr>
                    <td class="label">
                    <apex:commandButton action="{!addNote}" value="Save"/>  
                    </td>
                </tr>
            </table>
            
            </apex:outputPanel> 
                
            
            </apex:form>
         </apex:pageBlock>
         
</apex:component>