<apex:component controller="RM_NoteCompController" id="employeeInfo" allowDML="true" >
<apex:attribute name="SemployeeRID" description="Record ID" type="string" required="true" assignTo="{!employeeRID}" />
<script type="text/javascript">
 		{!AssignmentNote}
 	</script>
   <apex:stylesheet value="{!$Resource.RM_Style}"/> 
     <apex:pageBlock title=" Resource Notes"  tabStyle="WFM_Project__c"  rendered="{!bViewNote}">
        <apex:form >
         <apex:outputPanel >
           <table width="100%"> 
            <tr>                    
                <td align="left"> <!------->
                    <apex:inputTextArea rows="3"   value="{!RMAddComment}" id="rmAddComment" />
                </td> 
            </tr>  
            <tr>
                <td class="label">
                <apex:commandButton action="{!addNote}" value="Save"/>  
                </td>
            </tr>
        </table>            
    </apex:outputPanel> 
    </apex:form>
 </apex:pageBlock>
</apex:component>